[2015-07-07 17:12] jaredpar commented on #1633
@digitalcosmos the behavior definitely isn't intentional.  I use this feature quite frequently and a delay would drive me crazy as well.

Have you tried using normal <kbd>PageUp</kbd> and <kbd>PageDown</kbd> in the same scenarios where <kbd>Ctrl+D</kbd> is slow?  If <kbd>PageUp</kbd> is slow as well then it would speak to an underlying editor issue vs. a VsVim one.

[2015-07-07 17:15] jaredpar commented on #1632
Thanks for digging into it.  I suspected this may be the case.  On occasion our extensions conflict and we end up competing for the same key stroke.  I will check and see if this is an issue I've previously fixed that just hasn't been released yet.

[2015-07-08 08:05] MartinL0815 opened #1634 "Incomplete support for using High-Contrast desktop theme and VS2013 dark theme"
Because of eye disabilities I needed to switch to a high contrast desktop theme, which is a kind override for most of the applications normally having an own visual representation.
Even VS2013 is completely different in its style after switchting to the high contrast desktop theme.

So - now I have problems reading the "command line and feedback area", which has still a white background and a blac

[2015-07-08 20:42] ri-aje commented on #1614
just tried, worked for me as well. looks like it has been fixed?

[2015-07-08 21:22] jaredpar commented on #1614
@ri-aje it's possible as I recently fixed a few other bugs in this area.  Will look into coding up a unit test to verify this.

[2015-07-08 21:25] jaredpar commented on #1614
Hmm, can you all provide a code sample where this behavior was seen?  Want to make sure I craft a good test here.

[2015-07-10 09:13] drinkmystery opened #1635 "Visual Assist 's Smartselect could not work in vsc"
I try to use this map:
nmap <leader>a :vsc VAssistX.SmartSelectExtend<CR>.
But it could not get work, when I foucs on a word and type <leader>a, it just jumps to the end of the word.
I guess this is similar to  #1377, but I am not sure.
If they are caused by same reason, did b6adb10 fix this ?
Using VS2013 and VsVim 1.8.0.0.

[2015-07-10 09:14] digitalcosmos commented on #1633
Seeing that you don't experience this delay I took a moment to reflect on the scenario.
Turns out that I experience the delay only on my portrait monitor (1200x1920) and when I put VS on the other (landscape) monitor there is no delay.

In order to replicate either put the monitor in portrait mode and press `Ctrl+D` or even better, set the font to a small size so that you have about 100 lines in v

[2015-07-10 23:05] ri-aje commented on #1614
1. copy paste the following into vim/vsvim.
if (condition)
{
statement;
}

2. place cursor on the statement line.

3. in command mode, type >i}
in vim, I get the following. note my tab == one space, so it may not be that obvious.
if (condition)
{
 statement;
}

in vsvim, I got
if (condition)
 {
 statement;
 }

note three consecutive lines right after if are all indented.
note that this is not the

[2015-07-10 23:12] ri-aje commented on #1614
markdown messed up the format, so I am uploading a picture to show exactly what I want. I also increased my tab width to 4 to make it easier to see the effects.
![untitled](https://cloud.githubusercontent.com/assets/321429/8630738/69620bca-271e-11e5-846a-b00ec963493f.png)

[2015-07-11 04:29] aholmes commented on #1470
So were you able to reproduce this? I'm running all the same tools and running into this.

[2015-07-14 04:38] jaredpar commented on #1470
@aholmes I have intermittent luck reproducing this.  Not enough to debug it unfortunately.

Going to try again with a new VM the next time I am doing a R# push. Probably in the next two weeks.

[2015-07-14 04:40] jaredpar commented on #1614
@ri-aje I added some explicit code markers to your first comment and it seems to have fixed the formatting to show the problem.  The issue is pretty clear now.  Thanks for adding the sample!

[2015-07-14 04:41] jaredpar commented on #1633
@digitalcosmos interesting.  I haven't really ever coded that way before.

Do you experience the delay if you use <kbd>PageUp</kbd> and <kbd>PageDown</kbd>

[2015-07-14 04:43] jaredpar commented on #1635
The referenced change was both

1. A general hook for fixing this problem
2. A R# specific implementation

I'll need to add a VAssistX implementation for this issue.  Hopefully not a ton of work.  Mostly making sure I have the right VAssistX package GUID.

[2015-07-14 04:47] jaredpar commented on #1634
@MartinL0815 I will look into getting this done.  It's been awhile since I've implemented accessibility features though (almost 10 years) so it's going to take me a short bit to figure out how to hook into high contrast correctly.  Once that's done though I suspect it should be very doable as I don't have much in the way of complex WPF code here.

I have a long upcoming trip this week.  Let's see

[2015-07-14 04:55] jaredpar commented on #1634
@MartinL0815 also as a temporary work around it is possible to change the margin to match the current high contrast theme.

- Tools -> Options -> VsVim -> Default
- Change Command Margin Background / Foreground Color

These settings will persist across sessions of Visual Studio.  Using this I was able to get the text in the command margin to match that of the editor (using High Contrast `#1).

Was

[2015-07-14 08:26] MartinL0815 commented on #1634
Thanks Jared!

I applied several color changes in the `Options/Environment/Fonts & Colors` section, where to find the VsVim settings, too!

Since high-contrast-theming issues are relevant for me, I write to most of the developers or companies with applications or application extensions not "*respecting*" high-contrast-theming overrides.

Your response gives hope, like the one from the Entrian Sour

[2015-07-14 10:49] digitalcosmos commented on #1633
@jaredpar I feel coding on a vertical screen is better when dealing with large files.
For me `PageUp` and `PageDown` have no delay in scrolling.
I created a file with 1000 empty lines(`1000o<Esc>`) and scrolling through with `Ctrl+D` has the same delay as scrolling through a file with code. The size of the file is irrelevant, the delay only increases when lowering font size (thus having more lines

[2015-07-14 13:48] aholmes commented on #1470
Is there anything I can do to help (short of trying to fix it myself)?

[2015-07-16 00:51] nexusoeama opened #1636 "vim's 'H' command doesn't work properly when it's preceeded with a number"
Something is wrong with the 'H' command.

For example if you type in '5H' while in normal mode, the cursor should jump to the 5th line from the top of the current editor's view. However, for me it almost always jumps to the 1st line, as though you didn't type the '5' - just ignoring the preceded number.

Interestingly, if you type '5H' followed by another '5H', the cursor first jumps to the first

[2015-07-16 01:01] spiralsam opened #1637 "The 'H' command doesn't work properly when it's preceded with a number."
Something is wrong with the 'H' command.

For example if you type in '5H' while in normal mode, the cursor should jump to the 5th line from the top of the current editor's view. However, for me it almost always jumps to the 1st line, as though you didn't type the '5' - just ignoring the preceded number.

Interestingly, if you type '5H' followed by another '5H', the cursor first jumps to the first

[2015-07-16 01:14] spiralsam opened #1638 "The 'H' and 'L' commands, when preceded with a number, won't jump to the proper line if that line is a blank line."
I've just submitted a bug #1637 that might prevent this bug here from being tested properly unless you are careful when testing it. But they are different issues.

If you type '5L', the cursor should jump to the 5th line from the bottom of the current view. This normally works, however, the problem is that if the 5th line from the bottom is an entirely blank line, it may not jump to the right line

[2015-07-16 05:16] spiralsam commented on #1638
I just noticed that this also happens with the 'M' command without any preceding number.

[2015-07-16 20:54] sgrassie opened #1639 "Command bar is duplicated"
![capture](https://cloud.githubusercontent.com/assets/194140/8734871/dcb4e698-2c04-11e5-89e5-8b431510b17f.PNG)

I get this on my home machine. On my machine at work, it's fine, there is only one.

I've tried uninstalling and reinstalling VsVim, and I'm running the latest of the VSIX gallery.

I don't think this is an issue with VsVim... but I can't make it go away, so I'm open to suggestions.

[2015-07-17 09:53] idealist1508 commented on #1639
It depend on `set laststatus` value.
Please see #1350

[2015-07-17 11:05] sgrassie commented on #1639
:+1:
I just tried that here at work and have been able to turn it on/off.

Thank you!

[2015-07-17 11:05] #1639 closed

[2015-07-19 18:53] jaredpar commented on #1637
Thanks for reporting.  I will take a look at this.

[2015-07-19 19:01] jaredpar commented on #1470
@aholmes if I cant repro it locally then I may have to publish a debug build to you that I can grab a log file from to see where the key strokes are getting trapped at.

[2015-07-19 19:03] jaredpar commented on #1633
@digitalcosmos if <kbd>PageUp</kbd> doesn't have a delay then this is likely a bug in VsVim.  Which is strange because the algorithm here is pretty standard, nothing stands out at a glance.  Probably an odd perf characteristic of one of the APIs that I'm using.  Will profile and see what's going on.

[2015-07-19 19:19] aholmes commented on #1470
Great. Standing by.

-----Original Message-----
From: "Jared Parsons" <notifications@github.com>
Sent: ‎7/‎19/‎2015 12:01 PM
To: "jaredpar/VsVim" <VsVim@noreply.github.com>
Cc: "Aaron Holmes" <aaron@aaronholmes.net>
Subject: Re: [VsVim] With R# installed [Enter] over a string in JavaScriptfiles causes \r\n to be entered (#1470)

@aholmes if I cant repro it locally then I may have to publish a debu

[2015-07-19 19:30] jaredpar commented on #1637
I've played around with this and am unable to reproduce this behavior.  I've tried in a variety of settings and count + <kbd>H</kbd> behaves as expected.  Can you give me a bit more information about where you are seeing this behavior?  C, Javascript, etc ... and perhaps some sample code where it occurs?

Also is it possible there are entries in your vimrc file which would effect the <kbd>H</kbd>

[2015-07-19 19:33] jaredpar commented on #1638
I'm unable to reproduce this behavior.  I can jump to blank lines in normal mode with <kbd>H</kbd> or <kbd>L</kbd>.  Can you give me a bit more info about where you are seeing this?  C, Javascript, etc ...

[2015-07-20 16:04] #1603 closed

[2015-07-20 16:04] #1614 closed

[2015-07-20 16:04] #1635 closed

[2015-07-20 16:05] jaredpar commented on #1636
It looks like this is a duplicate of #1637.  Going to let that one be the primary.

[2015-07-20 16:05] #1636 closed

[2015-07-20 16:07] jaredpar commented on #1634
This particular change is my first attempt at getting high contrast support going:

On my machine at least this caused the command margin to match up the colors of the editor when I toggled into and out of high contrast mode.

Note: This is an area that I am completely new at.  I've played around a bit and it works fine but I'm unsure if the fix goes far enough.  If there are other items that need

[2015-07-20 19:42] MartinL0815 commented on #1634
Hi Jared,

Thanks for the support!

Since i'm new to this problem, too, I fear I must test and try a bit, too!

I only know about the override character of the high-contrast-mode and that
I implemented the colors to be used to be mostly system colors.
If not I decided to use the W3C recommendations for minimum color contest
in accessibility area, to demand a brightness contrast greater 125 and hue

[2015-07-21 14:44] kalebpederson opened #1641 "Error closing/saving VsVim keybindings dialog"
I loaded up VsVim for the first time in VS-2015 and it warned me of potential conflicts, so I pulled up the key bindings dialog by clicking the "Configure" button. At that point I looked through the potential conflicts and then clicked ok at which point I received an error in VS. Here's the error recorded in the activtiy log

Thank you for continuing to support and work on VsVim. It's truly greatl

[2015-07-21 16:56] skalpin commented on #931
I think this is broken again in the latest release with vs2013.

[2015-07-21 16:57] orlandow commented on #1601
still not working in v2.0.0.0

[2015-07-21 19:15] mahinshaw commented on #1601
Just updated.  I "g{t,T}" no longer works for me either.  Using VS 2013

[2015-07-21 22:27] jaredpar commented on #1601
Heard a couple of reports about this.  Going to debug into it tonight and see what is going on.

[2015-07-22 00:07] jaredpar commented on #1601
Yeah this is a regression in my deployment and build step.  I will get a fix out for this tomorrow in the AM.

[2015-07-22 17:11] jaredpar commented on #1601
This should be fixed now in the 2.0.1 release.

[2015-07-22 17:11] #1601 closed

[2015-07-22 17:12] jaredpar commented on #931
@skalpin just released 2.0.1 which fixes this problem.  There was a deployment hiccup with 2.0.0 that broke this functionality.

[2015-07-22 17:24] mahinshaw commented on #1601
Just updated.  Works great.  Thanks!

[2015-07-22 20:30] skalpin commented on #931
@jaredpar I just got the update. Thanks for being so quick with that.

[2015-07-23 20:48] jaredpar commented on #1641
Thanks for reporting!  Every release we find a new way that API can fail :frowning:

[2015-07-24 13:38] l3m commented on #946
I have had this exception thrown multiple times within a short time in VS2015 with VsVim.

[2015-07-24 14:22] digitalcosmos opened #1642 "VS 2015 RTM regression of #1601"
Hi @jaredpar,
I've upgraded from 2015 community to RTM and installed version 2.0 of VsVim from Visual Studio Gallery, but I had to rollback to version 1.8.342 because the behavior in issue #1601 is still present. (`gt`/`gT` doesn't switch tab)

Thanks for developing and maintaining VsVim :+1:

[2015-07-24 15:28] spiralsam commented on #1638
Well I've just updated VsVim to 2.0.1.0 from 1.8.0 a moment ago and I can no longer produce it any more either (had tested with.cpp files). Same goes for #1637 - can't reproduce any more!

[2015-07-24 21:56] jaredpar commented on #1642
@digitalcosmos can you try the 2.0.1 version of VsVim?  I had a deployment bug in the 2.0.0 version that caused <kbd>gt</kbd> to be broken.  The most recent drop should have fixed this.

[2015-07-26 15:46] jaredpar commented on #1638
@spiralsam good to hear.  We'll close them for now then.  Please post back if the issue comes up again.

[2015-07-26 15:46] #1638 closed

[2015-07-26 15:46] #1637 closed

[2015-07-26 15:47] jaredpar commented on #946
@l3m have you seen the exception with the <kbd>o</kbd> or another command?

[2015-07-26 21:44] digitalcosmos commented on #1642
Tab switching works as intended. Thanks :grin:

[2015-07-26 21:44] #1642 closed

[2015-07-27 09:19] anaisbetts opened #1643 "'gd' now throws Parse Error in VS2015"
Not sure if this is a bug in the latest version or in VS2015, but I've always been able to use 'gd' to Go to Definition in VS2013 in C# projects, but in VS2015 with latest VsVim I see "Parse Error" instead. 'gD' seems to work as expected

[2015-07-27 09:55] l3m commented on #946
It happened quite a few times. I tested it now and could only reproduce it with o, but I am quite certain it also happened with i.

Also, here's the activity log entry, if that helps:

<entry>
    <record>739</record>
    <time>2015/07/27 09:17:51.511</time>
    <type>Error</type>
    <source>Editor or Editor Extension</source>
    <description>System.ArgumentException: The supplied SnapshotPoint

[2015-07-27 15:00] jaredpar commented on #946
@l3m thanks for the entry log.  Unfortunately it confuses things a bit as that code path has been hardened against this particular type of error (other extensions doing post edit cleanups).  Also this stack is pointing to <kbd>x</kbd> or <kbd>Del</kbd> as being the culprit.  Possible though they are hitting a common code path with <kbd>o</kbd>.

Can you tell me a bit more about your setup?  In par

[2015-07-27 15:16] l3m commented on #946
Mainly on a C#-project, so while editing .cs files.

VS2015, I have ReSharper Ultimate 9.1.3, VsVim 2.0.1 and Viasfora 2.5.62 installed, on Windows 7 Enterprise x64.

[2015-07-28 00:33] ahmelsayed opened #1644 "*it (cit, vit, dit, ...) don't work correctly if the tag includes a property that has a - in its name"
Put the cursor on the text in the anchor below (`Click the link`)
[code]
hit `vit` or `cit`. I would expect the text `Click the link` to get highlighted or deleted,
but actually everything in the `div.outer-div` gets highlighted\deleted.

VIM (7.4) handles it correctly

[2015-07-28 00:50] ahmelsayed commented on #1644
I forgot to mention. I think this is because of `ng-click` on the anchor. If you get rid of the `-`, *it commands work as expected.

[2015-07-28 14:07] l3m commented on #946
Hm, it looks like it might be related to ReSharper. I updated to ReSharper from 9.1.something (not sure) to 9.1.3 yesterday, and since then, the crash did not reoccur.

There was also some weird interaction between the non-updated ReSharper and VsVim, which also did not reoccur.

[2015-07-28 16:28] philipmat opened #1645 "Sort completion list"
Please consider sorting the completion list that shows up on Ctrl-N/Ctrl-P. At a minimum, it would be nice if it was sorted alphabetically (case sensitive). It would be really nice if it was sorted by distance from insertion point: if the word is defined in the same file, it should show up before words defined in different files.

[2015-07-28 16:36] philipmat opened #1646 "Caret position on mouse-select yields to incorrect yanked text"
When performing mouse select (drag or double-click), VsVim positions the cursor after the end of the select. This affect copy operations because now they include an extra character.

For example, given `public IEnumerable<string>`, if you double-click `IEnumerable` - the visual selection contains `IEnumerable`, but the caret is on `<` and yanking after this select operation puts `IEnumerable<` in

[2015-07-28 16:42] philipmat commented on #1646
Fixed in VsVim 2.0.1.0 - the cursor is still in the incorrect position, but the text yanked matches the selection.

[2015-07-28 22:33] philipmat commented on #1646
No, sorry, I was wrong - still seeing this happening.

[2015-07-29 01:03] jaredpar commented on #1646
I'm unable to reproduce this bug.  I'm using VsVim 2.0.0.0.  The behavior I see is that double click will select the word and move the caret after the selection (caret is not a part of selection here).  A <kbd>y</kbd> in this case will select only the selected text.

This bug did exist in the past (see #1465).  That should have been fixed by 1.8.0.0 though.

[2015-07-29 01:05] jaredpar commented on #1645
@philipmat do you know what the gVim behavior is here?

[2015-07-29 01:06] jaredpar commented on #946
@l3m ah okay.  It's possible there was an interaction with the other issue R# fixed from 9.1.2.  If it shows up again with 9.1.3 let me know and I'll take a look.

[2015-07-29 01:08] jaredpar commented on #1644
Thanks for reporting the bug.  It does indeed appear to be the `-` in the attribute name that is causing the issue.  Will fix.

[2015-07-29 02:15] philipmat commented on #1645
Vim behavior is sorted by distance from the insertion point. Given a list of:
[code]

Pressing `Ctrl-N` *after a44* yields a popup containing the items:
[code]
and the first element *a55* is selected.

If `Ctrl-P` is pressed, the list is the same, but the selection cursor is placed at the bottom, thus selecting *a44*.

[2015-07-29 18:31] philipmat commented on #1646
It still happens, but – ugh – I don't have a reproducible scenario. When it happens though, disabling (Ctrl-F12) and re-enabling VsVim makes it go away.

I'm going to close this issue and re-open it if I found a way to reproduce it.

[2015-07-29 18:31] #1646 closed

[2015-07-30 20:19] hyh opened #1647 "unnamed clipboard not working in Win10"
Hi, I'm using Win10 and VS2015 and I have ```set clipboard=unnamed``` in my vimrc.
VS constantly reports plugin exception on commands with copy (like yy or dd).
Here's the detail extracted from ActivityLog.xml:
[code]

[2015-07-31 08:22] Mpdreamz commented on #749
+1 would love this so that the caret cursor doesn't change depending on what symbol you are over.

[2015-07-31 20:20] josesaldana opened #1648 "NullPointerException when trying to delete using 'x' key"
Hello Jared,

Thanks a lot for the great work on this plugin for VS!  It's definitely something very helpful for people used to edit code using Vim.

After using it for some time now I'm getting the following error when trying to delete a character using the keystroke **x**:

[code]

When opening that file I see the following error:

[code]

Not sure what could be happening.  I've re-installed the

[2015-07-31 22:01] jaredpar commented on #1648
@josesaldana thanks for reporting that bug.

The scenario which leads to this exception is a bug I found and fixed long ago (several years).  I've verified the fix is in tact on my side.  I think the most likely cause of this behavior change is another extension which is modifying the undo stack in an unsupported way.

Have you recently installed any other extensions?  Can you tell me a bit more a

[2015-08-01 15:27] jaredpar commented on #1647
@jasonmalinowski have you seen this on Windows 10?

[2015-08-01 16:44] jaredpar commented on #1643
Hmm, that's strange.  Can you take a look at your _vimrc file and see if you have any mappings around `gD`.  It's possible the vimscript support improved and started processing an existing `gD` mapping that it had previously ignored.

[2015-08-01 19:15] #1641 closed

[2015-08-01 19:15] #1644 closed

[2015-08-01 19:15] #1645 closed

[2015-08-02 21:58] cchamberlain commented on #1629
This feature would be huge for me in C# (using R#).  I would use VS for a lot more of my general editing if it supported macros better than the alternatives (WebStorm does a pretty good job with them, zero support in Atom).

[2015-08-03 18:29] jasonmalinowski commented on #1647
I just tried to reproduce this on the released Windows 10 build and it worked fine for me.

[2015-08-04 07:40] jankner opened #1650 "Cursor goes past end of line when clicking past the end of line in normal mode"
In gVim, when clicking somwhere to right of the text on a line, the cursor is positioned on the last character of the line. In VsVim the cursor is positioned to the right of the last character. Placing the cursor past the end of the text on a line normally isn't possible in Vim and in VsVim it can only be placed there by using the mouse.

[code]

[2015-08-05 19:41] fredizzimo commented on #1647
I just happened to see that there apparently are big problems with ctrl-c in windows 10 see here for example https://twitter.com/tomwarren/status/626428691703275520. So that could be related, and maybe it's worth waiting until that's fixed before looking into the issue.

[2015-08-05 21:33] jaredpar commented on #1647
Unfortunately this is an issue that I can't really control.  The clipboard is controlled by Windows and if it gets into a bad state, which apparently it can, then it can't be fixed by VsVim.  The code in question knows the clipboard is dangerous, wraps it in a `try / catch` and reports the issue to Visual Studio.  I can't stop reporting the problem because it would cause copy / paste to silently f

[2015-08-05 21:33] #1647 closed

[2015-08-05 22:02] jaredpar commented on #1650
Thanks for reporting.  I will take a look at that.

[2015-08-05 22:03] jaredpar commented on #1650
Note that the caret can be positioned at `<EOL>` when `ve=onemore` via a mouse click.

[2015-08-06 09:38] jankner commented on #1650
I didn't know that. That's not what's happening here, though, since using the mouse is the only way to position the caret at <EOL>.

[2015-08-06 18:07] jaredpar commented on #1650
@jankner yep in this case it repros no matter what the setting of `ve=onemore` is.

[2015-08-11 09:30] iamkarlson opened #1651 "Command reference"
Hi, I'm newbie in Vim and I try to start using it directly in visual studio, skip using in vim. And due to this reason, I don't know all of commands of Vim. I've opened VsVim settings and saw a lot of key combinations without explanations. I printed a cheatsheet for vim, but it does not give me full understanding for VsVim functions. Can I use same cheatsheets for VsVim as well as cheatsheets for

[2015-08-11 09:47] Predelnik opened #1652 "Usage of Intellisense suggestions in replace mode"
Currently it seems like usage of suggestions isn't supported very well in replace mode, the list appears to be triggered only by control-space or backsapce which is a bit strange. Also suggestion itself is being inserted and not replaced after being pressed. Don't know if it's possible to implement but I guess it would be pretty usable.

[2015-08-11 10:05] Mharlin commented on #1651
You can use the same cheatsheet for VsVim as you would for Vim if you set the shortcuts to be handled by VsVim in the settings. You can use the normal shortcuts for things like expanding regions and visual studio does executes it regardless of what mode you are in.

[2015-08-11 10:16] Cakez0r commented on #1628
Hi @jaredpar, I have this bug too. I am using visual studio 2013 professional, update 4 and can confirm that selection behaviour does return to normal if I disable VsVim. I recorded a gif of how selection behaves for me (see below). The position of the line on the screen seems to affect how erratic the overselection is. If I click on a line near the top of the page, then the selection goes nuts. A

[2015-08-11 11:53] Predelnik opened #1653 "Ctrl-R keystroke for pasting register content replaces only one character in replace mode"
As I checked in vim, Control-R and then register key, while being in replace mode should replace the same number of characters after cursor as in register, but VsVim replaces only one and inserts the rest.

Also looks like it should draw double quote under cursor as in insert mode, but that's minor thing.

[2015-08-11 12:16] Cakez0r commented on #1628
After doing some more investigation, this issue is caused by having

    set so=7

in my .vimrc file (http://vim.wikia.com/wiki/Keep_your_cursor_centered_vertically_on_the_screen)

I guess there is still some bug here with the over selection, but the issue is resolved for me after removing this particular config entry.

[2015-08-11 12:30] Predelnik opened #1654 "Disabed VsVim still interferes with typing capital S, C or P"
I'm not sure that this was discussed before but I think it's slightly disturbing that disabling VsVim with control-shift-f12 results in loss of ability to type capital letters S,C or P because it handles Control,Shift,Alt+SCP by itself, so I have to remap them to Visual Studio in that case.

[2015-08-11 12:47] debuuu commented on #1628
Stupid question: where is the .vimrc file? I know once before, when I installed Vim on a Windows machine, that I had a .vimrc file in My Documents, but I don't right now (as I don't have Vim installed). Does VsVim have its own .vimrc?

I also just tried doing :set so=0 direction in VS, but, 1) I'm not sure if setting it inside VS would do anything, and 2) you said you removed the line, so maybe se

[2015-08-11 15:38] Cakez0r commented on #1628
My .vimrc was in %USERPROFILE%, but it could be in any one of these places
http://vim.wikia.com/wiki/Open_vimrc_file

On 11 August 2015 at 13:47, debuuu <notifications@github.com> wrote:

--
Lewis

[2015-08-12 04:39] jaredpar commented on #1628
@Cakez0r thanks for the GIF explanation of the problem.  This being affected by the `so` setting makes sense.  I likely need to account for that in the selection update logic.

[2015-08-12 04:40] jaredpar commented on #1654
@Predelnik thanks for reporting that issue.

What version of VsVim are you using?  I had an issue with the handling of S, C and P before but it should be fixed with the 2.0.0 versions of VsVim.

Also what window are you seeing that behavior in?  Before it was limited to the locals, watch, etc ... windows.  Are you seeing it elsewhere?

[2015-08-12 04:41] jaredpar commented on #1653
@Predelnik thanks for reporting. I will get that fixed.

[2015-08-12 04:43] jaredpar commented on #1651
@iamkarlson in general I would try and use the vim cheat sheets for VsVim.  There are some more advanced commands that don't work much of the work that appears in tutorials will work in VsVim.

[2015-08-12 04:44] jaredpar commented on #1652
@Predelnik replace mode intellisense is an area that i haven't spent as much time on.  It does require a bit of work to get the right replace semantics implemented.  Can look into it.

[2015-08-12 05:34] #1651 closed

[2015-08-12 05:37] iamkarlson opened #1655 "Multiline/multicursor edit in vs"
Hi, is it exist multiline mode for vsvim, like same in sublime text, or in vanila visual studio? I've found plugin for vim with same functionality (https://github.com/terryma/vim-multiple-cursors), but i don't know how i can use same functions in vsvim

[2015-08-12 05:44] Predelnik commented on #1654
I'm using the one from Visual Studio Gallery which appears to be 2.0.1.0 and VS2013. For me it happens in normal document editor window, as I've tested in watch and some other windows it works fine.

[2015-08-13 09:38] darkpotpot opened #1656 "problem with delete/replace/change commands using semicolon as delimiter"
Hi,

I have a problem when using the semicolon with delete/replace/change command

If I have this line: `std::string getCurrentWorkingDirectory();`
Using vim, if I type **_dt;**_, everything is deleted up to the semicolon (not included).
However, with vsvim it does nothing. Typing **_dt)**_ works, so it's only a problem with the semicolon.
Typing **_df;**_ also doesn't work.

[2015-08-13 14:52] jaredpar commented on #1656
@darkpotpot thanks for reporting.  I will take a look at that.  The behavior does seem strange.

[2015-08-14 04:34] leed opened #1657 "Can't see entire key binding in keyboard settings option dialog with larger fonts."
The column displaying the key binding in the option dialog does not allow enough space when the font size has been increased (I have low vision and use large fonts in VS).

[2015-08-14 15:23] jaredpar commented on #1657
Thanks for reporting.  I will take a look at that.  I'm not sure that dialog can be increased in size, but I should be able to at least add a scroll bar.

[2015-08-14 15:59] tastephens opened #1658 "VsVim Keyboard Options Missing"
I'm using Visual Studio 2015 Community on Windows 10 Pro, both German. In the past, on Windows 8.1 with VS 2013, VsVim has worked fine. I think it also initially worked after I upgraded to W10 and VS2015 (clean installs). Suddenly today, however, I noticed I'm unable to scroll up and down with Ctrl+U/Ctrl+D. I went to check the keyboard settings, and they're empty:
![vsvimkeyboard](https://cloud.g

[2015-08-17 14:16] gwojan opened #1659 "VsVim StatusLine loads above horizontal scrollbar -- sometimes"
Most of the time after a project is loaded the VsVim statusline is located below the horizontal scrollbar. However, opening multiple VS sessions results in the statusline above the scrollbar. It seems totally inconsistent so I haven't been able to detect a pattern.

What is the correct location for the statusline?

I'm including a couple if images just for clarity.

![vsvim statusline below scroll

[2015-08-17 23:33] EricTetz commented on #241
In Vim `p` is paste, `<c-v>` is visual block mode. Why would you care about preserving CUA bindings in a Vim emulation?

[2015-08-20 10:45] darkpotpot opened #1660 "Problem with delete/change inside command (not always)"
Hi,
I'm a big fan of the "delete/change inside" command but sometimes it doesn't work. For example, with the following line:
`   boost::wregex l_OutlineFileNameRegex(DuplicateBackslash(L"^OutlineFileName:(.*\\.*\\\\).*$"));`
If the cursor is on DuplicateBackslash word, typing ***ci)*** does nothing. In Vim, it deletes everyting up to the last parenthesis.
It seems like VsVim is confused with the *

[2015-08-20 17:30] tldrlol opened #1661 "force new undo group, works in Vim but no in VsVim"
I have in my `_vimrc` the following lines (which allow to undo c-w/u done from insert mode):

`" force c-u, c-w to start a new undo group`
`inoremap <c-u> <c-g>u<c-u>`
`inoremap <c-w> <c-g>u<c-w>`

It works flawlessly in Vim, but not in VsVim, where it inserts blue `^G`.

At the moment I'm looking for a decent workaround so that this only affects Vim and not VsVim. Any suggestions?

[2015-08-21 05:45] jaredpar commented on #1661
Undo groups are not currently a supported feature for insert mode in VsVim.  I have a couple of issues tied to implementing them but I don't think it will get done anytime soon.

Short term it's possible to separate the Vim and VsVim logic by having separate RC files:

- .vsvimrc: VsVim related settings
- .vimrc: Vim related settings

VsVim will always prefer `_vsvimrc` or `.vsvimrc` over normal v

[2015-08-21 05:46] jaredpar commented on #1660
Thanks for reporting.  That does seem like a bug.

[2015-08-21 06:02] jaredpar commented on #1659
That's truly odd.  I've never seen that before and don't have a good idea when it would happen.  The placement of the command margin is declarative so it's odd that it would behave unpredictably in this manner.  Going to ask around to see if anyone has an idea of why this could be happening.

[2015-08-21 06:02] jaredpar commented on #1659
CC @jasonmalinowski in case he has an idea here.

[2015-08-21 06:03] jaredpar commented on #1658
Hmm, that's very much unexpected.  Have you run VS 2015 on multiple machines?  I wonder if VS roaming settings could be coming into play here.

[2015-08-21 06:06] jaredpar commented on #1655
Unfortunately that functionality doesn't exist for Visual Studio or VsVim.  In general VS itself doesn't support the concept of multiple cursors though so it's unclear how this would be implemented.

[2015-08-21 15:31] gwojan commented on #1659
I guess I should ask which is the correct location declared for the statusline -- above or below the scrollbar? Which of the above images is "correct"?

[2015-08-21 17:48] ricksladkey commented on #241
@EricTetz All users could just map `Ctrl+V` to VsVim in Tools -> Options -> Keyboard.  This makes `Ctrl+V` from normal mode enter visual block mode and paste from insert mode, just like Windows gvim.

[2015-08-22 16:43] jasonmalinowski commented on #1659
Margins are ordered the same way other orderable things are, with Name and Order attributes. If you didn't specify it, then you are probably at the mercy of the order MEF happens to import things. There's some description of that [here](https://msdn.microsoft.com/en-us/library/dd885244.aspx).

[2015-08-24 03:24] jaredpar commented on #1656
I just checked and this behavior works on my machine.  Is it possible that you have a key mapping for <kbd>;</kbd> that VsVim is incorrectly interpreting here?

[2015-08-24 12:32] darkpotpot commented on #1656
Oh, indeed you might be right. It seems my **;** key is acting like my **.** key. Don't know why though since I didn't remap it. I'll investigate

[2015-08-25 09:16] darkpotpot commented on #1656
So I removed everything from my _vsvimrc file without any luck (I also deleted the _vsvimrc file). I even put a **nnoremap ! ;** and hitting *dt!* has the same result, the **!** acts like **.**. Typing :map command after loading also only show the map I did between ! and ;. It's really weird

[2015-08-26 07:16] themiwi commented on #524
Can't live without `g;` and `g,`. I find myself typing them all the time with no effect. Very aggravating.

[2015-08-26 09:18] idealist1508 commented on #524
@themiwi This workaround works for me (but i don't use something like that `5g;`)
[code]

[2015-08-28 12:49] Predelnik commented on #1332
:+1: I also would like to see this fixed

[2015-08-29 20:10] MartinL0815 opened #1662 "Brace matching fails in. C++ files, if string constants contain braces"
In the current version string constants contain incomplete brace pairs,  than the brace matching gets confused and matches braces within the string constants.

[2015-08-30 15:35] exyi commented on #1655
I'm using [MultiEditing](https://visualstudiogallery.msdn.microsoft.com/2beb9705-b568-45d1-8550-751e181e3aef) extension for Visual Studio and it works fine with VsVim in insert mode.

[2015-09-02 16:00] bmsullivan opened #1663 "Copying hangs for a couple seconds, then throws exception"
The first time I copy something after opening Visual Studio, the IDE freezes for a couple of seconds, then I get an error dialog box that says "An exception has been encountered. This may be caused by an extension."

When I check the ActivityLog.xml file that it points me to, I find this error message at the bottom:

    <entry>
    <record>837</record>
    <time>2015/09/02 13:28:02.175</time>

[2015-09-02 16:05] bmsullivan commented on #1663
Also of note, running VS2015 on Win 10, but I can reproduce in 2013 as well.

[2015-09-02 17:15] jaredpar commented on #1663
Unfortunately this is "by design of Windows".  The clipboard in Windows is shared amongst all processes and it's possible for other applications to lock it in such a way that it can't be used by other applications.

That is what is occurring here.  Another app has locked the clipboard, VsVim tries to access it, and an exception occurs because it's locked.  There is really no recourse for me to tak

[2015-09-02 17:15] #1663 closed

[2015-09-02 17:33] bmsullivan commented on #1663
Thanks, Jared! Your explanation pointed me to what I think was causing the problem. I was using a clipboard recording utility which was likely locking the clipboard.  I feel a bit silly for not having thought to try disabling that! That also explains why other people weren't running into this issue.

I appreciate your quick reply and the extra information!

[2015-09-06 01:07] TyOverby opened #1664 "SetSite failed for package VsVim"
The VsVim package doesn't load for me.  When looking in ActivityLog.xml, I found this:

[code]

[2015-09-06 05:04] jaredpar commented on #1664
Thanks for reporting this issue.  I'm pretty sure the line of code that is leading to this error is [this line](https://github.com/jaredpar/VsVim/blob/master/Src/VsVim/VsVimPackage.cs#L46):

[code]

That line should never fail unless there is an installation error, or some fatal exception during MEF composition.  The latter though should also lead to entries in the same log file though.

Did you i

[2015-09-06 17:37] TyOverby commented on #1664
Looking in the log file I found this earlier:

[code]

I'm installing from the gallery.  Completely clean VS 2015 installation too.  VsVim was the first plugin that I tried installing.

[2015-09-06 18:14] jaredpar commented on #1664
Those string loads are the VsVim resource strings which Visual Studio queries to get items like a display name, description, etc ...  That also should never fail.  There is no real code involved here, it's a declarative operation on the package + embedding the strings.  :frowning:

At this point it seems like either the download is corrupted or there was an issue with Visual Studio itself.  It's p

[2015-09-06 21:30] TyOverby commented on #1664
Thanks, those steps seemed to have fixed it!

[2015-09-06 21:30] #1664 closed

[2015-09-08 01:57] Voxellence commented on #1540
Yeah, Python would be another goody for this purpose.

[2015-09-08 17:46] jtbm37 commented on #1113
I don't think expand is a supported command either

[2015-09-09 03:44] jaredpar commented on #1662
Interesting.  It seems that vim recognizes string / character constants as special entities and won't match braces / parens / etc ... which occur inside them.  Unless the cursor is on the brace / paren inside the string.  But it will consider brace / paren which occur inside comments.  Interesting behavior.

[2015-09-09 03:46] jaredpar commented on #1659
@jasonmalinowski do you know the name the scroll bar margin?  Or where I should go looking for it?

[2015-09-09 04:17] jasonmalinowski commented on #1659
Per the link I gave:

Are these not working? Looks like there's also a [`PredefinedMarginNames`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.text.editor.predefinedmarginnames.aspx) class.

[2015-09-09 07:46] MartinL0815 commented on #1662
Interesting behavior? Yes!

I don't care often about this behavior, but maintaining our simulation environment programming editor is sometimes anyoing with this interesting behavior.
Working at other "normal" files, I don't see this behavior!

[2015-09-09 08:06] MartinL0815 opened #1665 "In High-Contrast-Mode the caret of the command line is invisible"
To be able to use the command line in High-Contrast-Mode I changed the colors this way:

Since then I can see the caret anymore. It seems, that it is black on black background, even if the font color is yellow.

Any change or fix possible?

[2015-09-09 21:13] jaredpar commented on #1665
Have you tried changing the color through the `VsVim -> General` menu?  If you make it yellow there it should come up the same text.

For the next version in high contrast mode I'll make it match the text color.

[2015-09-10 11:33] MartinL0815 commented on #1665
Yes, I used today the VsVim options instead of "Tools/Options/Environment/Fonts and Colors", but nothing changed!

The caret is still invisible!

But there is another misbehavior:

1. use `Pos1` in the command line edit control
2. use `Del` to delete the first character

WIth my VsVim isntallation nothing happens! The first character won't be deleted. Even `Shift-Del` won't delete a character in t

[2015-09-10 11:52] vzakanj commented on #702
:+1:

[2015-09-11 18:08] idealist1508 opened #1667 "Visual-block append does not work"
Link to vim documentation: http://vimdoc.sourceforge.net/htmldoc/visual.html#v_b_A
I'm sorry: it was a wrong link.

[2015-09-12 16:11] jamiehayes opened #1668 "Issues with HOME directory shortcut (~)"
I have a couple mappings in my _vimrc that make use of the HOME directory shortcut, and they aren't working in VsVim, but they work in gvim. Examples:

`:tabnew ~/_vimrc<CR>` (yields "The system cannot find the path specified. (Exception from HRESULT: 0x80070003)")
`:source ~/_vimrc<CR>` (yields "Missing quote")

Thanks!

[2015-09-13 18:16] fluffynuts opened #1669 "VsVim replacing character before caret with > when pressing TAB"
Just noticed this tonight, in VS2015, Community Edition. I haven't seen this in my work version of VS2015 Professional. The symptom is that, after a little while of editing, when I press TAB, I get a > replacing the character before the caret. Pressing Ctrl-Shift-F12 to disable VsVim makes this behaviour stop; re-enabling VsVim makes the behaviour emerge again ):

[2015-09-13 18:22] fluffynuts commented on #1669
Note, I can work around it temporarily with:
imap <tab> <tab>
(or restarting Visual Studio, but that's super-painful)

[2015-09-13 18:38] l1n3n01z commented on #1115
I was so hoping this had made it into the new release! I would love something that could at least approximate tpope's repeat-vim :)

[2015-09-14 05:43] jaredpar commented on #1669
Thanks for taking the time to report this issue.  Given that the `imap` command can fix it I wonder if there isn't another mapping that is coming into play here.  Possibly because of a difference in the vimrc files between the two machines.

When that behavior shows up can you run `:imap` (without arguments) to see if there are any errant mappings that could cause this behavior?

[2015-09-14 05:49] jaredpar commented on #1668
Thanks for reporting.  I'll look at getting that implemented.  I have a few bugs in this area that I'm going to try and clean up at once.

[2015-09-14 05:50] jaredpar commented on #1667
Can you give some specific examples here?  Block insertion is a supported feature.

[2015-09-14 06:21] idealist1508 commented on #1667
I have some visualblock selection
![vbi1](https://cloud.githubusercontent.com/assets/4608274/9843155/06a3be5c-5ab8-11e5-926a-23bf7ebc0851.PNG)
then I press ```Aator```
![vbi2](https://cloud.githubusercontent.com/assets/4608274/9843219/8424835c-5ab8-11e5-873a-0edc291fa719.PNG)
and finally I press ```<Esc>```
![vbi3](https://cloud.githubusercontent.com/assets/4608274/9843225/8764fea2-5ab8-11e5-9f08-

[2015-09-14 06:54] KLIM8D opened #1670 "Macro recording, missing characters"
Hi,

When I've recorded a macro and it includes the characters ")" and/or "}", they are left out when I replay the macro.

Example:

[code]

Then replaying the macro, gives me
[code]

[2015-09-14 17:24] gwojan commented on #1659
@jaredpar One thing I just noticed is if I don't have any additional windows like `Output`, `Error List` pinned like the images above show the VsVim margin consistently renders below the horizontal scroll bar.

If I pin something placement becomes random again.

[2015-09-14 17:58] gwojan commented on #1659
@jaredpar Ugh. Take my previous comment back... :frowning:

[2015-09-15 03:44] jaredpar commented on #1667
Ah okay.  Yes it appears that append isn't supported but insert is.  Will look at getting append added.

[2015-09-15 03:46] jaredpar commented on #1670
Thanks for reporting.  This looks like a duplicate of #1629.  Essentially the IDE is auto completing those characters and hence VsVim doesn't see the key strokes to intercept them.  As a result they don't get replayed on the subsequent macro run.

Recently I had an idea on how to fix this.  Going to tryi this out in the next release.

[2015-09-15 03:46] #1670 closed

[2015-09-15 16:04] DJMcMayhem commented on #1082
I'm using VS 2013 and still having this same problem yet. Has anybody found a fix yet?

[2015-09-16 22:40] jaredpar commented on #1082
@DJMcMayhem have you tried to remove it with the latest version of VsVim (2.0 branch)?

[2015-09-17 16:31] DJMcMayhem commented on #1082
@jaredpar Ah, well there's my problem. I was on 1.8. Installing 2.0.1.0 fixed it for me. Thankyou!

[2015-09-18 08:37] bschwehn opened #1671 ":m0 moves line to second line instead of first"
in vim

:m0 will move the current line to the top. In vsvim it moves it to the second line, just below the top line.

Is this a bug or do I have some setting wrong/another add in interfering?

Thanks,
Ben

[2015-09-18 17:14] jaredpar commented on #1671
That just looks like a bug in the `:m` implementation.  I will get that looked at.

[2015-09-22 15:53] ricksladkey commented on #1501
I had been using my own "fix" for this but lost it when I upgraded to the gallery version.  I never submitted the PR because it was not perfect so I will again commit to improving my change and then submitting a PR.

[2015-09-24 03:52] davidshen84 commented on #612
Implement `:bn` & `:bp` command to switch tab.

[2015-10-01 17:54] lebster commented on #1461
+1

This would be awesome. Sort of like NerdTree

[2015-10-01 18:40] gwojan commented on #1461
++1, for me too. My fingers keep trying it but it there is no joy. :disappointed:

[2015-10-02 00:14] tskillian opened #1672 "String substitution not working"
Lets say that searching for the string foo with /foo works with the plugin, I would expect substitution to work with :s/foo/bar/g to replace foo with bar in the whole file. However, this doesn't seem to work. I always get the "pattern not found" message. So, basically:

/foo => finds instance of foo
:s/foo/bar/g => Pattern not found: foo

[2015-10-02 04:31] jaredpar commented on #1672
VsVim is conforming to the standard vim behavior here.  The `:s` form of the substitute command will only act on the current line.  In order to replace in the entire file the `:%s` form of the substitute command needs to be used.

[2015-10-02 04:31] #1672 closed

[2015-10-02 14:01] markvincze commented on #971
Hi @jaredpar,
My only problem with using `>` or `<` is that if I do that, the editor loses the selection. So if I want to repeat the shifting, I have to select the text again. (I know I can indent by multiple levels if I prefix it with a number, for example `3>`, but sometimes it's difficult to guess the number of indentations needed beforehand.)
Do you know any way around this?

[2015-10-02 14:56] allender commented on #971
Use the '<' or '>' command and then you can use '.' to repeat the last edit, which will be an indent our outdent depending on which characters you previously used.

[2015-10-02 15:04] markvincze commented on #971
@allender,

That's amazing, for some reason it never occurred to me that `.` would work for the multiline indentation :).
Thanks!

[2015-10-02 18:28] tskillian commented on #1672
Sorry, brain fart on my end. Forgot that you needed the %

[2015-10-04 15:01] otherdave opened #1673 "IMapping jk to <Esc> moves down a line if cursor is at the end of a line"
My _vsvimrc file has the line:

[code]

If I am in the middle of a line of text, in insert mode, and I press `jk` I leave insert mode. If I am at the end of the line and I press `jk` I leave insert mode and then move to the next line. I verified this happens with other escape mappings so it's likely not `jk` specific.

Is this intended behavior or is there a change to my _vsvimrc that would preven

[2015-10-05 04:07] jaredpar commented on #1673
That seems like a bug.

When this occurs is there a line below the one u are typing in that has text? Or is the line below blank?

[2015-10-05 12:31] otherdave commented on #1673
It fails in both cases you describe. I just verified a super-simple one: if I'm on line 1 and it's blank, and line 2 is also blank, hitting `jk` on line one (position 0, as it's blank) I move down a line. Pressing escape doesn't do this.

[2015-10-05 12:34] otherdave commented on #1673
If it helps ,here is my _vsvimrc file. I believe I got a super-duper vimrc file years ago and tweaked it, then pruned it down to the basics needed for vsvim. So maybe there's a setting here that's incompatible with what I'm trying to do and vsvim?

[code]

[2015-10-05 16:10] gibwar commented on #1673
Just for fun, does it still happen if you set `scrolloff` to `0`?

[2015-10-05 16:25] otherdave commented on #1673
@gibwar yep, still happens :(

[2015-10-05 18:35] Flawe opened #1674 ""Paste over word" not working like vim"
So I have this mapping: nnoremap S diw"0P

In vim if I hit shift+s with cursor over a word, it will replace that word with register contents of register 0.
With VsVim it deletes the whole line and switches to input mode.

Apologies if I missed something that covers this already.

[2015-10-05 18:38] Flawe commented on #1674
Actually, this is not an issue. For some reason it just didn't load my .vimrc from %VIM%.

[2015-10-05 18:38] #1674 closed

[2015-10-09 13:38] baskus opened #1675 "OpenClipboard Failed"
I have this set in my config `set clipboard=unnamed` which causes the windows clipboard to be used for yanks, deletes etc. and that's great for interop between Visual Studio and other apps. However, I get this in my error log

[code]

and after I get it, everything that affects the clipboard (i.e. basically all of vim), takes several seconds to complete. This makes editing horrible!

I think there

[2015-10-12 02:09] jaredpar commented on #1675
Thanks for reporting.

Unfortunately this error is "by design of Windows".  The clipboard in Windows is a shared resource that has no synchronization capabilities.  Hence every time an application uses the clipboard it is racing with any other application that is also doing so.

VsVim carefully guards use of the clipboard and catches exceptions that would result from it.  Unfortunately when an exc

[2015-10-12 02:09] #1675 closed

[2015-10-14 15:54] rcorre opened #1677 "'Handle all with VsVim' does not change all bindings"
In `Options > VsVim > Keyboard`, 'Handle all with VsVim' leaves some mappings to Visual Studio even if there is a valid Vim mapping.

For example, `<c-a>` gets left behind even though it has a default VsVim binding (numeric increment).

[2015-10-14 18:01] jaredpar commented on #1677
Thanks for reporting.

The behavior of leaving <kbd>Ctrl+A</kdg>, <kbd>Ctrl+X</kbd> and <kbd>Ctrl+C</kbd.> as controlled by Visual Studio is by design.  Initially I had "Handle all with VsVim" change everything but I ended up getting a lot of negative feedback about that change.  Many people wanted to keep the standard copy, paste and cut commands to Windows standard ones.  Hence I ended up with t

[2015-10-14 18:01] #1677 closed

[2015-10-15 00:51] lebster commented on #1107
+1

I am trying to insert some text after every line of a file and it looks like the Shift-A part is failing for me also.

The following is the commands i'm trying.
1) ggVG<C-v>$A
2) enter appending text
3) hit esc

[2015-10-15 16:17] ecsousa opened #1678 "Implement 'normal' command"
One feature that a really miss in VsVim is the normal command. I find it very useful to record macros like this:

[code]

With this marco, if I am in the first line of a POCO class, it would put a DataMember attribute to each property of that class.

normal command is a great combo with g command

[2015-10-15 16:45] mattrrichard opened #1679 "Navigating between vertical split windows fails when both windows are viewing the same file."
Reproduce Steps:
1. Open a single file
2. <kbd>CTRL</kbd>-<kbd>w</kbd> <kbd>v</kbd> to split file
3. <kbd>CTRL</kbd>-<kbd>w</kbd> <kbd>l</kbd> to move to the second column
4. Attempt <kbd>CTRL</kbd>-<kbd>w</kbd> <kbd>h</kbd> to move back.

If you instead open two different files in the columns, it works as expected.

[2015-10-15 16:53] mattrrichard commented on #1679
Using VsVim version 2.0.370 in VS 2013

[2015-10-15 19:59] mattrrichard commented on #1679
Looks like it's due to [the way `MoveFocusHorizontally` finds the currently active window](https://github.com/jaredpar/VsVim/blob/f711e222b249559aa9b5d00747cdf3f4820f0b66/Src/VsVimShared/VsVimHost.cs#L580):

[code]

When there are two windows displaying the same document, the index returned from that might be wrong.  I'll try to look into it more deeply later today if I get time.  This is somethin

[2015-10-16 11:16] idealist1508 commented on #1679
it's awesome.  I thought it is impossible, because of #1602

[2015-10-16 14:32] mattrrichard commented on #1671
I dug into this, and I see what happening: When the interpreter executes a MoveTo or CopyTo command, it uses its `GetLine` method to convert to destination line specifier into an `ITextSnapshotLine`.  While in that method, it runs into one of the mismatches between Vim and VS's functionalities, how lines are numbered.  The `Util.VimLineToTssLine` method is used to convert and you lose the informat

[2015-10-16 16:40] ricksladkey commented on #1671
My understanding was that in vim, AFTER line 0 and BEFORE line 1 refer to the same place.  So even though line numbers are one-based, operations that conceptually append can still insert before the first line due to the fictitious line zero.

[2015-10-16 17:47] mattrrichard commented on #1671
I don't think VisualStudio has a concept of the "fictitious line zero" which is the origin of the problem.

[2015-10-16 20:34] jaredpar commented on #1679
That's likely the case.

[2015-10-16 20:41] jaredpar commented on #1678
That's interesting.  I've never seen this before.

[2015-10-19 12:15] baskus commented on #1675
Oh, that's unfortuante. :( Nice of you to log it though.

Is there any way to make it not lag when the clipboard fails? Could VsVim notify me more clearly?

[2015-10-20 12:30] ljani commented on #1643
I'm on VS2015 with ReSharper 10 EAP and `gd` seems to be mapped to go to next usage and `gD` is previous usage. `g` it appears in the statusbar of VsVim when pressed. I wonder how to fix this?

[2015-10-20 12:52] ljani commented on #1643
Hmm, resetting all keyboard bindings, applying ReSharper keyboard scheme and finally setting VsVim to handle all the keybindings got me this exception:

[code]

[2015-10-23 09:07] #1358 closed

[2015-10-23 09:17] MartinRykfors commented on #1357
`viB` and `vi{` both behave the same in VsVim and gVim now. One difference that remains is that `ciB` respects indentation in gVim, but VsVim puts the cursor at line start. Should that be a new issue?

[2015-10-23 14:05] idvorkin commented on #702
Double checking, this hasn't been implemented right?

[2015-10-24 18:39] JasonYang007 opened #1682 "multiple-lines are selected when I drag the mouse on the same line"
Hi, I really appreciate for this wonderful Vim plugin. I am quite amazed by such a good compatibility with gVim editor. However, I found the following issues that are quite annoying in my daily job:
(1) When I drag the mouse to select a portion of text, multiple lines are automatically selected even though the mouse movement is on the same line.
(2) Vim's selection in command line mode is consiste

[2015-10-26 03:51] jaredpar commented on #1675
@baskus i've been thinking about adding an option here to silently ignore this failure and not retry on error. It would be off by default but available to people who hit this problem.

[2015-10-26 03:53] jaredpar commented on #1357
@MartinRykfors yes that should be a new issue.  Should be easy to fix though.

[2015-10-26 03:53] jaredpar commented on #702
@idvorkin correct, this is not implemented yet.

[2015-10-26 03:56] jaredpar commented on #1682
I believe the second issue is just a bug.  In general double click selection is handled by Visual Studio because it's *mostly* compatible with gVim.  This seems like a case where they differ and I need to handle it.

For the first issue though I can't reproduce the problem.  In general selection is handled by Visual Studio (unless your vimrc has settings to dictate otherwise).  So selection should

[2015-10-26 08:48] #1357 closed

[2015-10-26 08:54] MartinRykfors opened #1683 "ciB does not respect indentation"
Start with the following with the cursor somewhere on the second line:

[code]

In gVim, pressing `ciB` will delete the text between the braces and go into insert mode with the cursor indented one level.
In VsVim, the cursor is left at the start of the line and not at the indentation level.

Edit: If `autoindent` is not set, then gVim and VsVim behave the same way.

[2015-10-26 10:12] idealist1508 commented on #1683
This is really strange. I try it in gvim and it was like in vsvim.
![vimvib](https://cloud.githubusercontent.com/assets/4608274/10726310/327049b6-7bd2-11e5-97cd-53ec7dc1a119.gif)
Is there some option, that change this behavior?

[2015-10-26 10:15] MartinRykfors commented on #1683
My .vimrc has `autoindent` and `smartindent` set. Do you have the same settings?
(Not sure of those settings should affect this.)

[2015-10-26 10:57] idealist1508 commented on #1683
Thanks, it depend on ```autoindent```.  This setting seems to be not fully supported in vsvim

[2015-10-26 11:25] MartinRykfors commented on #1683
Cool, I've updated the first post to clarify this.

[2015-10-26 21:56] #1679 closed

[2015-10-27 09:11] dragn opened #1685 "Toggle does not work in Visual Studio 2015"
`Ctrl+Shift+F12` key combination does not toggle VsVim in Visual Studio 2015. Moreover, there is no command to toggle vim mode in `Environment->Keyboard`, search reveals only three commands related to VsVim: `VsVim.ClearTSQLBindings`, `VsVim.DumpKeyboard`, `VsVim.Options`. It would be useful to have "toggle VsVim" command that could be bound to any shortcut.
Consequently, I don't see any way to qu

[2015-10-27 20:18] jaredpar commented on #1629
Just sent a PR to implement this behavior.  It's still a bit on the experimental side but playing around with it locally it seems to work well.

For now the clean macro recording behavior is off by default.  It is a bit of a behavior change and I suspect some will be a bit surprised if they accidentally trigger macro recording (i do it at least twice a day) and suddenly a lot of Visual Studio feat

[2015-10-28 08:33] dawikur opened #1687 "Implement globpath"
In my vimrc I am using globpath combined with split to load settings

[code]

VsVim isn't handling them and this makes my vimrc completely useless.

[2015-10-28 16:01] jaredpar commented on #1687
Implementing `globpath` alone wouldn't allow for this to start working though.  It would require additionally implementing `split`, `for ... in` and `exe` ...

The VsVim support for vimscript is pretty limited and meant only for simple vimrc files and common edit commands like `substitute`.  Full vimscript support isn't an actual goal, mostly because it's a very large undertaking.

In general the

[2015-10-28 16:07] jaredpar commented on #1685
The <kbd>Ctrl+Shift+F12</kbd> is not actually implemented as a Visual Studio command.  Instead it's a key combination VsVim looks for directly.  That is why you don't see it show up `Environment->Keyboard` page.

But it should work just fine in Visual Studio 2015.  I use it a couple of times a week.

Can you check and see if any other command is bound to that keyboard combination?

As to whether o

[2015-10-28 16:08] #1629 closed

[2015-10-28 16:39] dragn commented on #1685
Yeah, I looked into `VsVim->Keyboard` and `Ctrl+Shift+F12` is listed as "Handled by Visual Studio", I changed it to "Handled by VsVim" and it works. It would be nice to have it as a global command though. So it could be bound to any combination.

[2015-10-28 21:12] dawikur commented on #1687
Yeah, I thought that not only `globpath` isn't supported but didn't want to create issue for each one - simple globpath is first operation that fails.

Absence of `for`, `in`, `split` and `globpath` can be workarounded with script that will *unroll* `for`, but *inlining* all sources   breaks pretty badly concept of having dotfiles on github.

[2015-10-29 02:28] GitMyCode opened #1688 "Can't insert 'space' after disable vsvim ( ctrl+shift+f12)"
If i use the "disable vim feature with ctrl+shift+f12" i cannot insert space! The behavior seems like the ctrl key is stuck because it always open de auto-suggestion box whenever i press spacebar

[2015-10-29 11:23] freakingawesome opened #1689 "Escape Key and Command Line broken when editing SQL Server Unit Tests in VS 2015"
Create a new SQL Server Unit Test, then edit the SQL text. Lots of VsVim functionality works fine, but two major things are broken:

1. The Escape key won't work. It makes no impact on state from any mode. `Ctrl-[` still works.
2. You can get to the command line by typing `:`, but pressing Return or Escape does nothing.

It looks like the default editor for SQL Server Unit Tests is "CSharp Form Ed

[2015-10-29 16:29] jaredpar commented on #1688
That's very odd.  In disabled mode VsVim essentially steps out of the way and lets Visual Studio take over the keyboard handling.  So if items like auto-seggest are displaying it is because Visual Studio chose to do it.

When you re-enable VsVim and go to insert mode do you see the same behavior?  Is this change only limited to space?

Curious: can you check and see if you have any key mappings ar

[2015-10-29 16:35] jaredpar commented on #1689
Thanks for reporting.

Unfortunately this is a known issue.  The SQL Server Unit Test editor hijacks the keyboard in a very non-standard (and very unsupported) manner.  Any key that it wants to have an action for, like <kbd>Esc</kbd>, never makes it to extensions.

I've spent several hours looking at this editor in the past and unfortunately there is no way I can discern to get VsVim back into the

[2015-10-29 16:35] #1689 closed

[2015-10-29 16:38] freakingawesome commented on #1689
Gotcha. Thanks for the quick response!

[2015-10-29 16:48] treestryder commented on #852
Ctrl+Shift+F12 is still handled by Visual Studio in v2015. It would be nice to have an option to disable VsVim, maybe with a mention of the key combo listed next to it.

When I first installed VsVim, I didn't know of the key combination and went looking for a setting. Eventually landing on the FAQ. Months later, I couldn't remember the key combination, so I again went looking for a setting. Again,

[2015-10-30 00:40] GitMyCode commented on #1688
I think there is a compatibility problem with Resharper. I tested with resharper uninstalled and it worked well.

[2015-10-30 04:51] jaredpar commented on #1688
Which version of ReSharper are you running?

[2015-10-30 17:56] GitMyCode commented on #1688
It doesn't work with the 8.2.1 and the 9.2 ( the two version i tested)

[2015-10-30 18:21] idealist1508 commented on #1688
I have Resharper 8.2.1 too. It works as expected.

[2015-10-31 16:59] GitMyCode commented on #1688
I m on visual studio 2013 if that make a difference

[2015-10-31 17:14] GitMyCode commented on #1688
And the 2.0.1 version of VsVim

[2015-10-31 17:20] GitMyCode commented on #1688
I've been having this problem on three different computer. I tried uninstalling and reinstalling  vsvim or resharper without success. I also tried different keyboard scheme with resharper without success.

[2015-11-01 20:18] dawikur commented on #1687
OK, I have workaround for this issue with simple plugin
https://github.com/dawikur/simplifyRC.vim

When I save vimrc (or other *.vim) file it generates _vsvimrc with inlined source files.

Closing.

[2015-11-01 20:18] #1687 closed

[2015-11-03 02:24] lehako commented on #825
I changed the "VsVim Block Caret" color to "white" at "Option > Environment > Font and Color"
when "Option > VsVim > Defaults > Block Caret" was changing.
It's work well.

[2015-11-03 12:17] albertdev opened #1690 "Add custom shortcut to disable VsVim"
Is it possible to add a command to toggle VsVim in the Keyboard options view of the Preferences which can take a custom shortcut?

I know about `Ctrl + Shift + F12`, but as I come from Eclipse that shortcut is in my mind always for some other feature.

[2015-11-04 07:09] ljani commented on #1643
It seems [ReSharper 10 has changed the functionality](http://blog.jetbrains.com/dotnet/2015/11/02/welcome-resharper-ultimate-10-rtm/) (Usage-aware Go to Declaration). I'm not really sure if this is working as intented with VsVim.

[2015-11-04 07:09] makcakaya opened #1692 "CTRL+B does not work"
I enabled CTRL+B and CTRL+F to page-up and down with VsVim. CTRL+B does not work, CTRL+F does.

(CTRL+B) was pressed. Waiting for second key of chord...

Visual Studio 2015 Pro 14.0.23107.0 D14REL
VsVim 2.0.1.0

[2015-11-04 15:13] jnothstine commented on #1643
Go to ReSharper/Options
Under Environment/Search & Navigation
Uncheck "Enable 'Smart go to declaration'

That fixed the problem for me.

[2015-11-04 17:58] Flawe opened #1693 "Moving through the changelist with g; ang g, doesn't work"
Is this not supported or do I happen to have something badly set up? The jumplist seems to work with <C-i> and <C-o> but not the changelist. `` and `. also work fine.

[2015-11-05 06:22] ljani commented on #1643
@jnothstine Thanks for verifying and the workaround, it fixed the problem for me.

Though I wouldn't mind if this worked correctly with VsVim. Should I open another issue for this, @jaredpar?

[2015-11-05 08:39] knatten commented on #625
@ciwchris You say "'CTRL-W, j' and 'CTRL-W, k' are currently implemented.", should I expect those to work in 2.0.1.0? What do they do? I would expect them to move focus between horizontal tab groups, but they don't seem to do anything.

Anyway, <C-w>h / <C-w>l is my most wanted feature for VsVim.

[2015-11-05 08:40] knatten commented on #1623
Related: https://github.com/jaredpar/VsVim/issues/625

[2015-11-05 15:22] ciwchris commented on #625
@knatten yes, they provide movement between horizontally split windows. I'm currently using version 2.0.1.0 and they are functioning. `CTRL-W j` will move to the window below the current window and `CTRL-W k` will move to the window above the current window. [Window move cursor](http://vimdoc.sourceforge.net/htmldoc/windows.html#window-move-cursor)

[2015-11-06 09:18] nooberfsh opened #1694 "a problem with visual assist x"
when i input something like: vector<>  when i finish typing , i enter ESC then i quickly, then the cursor is on the '<' and did not go into input mode.
when i uninstall visual assist x , the problem is gone, but visual assist x and vim are both important for me.

 please fix the problem , thanks very much

[2015-11-09 04:18] jaredpar commented on #1694
Curious: have you enabled the registry flag that asks Visual Assist to work with VsVim?

[2015-11-09 04:19] jaredpar commented on #1643
@ljani yes, please open a bug

[2015-11-09 04:20] jaredpar commented on #1693
This isn't implemented yet.  It's covered by issue #750

[2015-11-09 04:20] #1693 closed

[2015-11-09 04:35] jaredpar commented on #1692
@makcakaya sounds like <kbd>Ctrl+B</kbd> is still mapped to a Visual Studio command.  Have you used the VsVim options to switch control to VsVim for this keyboard entry?

- Tools -> Options -> VsVim -> Keyboard
- Select VsVim for the relevant keys

[2015-11-09 04:38] jaredpar commented on #1690
Not right now.  I've had a couple of requests for this though and will be adding it very soon.

[2015-11-09 06:28] ljani opened #1696 ""gd" doesn't work correctly with ReSharper 10's "Usage-aware Go to Declaration""
Steps:
1. Install ReSharper 10 on VS2015
2. In ReSharper's options, enable `Smart go to declaration` (`ReSharper` > `Options` > `Environment` > `Search & Navigation` > `Enable 'Smart go to declaration'`)
3. Move your cursor over a symbol usage (eg. `new Symbol()`)
4.. Press `gd`

Actual output:
1. Cursor is moved to the declaration and then instantly to the first usage of that symbol

Expected out

[2015-11-09 09:21] makcakaya commented on #1692
Yes, CTRL+B and CTRL+F is set to be handled by VsVim.

![Screenshots](http://imgur.com/a/rBblB)

[2015-11-09 20:23] jakeday opened #1697 "Tab and Shift Tab over multiple lines inserts gv characters"
For some reason, when tabbing or shift tabbing multiple lines of code, the gv characters are getting inserted. This is using the stock vsvimrc config on Visual Studio 2013.

[2015-11-10 12:23] ip commented on #1558
Still not fixed in VS2015

[2015-11-10 12:29] ip commented on #1634
Still isn't fixed in VS2015:
 - Wrong highlight colors when searching
 - Hard-coded status bar colors

![2015-11-10 15_27_07-greenshot](https://cloud.githubusercontent.com/assets/1111008/11062387/9aa9f5e2-87bf-11e5-8d9e-b85737917091.png)

[2015-11-10 15:49] elrob commented on #1688
I'm having the same problem. :(
Resharper 9.1.3
VsVim 2.0.1.0

[2015-11-10 15:59] Farami commented on #1658
I had the same issue. What fixed it for me was downloading the Visual Studio 2015 Language Pack and changing the language to english.

Seems to be a localisation problem.

[2015-11-12 00:11] benrhughes commented on #1148
This is happening for me with typescript files now - js seems ok though. I'm using:
* vsvim 2.0.1
* VS2013 update 4
* R# 8.2

[2015-11-12 16:04] #1690 closed

[2015-11-12 16:06] jaredpar commented on #1634
@ip this issue concerns updating values when in high contrast mode.  The screen shot you supplied here isn't in high contrast.  What behavior are you expecting to work here?

[2015-11-12 16:07] jaredpar commented on #1558
@ip what are you expecting to be fixed?  The search colors can all be individually changed.

[2015-11-12 16:10] jaredpar commented on #1692
Hmm, seems like some command is still overriding those keys then even though VsVim tried to remove them.  Can you run the command `VsVim.DumpKeyboard` from the Command Window inside Visual Studio and paste the results here?   The output will be stored in `%LOCALAPPDATA\VsVim\keyboard.txt`

[2015-11-12 16:14] jaredpar commented on #1697
Can you post the contents of your vimrc file?  It's possible VsVim is picking up a setting from that file it's misinterpreting which is causing this behavior.

[2015-11-12 17:12] DJMcMayhem opened #1699 "VsVim causes exception on Visual Studio Loading"
When I opened VS this morning, I received this error:

    An exception has been encountered. This may be caused by an extenstion. You can get more information by examining the file C:\Users\jmhjr\AppData\Roaming\Microsoft\Visual Studio\12.0\ActivityLog.xml

In that file, I have this error repeated several times:

      <entry>
        <record>319</record>
        <time>2015/11/12 17:01:53.162</ti

[2015-11-12 18:20] jakeday commented on #1697
Where would I find the vsvimrc file? This is a clean install of Visual Studio 2013 and VsVim.

[2015-11-12 18:47] ip commented on #1634
@jaredpar I expect light text on dark background, obviously.

[2015-11-12 18:48] ip commented on #1634
@jaredpar With search, the text should be distinct from background

[2015-11-12 18:55] ip commented on #1558
@jaredpar It seems to me that they should change when I switch themes. At the moment, everyone who want to use non-default theme have to fix that manually.

[2015-11-13 05:26] ricksladkey commented on #1692
@makcakaya That screenshot shows "(Ctrl+B) was pressed.  Waiting for second key of chord..."

I'm guessing it is relevant that `Ctrl+B` is the first key of a multi-key binding.

[2015-11-14 16:44] jaredpar commented on #1699
Sorry about this.

Based on the stack it looks like VsVim is having a problem loading your vimrc file. In particular a ':write' command. In the short term u should be able to work around this by removing that line. Or just add a an empty .vsvimrc file in your home directory.

I'll get a fix submitted for this over the weekend.

[2015-11-16 10:38] elrob commented on #1688
Do you still need more data on this?

[2015-11-16 15:23] jaredpar commented on #1688
@elrob hopefully it will repro with this information.  Haven't tried yet (been out of town) but will be looking at it early this week.

[2015-11-16 15:27] jaredpar commented on #1697
@jakeday typically it will be in the `%USERPROFILE%` directory.

Note: a vsvimrc file will only be created if you created one yourself.  But VsVim will read a normal `.vimrc` file, used by gVim, if it finds one.

[2015-11-16 15:29] jaredpar commented on #1634
@ip are you using high contrast though?  Your screen shot indicates you are not.

[2015-11-16 18:10] jakeday commented on #1697
I did not create one, and I enabled the option to ignore the .vimrc from gVim. Is something there interfering?

[2015-11-16 21:21] jaredpar commented on #1697
Try running `:set` with no arguments on the command line. Two of the options displayed should be vimrc and vimrcpaths. The vimrc value is the file which VsVim chose as the vimrc file and vimrcpaths is the set of paths it looked at for the vimrc.

Also you can run `:map` with no arguments as well.  That should list any mappings that were being incorrectly read here.

[2015-11-16 21:48] JordanTHarris opened #1701 "Comment out with "gcc" or "gc""
It would be awesome to be able to comment out text with the <kbd>gcc</kbd> (current line) or <kbd>gc</kbd> (selection) key presses. I have to kind of fake this by using something like this:

[code]

This only lets me comment text out though. I can't uncomment text with it. I use this vim feature quite a lot and it's quite surprising it isn't here yet. I hope to see it sometime soon!

[2015-11-17 09:36] digitalcosmos commented on #1701
I personally use the built in Visual Studio shortcuts:
`<C-K> <C-C>` - *K*omment *C*reate
`<C-K> <C-U>` - *K*omment *U*ndo

I would suggest to map Caps Lock to Control (maybe OS wide) as that makes this kind of shortcuts really quick and easy to hit.( Hold `caps` with left pinky, hit `kc/ku` )

[2015-11-17 11:26] JordanTHarris commented on #1701
@digitalcosmos I use that for undo because it's less common, but I find <kbd>gcc</kbd> quicker. Funny enough, I actually do use Caps Lock for Control, as well as Escape. When I press it on its own, it's Escape. When I press it in combination with another key, it's Control. I can do that, as well as many others great things, thanks to AutoHotKey. I agree, that makes a lot of things easier and faste

[2015-11-17 12:12] digitalcosmos opened #1702 "Feature request: Repeat Last Command"
Hi @jaredpar,
If you type `@:` in vim, it repeats the last ex command. In VsVim we have to do `:<Up-Arrow><CR>` for the same behavior, which moves the hand away from the home row.

An example where this feature is useful is when performing a substitution on 1 line and then wanting to repeat.

Thanks!

[2015-11-17 13:20] ip commented on #1634
No, I use dark theme in VS 2015 (can be set in Tools -> Options -> Environment -> General)

[2015-11-17 14:28] makcakaya commented on #1692
[keyboard.txt](https://github.com/jaredpar/VsVim/files/36767/keyboard.txt)

[2015-11-17 17:11] DJMcMayhem commented on #1699
Strange. It definitely has something to do with my vimrc, but I can't figure out what. If I comment out every line, it still crashes, but If I remove every line it is fine. And then I can add a couple of lines back into the vimrc, but if I add all of them it still crashes. I have not been able to figure out a pattern for what it crashes on or not, but I'll keep experimenting with it.

[2015-11-18 03:32] millionbonus commented on #1688
I'm having the same problem.
However, It only happens when I edit .cs files while vsvim was disabled. If I switch to other kind of file(ex: .aspx, .js, .css) the problem gone. Then I switch back to .cs file. The problem comes back.

VsVim 2.0.1.0
Visual Studio 2012

[2015-11-19 19:52] mattroid commented on #1303
I have this problem in most editor views. If i'm on a comment line or a inside a string this happens.

[2015-11-19 22:46] allender opened #1703 "VSVim crashing Dev Studio 2012"
Hi - I have been experiencing crashes of Dev Studio 2012 for a while.  I finally started it with extension logging and waited for a crash to see what might be happening.  I am not entirely sure that this is VsVim, but due to the small number of extensions that I'm running, and the callstack, I have a suspicion that it might be.

I can't give you any detailed repro case.  Only that I start moving m

[2015-11-20 07:30] idealist1508 commented on #1699
If you wish i can try your config. Please upload it as a file, not just a text. Mayby there something wrong with newlines or some other issue with an encoding.

[2015-11-20 15:21] jaredpar commented on #1703
Thanks for reporting but this is a known issue in the C++ language service in Visual Studio.  I'm pretty sure it was fixed in more recent versions of Visual Studio.

[2015-11-20 15:21] #1703 closed

[2015-11-20 15:28] jaredpar commented on #1688
Sorry for the delay on this.  We had some bad weather in Washington that knocked out power for a few days and I do my R# investigations on my home desktop.  Power back but my license has apparently expired.  Hopefully it gets renewed this weekend and I can finish out this bug.

[2015-11-20 16:04] jaredpar commented on #1702
Thanks for filing this request.  It is already covered by issue #1115.  Hoping to get this into a future release.

[2015-11-20 16:04] #1702 closed

[2015-11-20 16:06] jaredpar commented on #1701
Thanks for taking the time to file this request.

Unfortunately I don't believe this is a vim command.  I believe it's a feature of the vim-commentary plugin.  Right now there are no plans in VsVim to support arbitrary plugins.

[2015-11-20 16:06] #1701 closed

[2015-11-20 16:09] jaredpar commented on #1699
I've submitted a fix for this.  But I'm still very interested in the vimrc file you have that was able to hit this.  I want to make sure there are no other hidden issues that I'm missing here.  If you could provide it that would be great.

[2015-11-20 17:34] JordanTHarris commented on #1701
Interesting. I didn't even know that. I just know that every other Vim emulation plugin I use (IdeaVim,  Vintage out,  and I think Vim-Mode)  has this feature.  I guess those developers thought it was a good feature to add,  but I can understand if you don't want to add it.  It's a seriously useful feature to have though. I guess I could just use <leader> for uncommenting and get use to that.

[2015-11-20 19:02] rcorre opened #1704 "Window navigation does not work on merge view"
When resolving merge conflicts using VS (via Team Explorer), the window navigation shortcuts (<c-w>+hjkl, ect.) don't work for moving between the split windows.

This might be an issue with the merge view rather than VsVim.

[2015-11-21 13:22] huadaxiang commented on #1694
i had look through the all options in va, i did not see the registry flag you said, is it somewhere else?

[2015-11-21 17:19] jaredpar commented on #1694
Here is the information about the key

http://support.wholetomato.com/default.asp?W271

[2015-11-22 00:43] jaredpar commented on #1692
It looks like Edit ToggleBookmark, NextBookmark and PreviousBookmark are all using <kbd>Ctrl+B</kbd>.  Try manually removing those key bindings.

[2015-11-23 05:23] JordanTHarris opened #1706 "Wrong behavior with "substitute line" (S key)"
In Vim, when you substitute the line using <kbd>S</kbd> or <kbd>cc</kbd>, the caret will return with the same indentation as the previous text.

In VsVim, the caret <strong>always</strong> returns to the very first column of the text editor.

[2015-11-23 07:28] makcakaya commented on #1692
Yep, I removed those bindings and it works now. Thank you.

[2015-11-23 07:28] #1692 closed

[2015-11-23 17:31] DJMcMayhem commented on #1699
Alright, sure. Here is my .vimrc in all of it's messiness. I'll try running it with that fix and see if it works.

[vimrc.txt](https://github.com/jaredpar/VsVim/files/41837/vimrc.txt)

[2015-11-23 20:29] S0und opened #1707 ""Surround With..." and VsVim"
After a Surround With command, VsVim keeps going into INSERT mode. After the surround i do not go into insert mode by my on choice, the only thing i do is pressing ESC furiously and 'hjkl'-ing.

https://youtu.be/XDR3p-H-rOM

**UPDATE: Paxxi's comment solved it, which is simply press Enter (multiple times, if needed).**

[2015-11-24 04:01] S-Bartfast commented on #1002
"It looks like this item just changes a very thin border color around the search highlight."

How did you manage that?
This is exactly what I am wanting to achieve.  I use a dark background with a light font and used to have my incremental search put a 'golden frame' around searched words, which I really liked.  I started working on a new machine and the "Item foreground" color of my "VsVim Highli

[2015-11-25 03:55] vadimi opened #1708 "Normal command issue"
I started to use `normal` command (which is very useful by the way) and noticed a case that doesn't work in VsVim, but works perfectly fine in vim. Let's say I want to remove all code from specific symbol (for example comma) till the end of the line in selected range of lines:

`:'<,'>g/,/normal nD`

Nothing happens in VsVim, but as I mentioned vim handles it correctly.

Adding @ecsousa just in ca

[2015-11-25 04:57] jnothstine commented on #1707
I have used Surround With... and it puts vsvim into a weird state.  I end up having to Visual Studio and restart it.  I quit trying because I never got any success with it.  I would love to see that work correctly.

[2015-11-25 07:12] S0und commented on #1707
As you can see, for me, it snaps out from this "wierd state" on it's own, but yeah, sometimes i have to restart VS.

[2015-11-25 13:27] c0ffeeartc commented on #1545
I'd like to see it under `Tools` menu, so pressing `Alt+T, V` would toggle `VsVim`

[2015-11-25 13:37] albertdev commented on #1545
Maybe the command provided for #1690 could also be added to a menu without too much trouble?

Mind you, I already have a `Vim` command in the External tools list of the `Tools` menu, don't know if other people would also have the `v` accelerator in use. Then again, I could always change it...

[2015-11-25 21:28] jaredpar commented on #1545
@albertdev it should be easy enough to add to the Tools menu.  I just need to add the correct entry.

[2015-11-26 03:30] ecsousa commented on #1708
I have taken a quick, this bug is not in normal command. It is in global command which doesn't copy search pattern into "/" register. This way, n stroke will fail as it has no search to continue.

If you, however, first search for ",", and then execute the command, it will work.

I will try to take a look in this issue, to see if I can provide any help.

[2015-11-27 17:41] ip opened #1710 "Shift+} expands hidden code blocks"
`Shift + }` / `Shift + {` commands doesn't take into account hidden blocks of code like this:
![2015-11-27 20_37_54-search](https://cloud.githubusercontent.com/assets/1111008/11446372/dd64977c-9546-11e5-8bbc-29800c002f1d.png)
And they are getting expanded.

`j` and `k` keys work correctly.

[2015-11-28 04:25] jaredpar commented on #1710
Thanks for reporting.  I will take a look at this.

[2015-11-28 04:26] #1708 closed

[2015-11-28 04:28] jaredpar commented on #1699
@DJMcMayhem thanks for posting. I see what line is causing the problem.  Going to further guard against that type of error.

[2015-11-28 04:33] jaredpar commented on #1706
Do you have `autoindent` set in your vsvimrc / vimrc file?  The <kbd>S</kbd> and <kbd>cc</kbd> command only go to the same indentation when `autoindent` is set.  When it is not set they reset to column 0.  VsVim emulates this behavior.

[2015-11-28 05:30] JordanTHarris commented on #1706
Wow, I feel dumb for that. No I didn't have `autoindent` turned on. It seems to work exactly as expected with it on. Sorry about that. I tried figuring out why it did that but came up dry. Thank you!

[2015-11-28 05:33] JordanTHarris commented on #1706
Wow, I feel dumb for that. No I didn't have `autoindent` turned on. It seems to work exactly as expected with it on. Sorry about that. I tried figuring out why it did that but came up dry. Thank you!

[2015-11-28 05:33] #1706 closed

[2015-11-28 08:49] DJMcMayhem commented on #1699
@jaredpar Well, now you've got me all curious. What was the problem?

[2015-11-28 16:55] jaredpar commented on #1706
No problem.  It's a common mistake.

[2015-11-28 16:57] jaredpar commented on #1699
@DJMcMayhem this line

[code]

The `'` character isn't a legal path character.

[2015-11-28 17:20] #1699 closed

[2015-11-29 22:44] Janiels commented on #1706
I have the same problem, but I have autoindent set. What would be the best steps to track down what the problem is, or what might be misconfigured?
Here is a gif demonstrating the behavior:
![Here is a gif](http://i.imgur.com/dyTfiX8.gifv)
I am pressing S at all the normal -> insert mode transitions.

[2015-11-30 00:58] jaredpar commented on #1706
@Janiels right now `cindent` isn't supported.

[2015-11-30 09:18] Janiels commented on #1706
I see. Thanks for the response.

[2015-12-02 00:14] pescuma opened #1711 "Handle dead keys on key press"
Is it possible to handle dead keys in the keyboard on key press? Currently, to type `^` I need to type `^<space>` in my keyboard (because `^` is a dead key).

[2015-12-04 08:55] chrisjaquet opened #1712 "Doing :w in a comment with Visual Assist "Auto-extend multi-line comments" option enabled results in additional comment characters being inserted"
Firstly - thanks for a great tool. Now on to the bug ;-) Note that this is not a major bug, but is something I run into quite often.

I am using both VsVim and VisualAssist (10.9.2083) with VS 2015 (14.0.23107.0) professional. I have enabled the "Auto-extend multi-line comments" in visual assist as I find it incredibly useful, however if I am inside a comment line (using either //  or /*) and I ty

[2015-12-05 17:31] Paxxi commented on #1707
Try hitting enter after the surround with. I've noticed the same issue when using other snippets like prop. Once you've hit enter to "close" the inputs that belong to the snippet everything is back to normal again.

[2015-12-07 04:07] ichpuchtli opened #1713 "VsVim conflicts with the new C# Interactive Window"
Somehow VsVim prevents you adding a space in the C# interactive window. Disabling VsVim resolves the issue.

References
https://www.visualstudio.com/en-us/news/vs2015-update1-vs.aspx#Csharp

[2015-12-07 19:18] jaredpar commented on #1713
Thanks for reporting.  I will take a look at that.

[2015-12-07 19:22] jaredpar commented on #1711
Dead keys is an area that I've frankly gotten wrong a number of times and only change with great care now.  Can you give me a bit more info here?  In particular what layout / language you use and where you are typing space at (normal mode, insert, etc ...).

[2015-12-07 22:46] pescuma commented on #1711
I use the Brazilian ABNT2 keyboard. I can also test it with the US International and UK international. I was talking about the normal mode.

IMHO, the best way to handle dead keys would be to accept them when the text would be sent to the document, and just use the key presses otherwise. (Please keep in mind that I'm a new vi user). For example, accept dead keys in insert mode, inside the text for

[2015-12-07 23:07] jaredpar commented on #1711
Curious: how does gVim handle these cases?

[2015-12-08 15:16] canro91 opened #1714 "<C-r><C-w> does not put current word in status line"
First, thanks for bringing vim to VS. Here it's the thing: `<C-r><C-w>` does not put the current word in status line. I tried it using VS 2013 and 2015 Pro, with no vsvimrc file.
- Steps:
	- Put cursor in any word
	- Type `:s/`
	- Hit `<C-r><C-w>`
	- When `<C-r>` is typed, a double quote (") is shown in the status line. But the word is not
	paste in status line.

[2015-12-08 16:33] pescuma commented on #1711
Just tested it: gvim does the same as VsVim: always uses the dead keys (so you need to type `^^`)

[2015-12-08 21:13] sharpjs commented on #1382
:+1: Workaround: use a different register.

[2015-12-09 01:39] pescuma opened #1715 "% only works over the {"
I think it should find the nearest { in the line and then go to its match.

[2015-12-09 01:41] pescuma opened #1716 "Mapping crv doesn't work"
The mapping `nnoremap crv :vsc ReSharper.ReSharper_IntroVariable<CR>` does not work. Instead, it puts the editor in visual mode.

[2015-12-09 14:48] jokoso commented on #1470
For me, this issue occurs when standing at the end of a line (also on a string), in normal mode, and pressing <Enter>.

Setup:
- VS2015
- R# 2015.2
- VsVim 2.0.1.0
- Web Essentials 2015.1

Uninstalling Web Essentials 2015.1 made the issue go away.

[2015-12-09 17:11] mattrrichard commented on #1696
Could this be solved by adding an entry to your vsvimrc to remap gd explicitly to the Resharper command?

Something like this:

`nnoremap gd :vsc ReSharper.ReSharper_GotoDeclaration<CR>`

(I don't have Resharper 10 to see if there is a new command you should map to instead of GotoDeclaration so you may have to play with that bit)

[2015-12-09 17:19] mattrrichard commented on #1716
What version are you running?  I cannot reproduce this issue in 2.0.401.

Is it possible that your vsvimrc file isn't being loaded?  Have you tried running it directly in VS using <kbd>:</kbd>?

[2015-12-09 20:29] pescuma commented on #1716
You are right. I don't know what I did, probably I used the wrong file. It's working :)

[2015-12-09 20:29] #1716 closed

[2015-12-09 20:58] mattrrichard commented on #1716
Glad to help :) :+1:

[2015-12-10 03:08] cosmoslx commented on #1193
@kuri65536  your solution also works in VS2015 with Simplified Chinese language
@lookforit you can try it.

[2015-12-10 05:57] lookforit commented on #1193
@cosmoslx
yes,that's the point.
Actually,I posted the solution last year:
https://github.com/jaredpar/VsVim/issues/1309

[2015-12-10 07:00] jaredpar commented on #1715
Do you have some sample code that demonstrates this problem?

[2015-12-10 07:07] jaredpar commented on #1714
Thanks for reporting.  I'll take a look at getting that implemented.  I thought I had done that when I did the general <kbd>Ctrl+R</kbd> support but looks like I missed that case.

[2015-12-10 07:09] jaredpar commented on #1711
That's what I was suspecting here.  Keyboard handling is very tricky and VsVim tries to emulate gVim as much as possible.  Is there a way gVim provides to make this easier to type?

[2015-12-10 07:22] wildeyes opened #1717 "Installation Failed"
![vsvimfailed](https://cloud.githubusercontent.com/assets/1652108/11709341/69527d9e-9f1f-11e5-9867-fcb260ead45f.PNG)

View Install Log Gives:

[code]

Any clue?

[2015-12-10 11:26] Janiels commented on #1711
In this particular case <kbd>_</kbd> is a good alternative to <kbd>^</kbd>, and is much simpler to type. The only other case of dead keys I use is <kbd>`</kbd> for going to a mark. Since VsVim already matches gVim in this behavior, I don't think it should be changed though.

[2015-12-10 13:39] pescuma commented on #1711
@jaredpar I found this in vim's repo: https://github.com/vim/vim/pull/399 (there are a few other issues related to this). Also found http://stackoverflow.com/questions/3937237/gvim-us-international-not-combining-dead-keys-with-space . I'd be glad if it would be possible to disable them in normal mode at least (maybe a flag to set?)

@Janiels Thanks for the `_`, I didn't knew that one. I'm having a

[2015-12-10 15:44] pescuma commented on #1715
I'm sorry. I've just tested and it is working. I probably did something wrong in the other day, because this is the second issue that I created an is working.

[2015-12-10 17:31] pescuma commented on #1715
Ops, spoke too soon. I was able to reproduce it in this code:

[code]

   1. Move the cursor over `Name`
   1. `Shift-V` to go to visual line mode
   1. `j` to move down. The cursor will be in the char after `{`
   1. Press `%`. Nothing happens. (If you move to the beginning of the like it works)

[2015-12-10 19:02] jaredpar commented on #1717
It looks like the VSIX tool is crashing trying to find the VS versions installed on the machine:

[code]

Based on the error message it looks like you're trying to run this on a machine with VS 2015 installed.  If so it looks like the installation may be in a bad state.  Can you try repairing the installation of Visual Studio and see if that fixes the problem?

[2015-12-10 22:42] pleppert commented on #1238
I am still seeing this behavior as well, as of VsVim version 2.0.1.0. Specifically, this regex to remove whitespace at the end of each line:
    `:%s:\v\s+$::`
this should match one or more whitespace characters before the end of the line, but instead it matches one or more 's' characters before the end of the line.
    `:%s:\s\+$:: `
this is the equivalent magic mode regex, which seems to work co

[2015-12-11 16:39] cbates- commented on #741
One use case:  When VisStudio loses focus, put VsVim into 'normal' mode (if it was in 'insert' mode).
I do this in vim with:
     au FocusLost,TabLeave * call feedkeys("\<C-\>\<C-n>")

[2015-12-16 17:55] cogwheel commented on #1713
In the meantime, `shift-space` seems to work as `space` should, or you can run `csi` in the VS developer command prompt (albeit without intellisense).

[2015-12-17 23:22] jaredpar commented on #1715
Thanks for clarifying.  I confirmed that is the behavior on gVim.  Will see what is going on with VsVim here.

[2015-12-20 12:12] ijcuevas2 opened #1718 "Completion Mode (Ctrl-X in insert mode)"
I don't know if this is already supported. VsVim should support line completion as in regular vim. For example, using the Ctrl-X Ctrl-L shortcut in insert mode to autocomplete lines is quite useful.

[2015-12-22 16:19] jeroldhaas commented on #1474
It's been a year since this has been opened. Is this feature still missing?

[2015-12-22 23:21] Porges opened #1720 "VsVim is being injected into R#'s unit test "output" panel"
In R#'s "Unit Test Sessions" window, VsVim is in the "output" panel. (This is basically the same thing as in #1498.)

This seems to be causing something pathological to occur as I have a test that writes a lot to the output window and VS is hanging.

It's not a very useful place to be as the "output" is read-only :)

R# version: 10.0.1
VsVim: 2.0.1.0
VS: 14.0.42720.0

[2015-12-24 16:57] jaredpar commented on #1720
Thanks for reporting.  I will take a look at this.

I agree it's not very useful.  Unfortunately the way Visual Studio extensibility works extensions essentially have to opt-out of windows.  Hence whenever a new window shows up like this I need to go and change the detection logic to recognize it's a window VsVim shouldn't be inside of and stop inserting into it.

[2015-12-24 22:50] jaredpar commented on #1720
I just tried to repro this on R# 9.0 and could not do so.  I created a couple of tests, had them fail by throwing an unhandled exception.  This caused some text to appear in the output window.  VsVim was not installed there.

It's possible this is just a R# 10.0 issue though.  I'm doing a pass on 9.0 right now to take care of some bugs.  Once those are done I'm going to upgrade to 10.0 and I'll tr

[2015-12-24 23:16] jaredpar commented on #1720
Yep, reproduces in 10.0 using the exact same steps.

[2015-12-24 23:48] jaredpar commented on #1688
For whatever reason I'm unable to reproduce this on my box.  I've applied all of the standard R# keyboard schemes, disabled VsVim and still been able to type spaces.  Been testing on R# 10.2 in VS 2012.

[2015-12-24 23:58] jaredpar commented on #1600
I just checked and this no longer reproduces in R# 10.2.

The odd part is this code path is already specifically guarded against this problem.  I can't really add any extra guards unless I can see this reproducing live to figure out why it's being bypassed.

Closing for now.  Please ping if this starts showing up again.

[2015-12-24 23:58] #1600 closed

[2015-12-25 00:08] jaredpar commented on #1585
Looks like the changes to ReSharperVersionUtility have addressed this.

[2015-12-25 00:08] #1585 closed

[2015-12-26 20:02] #1720 closed

[2015-12-29 00:15] zolem opened #1722 "Map leader to space"
I am not sure what I am doing wrong but I am trying to map the leader key to <Space> in my .vimrc I always set it like the below:

[code]

This doesn't appear to work for me in vsvim. Anything I might be doing wrong? I wasn't sure if the syntax "<Space>" was supported. I noticed that other issues on here used something like:

[code]

I couldn't get this to really work either but I only tried by ty

[2015-12-29 02:34] zolem commented on #1722
So I kept hacking at this for a while and I got the leader thing to work fine by adding it to a .vsvimrc file instead. The only problem with this is that now my .vimrc file isn't getting loaded. I suppose I could just copy the important stuff from my .vimrc file over.

Just so you know it appears that
[code]
is not working correctly when pulled from a .vimrc file.

[2015-12-29 15:59] xuefer opened #1723 "<ESC> then ":" reopen suggestion list"
VAX: 10.9.2086.0
Visual Studio 2015
VsVim: 2.0.1.0

type "public", suggestion list is pop up by VAX
press <ESC> to quit vsvim's insert mode into normal mode, the suggestion list is also dismissed
press button ":" (i want :w)

actual result: suggestion list is pop up again
expected: vsvim should catch ":" going into command mode

[2016-01-01 13:55] jaredpar commented on #1722
I think the issue here is that VsVim is failing to parse out other parts of your .vimrc which results in it skipping the `mapleader` definition.  Could you post your vimrc somewhere that I could take a look at?

[2016-01-03 19:03] baldurk commented on #1715
FYI I have a local hack to fix this, you can replicate the behaviour also just by clicking on the line anywhere after the `{`, as that places the cursor on the character after the the `{`. I checked to see if the bug was fixed in the latest release and found this issue.

The hack is in MotionUtil.fs, in [MatchingTokenUtil](https://github.com/jaredpar/VsVim/blob/master/Src/VimCore/MotionUtil.fs#L69

[2016-01-04 14:33] jaredpar commented on #1715
Hmm, was looking at the issue this morning and right now VsVim appears to be conforming to gVim behavior here (despite my previous experiment).  gVim only appears to respect `%` commands when the brace occurs after or on the caret.  It does not search before.  This behavior is also reflected in comments in the source code hence I believe it to be the correct behavior as is.

Do you see the behavio

[2016-01-04 14:37] jaredpar commented on #1715
Ah I seem to have figured it out.  The key here is the white space which occurs after the `{`.  If there is no white space then the bug description is correct: `%` should match the later bracket.  This is because the visual display is a bit deceptive here.  The caret is functionally on the last column of the line even though visually it is past it.

If there is white space though then the `%` oper

[2016-01-04 14:45] jaredpar commented on #1715
@baldurk yep, that's essentially the fix that is needed.

[2016-01-06 18:59] pescuma commented on #1696
I had this problem too. Adding a explicit mapping to resharper command fixes the problem.

[2016-01-07 23:55] baldurk opened #1725 "Clipboard failure handling is broken"
Following up from #1675, I have the same problem if I install a recent build (for a long while I had a locally hacked build so I only just started seeing it). It seems the `_useTextMethods` backup case is never actually set to false when retrying fails in [ClipboardDevice.cs](https://github.com/jaredpar/VsVim/blob/master/Src/VimWpf/Implementation/Misc/ClipboardDevice.cs). I think you want to make

[2016-01-08 15:47] kmorcinek opened #1726 "Recorder macro disappear after Visual Studio restart"
Every time I restart Visual Studio I need to record macros again. For example in gVim in my system I don't have this problem.

[2016-01-08 16:05] jaredpar commented on #1726
VsVim doesn't yet save registers (where Macros are stored) between restarts yet.  I'll look to get that added in a future release.

[2016-01-08 16:09] kmorcinek commented on #1726
Any ideas for current workarounds for that? It is limiting use of macros quite a lot.

[2016-01-09 08:00] mattrrichard commented on #1726
You can save them in your vsvimrc like this:

[code]

This can get somewhat tricky, though when your macros contain special keys like <kbd>Esc</kbd>.  You can still enter these by using <kbd>Ctrl+v Esc</kbd>.

However, I'm not sure if it's possible to save a macro that contains <kbd>Enter</kbd> in this way as I wasn't able to find a way to encode that character.  Using actual vim, I was able to in

[2016-01-09 16:38] jaredpar commented on #1725
Good catch.  Will submit a fix for that shortly.

[2016-01-09 21:49] #1715 closed

[2016-01-11 01:18] #1725 closed

[2016-01-11 01:18] #1726 closed

[2016-01-13 06:47] yifanchen opened #1732 "Is there any way to map jj as <ESC> in insert mode?"

[2016-01-13 15:09] jaredpar commented on #1732
This can be done with a standard `imap` command:

[code]

I just verified that works on VS 2015.  Is this not working for you?

[2016-01-13 23:17] jasjuang opened #1733 "Go back to the line just yanked `` is not working"
After we yank a line, and lets say go down 5 lines to paste, `` should take the cursor back to the original line but it isn't

yy
5jp
`` ---> this is not working

Will appreciate if you can look into this.

[2016-01-14 17:59] zolem commented on #1722
Below is my *vimrc*. I switched to using just a *vsvimrc* and removed anything irrelevant to visual studio and now it works just fine. It would be nice if I could just use my *vimrc* and have *vsvim* ignore anything that is irrelevant and then do visual studio specific commands in my *vsvimrc*. In other words load both but ignore things that are irrelevant. That might be an insane project so for n

[2016-01-14 18:06] zolem opened #1734 "Double command margin"
I am having a weird issue where I have a double command margin. It's not really a problem but does make the command margin appear very bulky. I tried just turning it off and using the status bar but you can't see the status bar when you pull tabs out to another monitor. I wonder if there is just a setting I broke or an extension conflict. Maybe this is expected behavior and I don't know what I am

[2016-01-14 19:14] hmny opened #1735 "Add a command to build the solution"
This is not a bug! Just a suggestion. That would be nice if you can build the solution using a shortcut like `:b` which I don't think is mapped to anything else.

[2016-01-14 20:08] yifanchen commented on #1732
How does this actuallly work? Do you just add this line in your windows .vimrc? I am using virtual machine with fusion windows 10 on macbook pro, trying not to do any command line thing in windows.

[2016-01-14 20:43] zolem commented on #1735
This is a good way to do it. I don't know how to remap something to be a :command but the leader is my favorite thing to use to map visual studio specific commands.
noremap <leader>b :vsc Build.BuildSolution<cr>

[2016-01-15 00:50] gibwar commented on #1734
Based off your `.vimrc` in #1722 the double line is being caused by

[code]

(which you actually set more than once)

VsVim has a default of 0, so you'll need to change it to `0` to remove it.

[2016-01-15 13:20] jtbm37 commented on #1735
As zolem mentioned above you can call most visual studio commands from the command line.

[code]

[2016-01-15 18:52] hmny commented on #1735
awesome! thanks for the tips

[2016-01-15 18:52] #1735 closed

[2016-01-15 19:04] jaredpar commented on #1733
Thanks for reporting that.  I will look at getting that implemented.

[2016-01-15 19:06] jaredpar commented on #1732
I usually just mappings like that to my vsvimrc file.

[2016-01-15 19:06] #1732 closed

[2016-01-16 11:01] SimonGustavsson commented on #1267
Keep running into this issue, and doing F#, it's a real issue as TABs are not valid for indentation.
Any news on this? :-)

[2016-01-16 20:22] zolem commented on #1734
Ok cool I will check it out thanks.

[2016-01-17 22:45] jaredpar commented on #1267
@SimonGustavsson I will try and get this into the next release.

[2016-01-18 05:35] #1267 closed

[2016-01-20 05:03] Porges commented on #1720
Forgot to :bow:

[2016-01-21 11:26] czers commented on #1470
This may be connected: for me any command performed in JavaScript file that involves pressing `Enter` seems to be able to trigger TFS check-out of this file, e.g. `/` search or trying to move one line down (with `Enter`).

Important parts from my setup:
VS Professional 2013 Update 5
VsVim 2.0.1.0
ReSharper 8.2.3
Web Essentials 2013 2.6.13.0

[2016-01-22 04:15] #1734 closed

[2016-01-25 19:45] Farwaykorse opened #1737 "Support for $HOME/vimfiles/vimrc"
The internal help for 7.4 mentions an aditional default location for the configuration file.
`$HOME/vimfiles/vimrc`
Note no _ or . preceding the filename.

I'v noticed the following text in the help of Vim 7.4, (current stable version for Windows, compiled at 2013 Aug 10)
Result from `:help vimrc`
[code]

This is a change to the documentation for 7.3, although I couldn't find it in the change logs

[2016-01-26 10:01] idealist1508 opened #1738 "Yank with a setting clipboard=unnamed should be placed to the register 0 too."
How to reproduce:

[code]

[2016-01-26 10:06] idealist1508 commented on #1738
I was trying to fix it, but i got an Error
The type 'ClipboardOptions' is not defined in
https://github.com/idealist1508/VsVim/blob/CopyToUnnamedFix/Src/VimCore/Register.fs#L569

I don't understand why?
@jaredpar: Can you help me with it.

[2016-01-27 06:43] jaredpar commented on #1738
@idealist1508 not sure why you would get that error as that type is defined in the project.  Are you sure nothing else changed which could have moved / deleted that type?

[2016-01-27 07:52] alexhardwicke commented on #1654
I'm having a similar issue - I can't type Shift+C or Shift+P in the regular editor with VsVim disabled with Ctrl+Shift+F12, nor in C# interactive at all (regardless of VsVim state). Unlike @Predelnik, I can type Shift+S though.

Space also doesn't work in C# interactive, but it does work in the regular editor window. Shift+Space works in VsVim.

I'd guess that this ticket and https://github.com/ja

[2016-01-27 07:56] idealist1508 commented on #1738
@jaredpar Yes, I am sure. I only add a new parameter to https://github.com/idealist1508/VsVim/commit/ffb4b1c685803af89bd0769ef2514542c716816e#diff-96e864afc9fb1f7f309e9318eb130074R569
Can you try to compile code from my branche https://github.com/idealist1508/VsVim/tree/CopyToUnnamedFix? Thanks

[2016-01-27 16:13] jaredpar commented on #1738
The reason you're getting that error is you're trying to use `ClipboardOptions` before it's been defined.  F# processes files in the order they appear in Solution explorer (top down).  In this case `ClipboardOptions` is defined in `VimSettingsInterface.fs` but you're using it in `Registers.fs`.  The latter file gets processed first hence the error.

[2016-01-27 16:38] idealist1508 commented on #1738
You are right. I read about this (and forgot). Thanks.

[2016-01-28 08:43] cchamberlain commented on #1629
Awesome!

[2016-02-06 18:19] jhamm commented on #1678
This is a useful feature. I verified it works by building from the source. Should this issue be closed?

[2016-02-07 17:31] #1678 closed

[2016-02-07 17:31] jaredpar commented on #1678
@jhamm yep.  Closing.

[2016-02-08 08:23] themiwi opened #1740 "Cannot enter space or upper-case characters in Immediate Window"
If I have VsVim enabled, in the _console_ windows of VS 2015 (Immediate Window, C# Interactive, NuGet Package Manager Console, ...) I can only enter the space character by pressing _Shift-Space_ and I haven't found a way of entering upper case characters except by invoking the auto-completion.

I have tried resetting my settings, but no luck.

[2016-02-08 08:25] themiwi commented on #1740
Ooop, sorry. Duplicate of #1713.

[2016-02-08 08:25] #1740 closed

[2016-02-08 22:52] mattrrichard opened #1741 "Intermittent VS hangs when used with Resharper"
Occasionally my visual studio hangs for 10-15 seconds, and it _seems_ to only happen when I have VsVim and ReSharper enabled together.

I'm honestly not even sure this is something VsVim is doing, and I know this is unbelievably vague, but how can I even start to figure out what is happening?

[2016-02-09 02:02] jhamm commented on #1671
I verified it works by building from the source. Can this issue be closed? This will help get us closer to 2.0.2 :smile:

[2016-02-09 08:18] knatten commented on #625
@ciwchris Sorry for the very late reply, I forgot all about this. On my computer, `Ctrl-w h` and `Ctrl-w l` *does* move between vertically split tab groups, but `Ctrl-w j` and `Ctrl-w k` *does not* move between horizontally split tab groups.
I'm using Visual Studio 2013 Update 4 on Windows 10, and VsVim 2.0.1.0.

[2016-02-09 21:59] ciwchris commented on #625
@knatten Interesting, you are correct. I guess I never create a "New Tab Group" and instead always split the current window. I expect `:new` and `:vnew` would create a "New Tab Group", but since they are not supported I split the window with `:sp` and `:vs` and then use the new window to open whatever file I'm interested in.

[2016-02-11 00:01] jhamm commented on #1653
PR #1742 should take care of this.

[2016-02-14 20:27] #1653 closed

[2016-02-14 20:33] #1671 closed

[2016-02-14 20:34] jaredpar commented on #1741
Can you grab a dump of Visual Studio when this hang happens?  That shuold give me enough context to track this down.

[Instructinons for grabbing a dump](http://blogs.msdn.com/b/debugger/archive/2009/12/30/what-is-a-dump-and-how-do-i-create-one.aspx)

[2016-02-16 13:57] knatten commented on #625
In summary, `Ctrl+w [hjkl]`
- works for windows opened with `:vs`
- works for windows opened with `:sp`
- does not work for  "new horizontal tab group"

And finally a weird thing, for "new vertical tab group", `Ctrl+l` always works, but `Ctrl+h` only sometimes works.

[2016-02-17 20:03] #1707 closed

[2016-02-18 05:29] jhamm commented on #1714
I am working on this one. I will add `<C-r><C-a>` with this PR.

[2016-02-19 02:26] jhamm commented on #1714
The referenced PR has the fix and tests for this issue.

[2016-02-19 02:37] #1714 closed

[2016-02-19 07:56] awojcik-lgnexera commented on #1718
Yes, this would be very useful. Or maybe this is already implemented but some configuration is needed?

[2016-02-20 23:07] zizhengwu commented on #1599
I am experiencing the same issue. I am wondering is there any workaround?

[2016-02-21 03:29] jhamm commented on #1650
I took a look at this one.

I think this may be part of the VS editor. If you switch to VsVim disabled, and click after the line, the cursor is at the same position as the original report. Then switch back to VsVim enabled and click after the line, its at the same spot. My initial guess is we will need to move the cursor back one character if it was moved by the mouse in normal, insert, or replace

[2016-02-23 05:52] jhamm commented on #1628
Do you have the Extension "Productivity Power Tools" installed with the option for "Syntactic Line Compression" enabled? This shrinks lines that do not have a number or character by 25%.

When I have this enabled, the over-selection happens. When this is disabled, this behavior does not appear to happen. This will happen whether the "scrolloff" is set to 7 or 0.

I was able to see this behavior in

[2016-02-23 09:02] debuuu commented on #1628
Thanks for the tip @jhamm, I checked, but I don't have Productivity Power Tools installed. In fact I have very few plugins, only: RelativeLineNumbers, Visual Assist, and Recode. It can't be Recode or RelativeLineNumbers, because I had the problem before installing both. Will dig through the VIsual Assist settings I guess. Thanks for the idea anyway!

[2016-02-24 06:08] jhamm commented on #1628
You are right this doesn't have anything to do with any other extensions. I disabled all extensions except VsVim and was able to get this to happen consistently.

Repro steps:
* (Start Visual Studio or start debugging Visual Studio Hive instance on the VsVim project)
* :set so=7   ' or have it in the _vsvimrc
* wait about 1 minute
* Test Case 1) open Test\VimCoreTest\CommandRunnerTest.cs
  * on li

[2016-02-24 06:35] jhamm commented on #1656
Is it possible that you also have a `.vimrc` or `_vimrc` that also has that map? One way to check could be to disable the VimRc File loading from Tools > Options > VsVim; and switch it to "No vsvimrc or vimrc files" or "vsvimrc files only".

[2016-02-24 08:49] debuuu commented on #1628
Oh awesome, you submitted a fix already! Hopefully gets merged soon. :+1:

[2016-02-24 11:55] eleijonmarck commented on #1461
+1

I keep doing it too :dancer:

[2016-02-26 21:18] kellyelton commented on #1628
Yeah this has been an issue for a long time for me, I was just coming here to try and get to the bottom of it. I'm glad that there's active progress going on to fix this.

[2016-02-26 21:28] kellyelton commented on #1682
I think the first thing he mentioned is #1628

[2016-02-26 23:46] Benhgift opened #1750 "Exception when trying to switch windows with CTRL-w, h and CTRL-w, l"
When trying to switch vertically split windows with ctrl-w h or ctrl-w l I get a divide by zero error. Here's the log output from visual studio 12.

<code>
        System.DivideByZeroException: Attempted to divide by zero.&#x000D;&#x000A;

[code]

</code>

[2016-02-27 08:29] jhamm commented on #1733
Hi, I am not able to reproduce this behavior in vim/gvim.
in a buffer of:
[code]

from normal mode:
[code]

The cursor is on 11,1.

 If "yy" was overwriting the previous context mark, the cursor should be at position 1,1.

Can you provide more information about this please?

[2016-02-29 07:03] jasjuang commented on #1733
In this case it should be

[code]

According to http://vim.wikia.com/wiki/Using_marks

''  jump back (to line in current buffer where jumped from)
`" jump to position where last exited current buffer

[2016-02-29 10:27] smatcher opened #1751 "';' interpreted as '.' on an azerty keyboard (french layout) with VisualAssist"
Hello.

I just installed VSVim and noticed that there is problem with the semicolon key in command mode.
On azerty keyboards the dot is on the semicolon key, you reach '.' by pressing shift + ';'
This issue only appears in command mode when the VisualAssist plugin is enabled.

Disabling VisualAssist solves this issue.
I didn't find a VisualAssist setting solving the issue (appart from disabling it

[2016-02-29 14:05] jhamm commented on #1733
Yup, you are right. I was reading ` as '.

[2016-02-29 18:23] jaredpar commented on #1650
@jhamm I think the bug is here

https://github.com/jaredpar/VsVim/blob/f711e222b249559aa9b5d00747cdf3f4820f0b66/Src/VimCore/SelectionChangeTracker.fs#L90

I **think** this should include the `VirtualEdit` flags as well to check for the caret being passed the EOL.

[2016-02-29 18:31] #1660 closed

[2016-02-29 19:11] DJMcMayhem commented on #1082
This problem has resurfaced. I had to reinstall VS 2013, and vsvim 2.0.1.0, and I am still having difficulties getting vsvim to see my ctrl-k press. I'm seeing the same thing as [Ricksladkey](https://cloud.githubusercontent.com/assets/2680524/5810844/fd5618e8-a01a-11e4-9b4f-096e5c414b96.png), even though I have removed every visual studio ctrl-k binding. Considering I'm using the exact same versio

[2016-03-01 04:03] jhamm commented on #1650
Yup you are right. I have modified the PR with the updated fix. Thanks! :smile:

[2016-03-01 07:26] rawdhamab commented on #1141
**it works for me thank you**

[2016-03-01 11:42] jhamm commented on #1650
Lets hold off on merging this PR. I think the tests should cover both with and without the ve=onemore setting.

[2016-03-01 16:24] Chiel92 commented on #1406
I still experience this issue. It seems to be related to where on the cursor you have the mouse when you release it. If you look at the gif below, you see that the last `e` in `license` is selected depending on where the mouse is on the cursor. If its more to the right, it is not selected, and if its more to the left, it is.

![asdf](https://cloud.githubusercontent.com/assets/1030961/13433381/e7a3

[2016-03-01 18:22] #1654 closed

[2016-03-01 18:22] #1713 closed

[2016-03-01 19:12] jaredpar commented on #1751
Thanks for reporting this issue.

Have you contacted Visual Assist about this?  VsVim in general won't interpret key strokes in this way anymore.  It will process the char as typed.  It's possible there is a bug here but it's been a while since we've seen an issue in this area.

[2016-03-01 19:43] jaredpar commented on #1750
Thanks for reporting.  I will get that fixed.

[2016-03-01 19:44] #1665 closed

[2016-03-01 22:30] Benhgift commented on #1750
Thanks you, I'm very glad that vsvim exists as it makes my life much easier.

I think I should also report that it magically stopped erroring. Before it mystically stopped erroring I tried rebooting and opening different projects, which didn't help, and I was about to uninstall vsvim and reinstall when it just started working again.

[2016-03-02 09:51] smatcher commented on #1751
Hi,

I haven't contacted the Visual Assist team about this yet. I noticed that similar bugs were fixed in the past and wanted to see what you could do before contacting them.
I will file a bugreport to the Visual Assist team.

[2016-03-04 08:43] JohnnyPP commented on #574
This would be a really cool feature.

[2016-03-04 09:55] Chadehoc opened #1752 "gd does not feed the jump list"
Hi,
`gd` does not seem to be recorded as a jump, `''` does no work next ("mark not set").

[2016-03-04 13:08] WillemMali commented on #1741
I experience this problem as well since I got ReSharper.

Sadly I don't have time to make a process dump and remove personal/work data from it. Is there any other way in which I could help?

[2016-03-05 01:36] mattrrichard commented on #1741
I've recently switched projects to a much, _much_ smaller project and this problem hasn't actually happened in weeks.  I still keep procdump handy in case it does....

[2016-03-06 16:00] #1650 closed

[2016-03-06 16:03] jaredpar commented on #1741
If you create a mini-dump the amount of personal info is pretty constrained because it doesn't include anything from the heap. Mostly I'm just interested in the stack traces because that will give me the information I need to track this down.

[2016-03-06 16:09] jaredpar commented on #1752
The `gd` command does feed the jump list as seen below:

https://github.com/jaredpar/VsVim/blob/9548fd76d595e371c1a78043699ec49240d1329b/Src/VimCore/CommonOperations.fs#L710

The issue seems to be that the " mark is not supported.  Can you point me to some more information on this?

[2016-03-07 10:13] noscript opened #1754 "Wrong symbol for 'gd'"
VsVim has a deviant behavior from Vim. It fails to properly extract the word under cursor for "go to definition" movement.

Doing `gd` there (marked the cursor location as `|`):

[code]

fails with:

[code]

Similar in there:

[code]

it will try to query `someMethod` instead of `object`.

[2016-03-07 10:35] noscript commented on #1516
:+1:

[2016-03-07 10:39] noscript commented on #1754
VS has two suitable functions to make an equivalent for `gd` but they require an argument (#1516)
[code]

[2016-03-07 12:26] Chadehoc commented on #1752
Do you mean the `'` (single quote) mark?  All I can notice is that `''` (doubled single quote) brings me back after most other jumps, but not after `gd`. The linked code seems to do the job, but in the end it doesn't work for me.

[2016-03-08 11:58] sfx2k opened #1755 "VsVim Options Dialog doesn't work in VS2010 running on Windows 7 64bit"
Same issue as #476 with German language (VS 2010 SP1) and VsVim 2.0.1.0.
Keyboard-Dialog is empty :(

[2016-03-09 09:53] jankner opened #1756 "selection using mouse in VISUAL LINE mode selects parts of lines"
Moving the selection by shift-clicking allows me to select partial lines when in Visual Line mode, which is not how vim behaves. In vim the entire line is selected when you shift-click in Visual Line mode.

[2016-03-09 12:09] eleijonmarck opened #1757 "Disable VsVim ctrl+shift+F12 goes to AssemblyInfo"
Visual Studio 2015,
Windows Server 2012,

Ctrl+Shift+F12 goes to AsseblyInfo

[2016-03-09 18:36] nandox commented on #1332
Same problem with vip, not working and would like to use it.

[2016-03-11 04:55] jhamm commented on #1733
I have a working mark " at [jhamm/VsVim/fix-1733](https://github.com/jhamm/VsVim/tree/fix-1733).

I am now working on mark ``

When they are completed, I will create a PR.

[2016-03-11 10:11] jankner commented on #1756
Something I just realized: The partial line selection appears to be only visual. Commands still work as if entire lines have been selected.

[2016-03-11 14:23] skippermike opened #1758 "VS Code integration"
Would it be possible to adjust VsVim in order to provide the same, great vim functionality in VS Code editor exactly like it is already done in its bigger brother Visual Studio?

[2016-03-12 00:16] jhamm commented on #1758
The project owner may have a different idea, but I do not think that VsVim would be able to be quickly ported to VS Code. See the wiki article on this topic: [Porting VsVim to other applications](https://github.com/jaredpar/VsVim/wiki/Porting-VsVim-to-other-applications)

VS Code is a Node.js application, so it does not use WPF and the article indicates that porting to a non-WPF host would be a la

[2016-03-12 00:26] jhamm commented on #1758
It does look like there are some other projects that have made some progress in providing vim functionality in VS Code:

https://github.com/VSCodeVim/Vim
https://github.com/74th/vscode-vim

[2016-03-12 00:54] jhamm commented on #1756
This could be related to #1628. There is an open PR that resolves similar issues.

[2016-03-12 00:58] jaredpar commented on #1758
Porting VsVim to VsCode is unfortunately not a realistic option.  Despite the name VS Code shares practically zero code with Visual Studio.  They have an entirely different model for extensions: both in API and underlying runtimes.

VsVim relies heavily on the WPF editor and is portable anywhere that is hosted with little effort.  It cannot target non-WPF editor platforms though such as VS Code.

[2016-03-12 00:58] #1758 closed

[2016-03-12 06:17] jhamm commented on #1659
I think this issue can be closed. The PR has been merged.

[2016-03-12 06:19] jhamm commented on #1628
@jaredpar Can you review this PR?

[2016-03-12 06:28] jhamm commented on #1656
What does vsvim display when you run the command `:map`?

[2016-03-12 06:50] jhamm commented on #1688
This could be related to the fix in PR #1745.

[2016-03-13 00:30] skippermike commented on #1758
I understand.
Thank you for all your help!
The reason I asked for it is that I do love VsVim and I am addicted to it when using VS and I miss it very much in other editors - like VS Code which is in its early development stage.

[2016-03-13 17:02] jaredpar commented on #1656
@jhamm it will display the contents of all mappings.  In the past I've found that content vimrc files confuse the vimrc logic and end up with errant key mappings defined.  Or at least key mappings that VsVim doesn't support: primarily pointing to functions.

This is the code that controls it.

https://github.com/jaredpar/VsVim/blob/master/Src/VimCore/Interpreter_Interpreter.fs#L626

[2016-03-13 17:03] #1628 closed

[2016-03-13 17:04] #1659 closed

[2016-03-13 17:05] jaredpar commented on #1659
@jhamm i agree.  It seems really odd that this would have ever happened.  But the PR you submitted should close down the only case I could think of for causing this.

[2016-03-14 13:35] gwojan commented on #1659
@jaredpar, @jhamm, the problem still occurs on my system but I think it has something to do with the PowerShell Tools for Visual Studio. I loaded four different instances of Visual Studio 2013 including a PowerShell project and the StatusLine loaded below the horizontal scrollbar.

I closed all four instances and opened only a PowerShell project and the StatusLine appeared above the scrollbar. :fr

[2016-03-15 02:07] pescuma opened #1759 "Implement digraphs and Ctrl-K"
http://vimdoc.sourceforge.net/htmldoc/digraph.html

[2016-03-15 02:18] pescuma commented on #1711
I've created issue #1759 as an alternate approach to fix this problem.

[2016-03-15 08:51] floatas commented on #1757
I am using VS2015 on win8.1 and win10 and I don't have any issues. Did you checked Tools > Options > VsVim > Keyboard ? Maybe it is handled by Visual Studio and not VsVim

[2016-03-16 15:06] jaredpar commented on #1757
@floatas I'm guessing that in this case the key binding was used by Visual Studio.  Need to take that into account when I'm in disabled mode.

[2016-03-17 01:41] wangzq opened #1761 "Is it possible to define key map based on command availability?"
I am currently facing an issue which is probably caused by R# instead of VsVim:

I have mapped `gd` to `Edit.GoToDefinition`, which works without R# enabled. Once R# is enabled, and used "Visual Studio" as its keyboard scheme, then when I use `gd` or even using command window to directly invoke `Edit.GoToDefinition`, it will behave like `Go to next usage of the variable`.

As I mentioned above, th

[2016-03-17 03:10] jhamm commented on #1656
I would like to help with this issue.

@jaredpar what is your "definition of done" for this one?

[2016-03-17 23:58] jakobbotsch opened #1762 "Quick <ESC>+o in Insert mode puts cursor on next line in normal mode"
I sometimes see a small problem when doing <kbd>ESC</kbd><kbd>o</kbd> while in Insert mode. VsVim will put me on the next line, but in normal mode instead of the expected insert mode; I can easily reproduce this if I press the keys in rapid succession. If I leave a small delay between <kbd>ESC</kbd> and <kbd>o</kbd> VsVim will correctly leave me in insert mode on the next line.

[2016-03-18 04:44] ricksladkey commented on #1762
I have been having a similar symptom recently that I haven't been able to quite reproduce at will.  I have a idiomatic sequence I often type rapidly after finishing text in insert mode: <kbd>Esc</kbd> <kbd>:</kbd> <kbd>w </kbd> <kbd>Enter</kbd>, which instead of entering normal mode and writing the buffer, inserts a newline into the buffer.

[2016-03-18 21:10] neeasade commented on #983
Also seeing backspace not working in macros.

[2016-03-20 13:14] MartinL0815 commented on #1634
After some time an add-on to this problem.

With high-contrast-mode and colors adapted the way you @jaredpar advised, the caret in the command line is invisible.

[2016-03-21 15:51] jhamm commented on #1634
This seems like the issue #1665. The PR #1748 has been merged with the fix.

[2016-03-21 17:37] CodEFouR opened #1763 "VsVim breaks parenthesis highlighting"
I'm using Visual Studio 2015 Community with F# Power Tools installed. When I don't have VsVim installed the matching parenthesis are highlighted but not with VsVim installed and enabled. The parenthesis highlighting works after disabling VsVim.

[2016-03-21 18:51] ckimes89 commented on #1562
I get this in VS 2015 in JS files and CSHTML files. I suspect there's some conflict with ReSharper since if my cursor is over a string in JS when I press enter (after finding something with `/`) then it splits the string onto a new line, which is a feature of ReSharper.

[2016-03-22 14:20] Chiel92 opened #1764 "Visual studio keybindings broken due to loading vimrc when starting from vim"
Whenever I load Visual Studio from vim using `<F1>` with `<F1>` being

[code]

many keys are broken, I assume due to having them remapped in vimrc, since the first time I did this, VsVim notified me that it found my regular .vimrc and decided to load it (instead of my .vsvimrc, which it loads normally).

Then I turned off the load .vimrc option in the VsVim options by explicitly restricting it to

[2016-03-22 19:32] DJMcMayhem opened #1765 "<c-a> and <c-x> don't work correctly on hex literals."
If I type

[code]

And then hit `<c-a>`, it will remove the leading 0, and I'm left with this:

[code]

Another problem is that it can't handle hex letters. (A, B, C, D, E or F). If I hit it several times, it works fine until 0x9. If I hit again, it will (correctly) change it to 0xa. Once this happens, I can hit `<c-a>` and `<c-x>` all I want and no changes will happen.

[2016-03-22 19:43] DJMcMayhem commented on #1765
Update: I just realized a workaround for this. If you have `0xa`, it will not recognize this as a number unless you first move back. So `<c-a>` does not work, but `B<c-a>` works just fine.

[2016-03-23 09:33] eleijonmarck commented on #1757
@floatas was right. It was used by visual studio for action : View.NextError.

Enterprise Version also.

[2016-03-23 13:25] jhamm commented on #1757
This may be related to the issues #1654 and #1713 that is fixed by PR #1745.

[2016-03-24 22:50] jaredpar commented on #1764
That is really strange.  That should be the equivalent of just clicking on a solution file.  If you run `:set` it should display the paths that VsVim looked for the vimrc in.  Is it looking in the same places for both scenarios?  Also what does `:map` output in the incorrect case?

[2016-03-25 01:16] jaredpar commented on #1562
@ckimes89 I agree some interaction with ReSharper is likely at the heart of this problem.  Unfortunately I'm unable to reproduce it.  It's a real issue though as several users have reported this in various forms.  For whatever reason though it will not repro on any of my machinse (tried about 3 different setups now).

I wonder if there is a simple ReSharper setting which causes this to repro / not

[2016-03-25 01:16] jaredpar commented on #1763
I will take a look at this.  I wonder if we're using the same key for our colors.

[2016-03-25 01:18] jaredpar commented on #983
This should be fixed in the next version of VsVim (release early next week).  There is a new setting that causes VsVim to have much stricter macro recording.  That will fix issues like this.

[2016-03-25 01:20] jaredpar commented on #1761
Does ReSharper have a named command for Go to definition?  I wonder if I should just change `gd` to use that one when ReSharper is installed vs. using the VS version.

[2016-03-25 04:11] neeasade commented on #983
Awesome, thanks!

[2016-03-25 09:04] Chiel92 commented on #1764
Thanks for you reply. After I changed VsVim to only look at vsvimrc, I was starting to think that VsVim has nothing to do with it, and looking at `:map` confirms that. The thing here is, opening a single file doesn't make Visual Studio aware of the solution, disabling many function keys. The fact that I had also remapped these in my vimrc is a coincidence.

However, when I set "VimRc File Loading"

[2016-03-25 21:53] wangzq commented on #1761
I haven't tried to peek into related R# code to verify it is also overriding the Edit.GotoDefinition command, but the behavior does suggest it should be; I am also not able to find a similar R# command for that.

However, I still feel like if we could use vsvimrc to map the same keys to different commands then it would be great. One idea is to just write multiple mapping lines in order, and if the

[2016-03-28 12:38] jhamm commented on #1733
This one can be closed, the PR has been merged.

[2016-03-28 15:43] jasjuang commented on #1733
Thanks a lot for making this happen!

[2016-03-28 15:43] #1733 closed

[2016-03-28 20:58] jhamm commented on #1733
Glad I can help :smile:

[2016-03-29 14:44] gwojan opened #1766 "VsVim support for SSMS 2016"
@jaredpar Is there any chance VsVim will support SSMS 2016? I found the link to an earlier blog article about making support work but that link appears to be offline.

[2016-03-31 09:49] simendsjo commented on #965
I'm using ViEmu, and I'm having the same issue. Should workarounds be added to both ViEmu and VsVim, or should JetBrains fix ReSharper instead? I haven't found any setting to turn off this "feature", and I cannot find any issue for this in their issue tracker. Breaking the workflow of all vim users should be addressed at the source.

[2016-03-31 15:14] archnaut opened #1767 "Unexpected commands executed in VS2015 Package Manager Console and ReSharper 10.0.2"
Visual Studio Enterprise 2015
ReSharper 10.0.2
VsVim 2.0.1

I've enjoyed using VsVim for 2 years now and I've become quite dependent on it. I was sadden to discover and issue after upgrading to Visual Studio 2015 and ReSharper 10.0.2.

When entering text at the command prompt in the Package Manager Console ReSharper commands will execute when holding Shift and typing either N or P.

ReSharper.ReSh

[2016-04-01 17:23] codernator commented on #1562
@ckimes89 My group is experiencing the same issue, and has narrowed it down to Web Essentials. Resharper, as far as we can tell, is not relevant. We have suspended further digging because Web Essentials isn't for us.

[2016-04-01 20:05] jaredpar commented on #1562
@codernator interesting. I haven't tried that combination before.  Maybe that is the trick.

[2016-04-02 09:02] jaredpar commented on #1767
That is certainly unexpected.  I will look into that to see what is going on there.

[2016-04-02 09:07] jaredpar commented on #1766
The SSMS product uses the Visual Studio shell.  As such VsVim can in theory work just fine in it.  The problem is whether or not SSMS allows extensions to be installed.  Last I checked it wasn't supported but developers had found a way to ... convince extensions to work in that.

This is the best article I could find on doing this:

Unfortunately there really isn't anything I can do on my end.  If

[2016-04-02 09:07] #1766 closed

[2016-04-04 13:25] jhamm commented on #1332
I have a PR that adds the inner paragraph motion.

[2016-04-05 20:11] #1332 closed

[2016-04-07 23:29] jakubsuchybio opened #1769 "Can't install your extension in new VS"15"Preview"
Hi,
### Installed product versions
- Visual Studio: [15 Preview]

### Description
At build 2016 Microsoft released Visual Studio 15 Preview.
There are some extensions that work there, but some that are not even searchable in "Extensions and Updates". Yours is one of those that are not searchable and not installable.

### Steps to recreate
1. Install Visual Studio 15 Preview: https://www.visualstud

[2016-04-08 18:38] jaredpar commented on #1769
The config entry is there but I haven't yet released a build that contains this 😦 .  I'm hoping to do it this weekend.  In the meantime you can grab the daily build off of vsixgallery.

http://vsixgallery.com/extension/VsVim.Microsoft.e214908b-0458-4ae2-a583-4310f29687c3/

[2016-04-08 18:39] #1769 closed

[2016-04-11 02:58] jnothstine opened #1772 "Problems with Supercharger"
I have Supercharger installed.  I frequently use the Code Map feature to drag and drop methods to move them around in a file.  I also use the Code Map feature to delete methods.

These features work just fine with version 2.0.1.0 of VsVim.
When I install version 2.0.465 of VsVim, things break pretty bad.

Dragging a method or deleting one, using Code Map in Supercharger will cause the closing brac

[2016-04-11 04:35] woshichuanqilz commented on #221
you can use `ahk` to make it.

[2016-04-11 19:48] jaredpar commented on #1772
I've never used Supercharger before.  Can you point me at a demo to repro this?

[2016-04-11 21:20] hunterSThompson opened #1773 "":w" creates new line"
Not sure why this is happening... I have Resharper & Web Essentials installed.

Have you seen this before?

If I'm in mid string literal, it will change:  string s = "this is a string";

to:

string s = "this is a"
+ " string";

[2016-04-11 21:25] hunterSThompson commented on #1773
Closing because is dupe of:  #1470

[2016-04-11 21:25] #1773 closed

[2016-04-12 01:53] jhamm commented on #1656
I created a _vsvimrc based on the files _vimrc.vim  and _vsvimrc  from https://github.com/darkpotpot/mysettings/tree/master/Vim.

Before and after loading the _vsvimrc, I was able to successfully change/delete/replace a line upto ';'.

:map! " returns correctly
i    jj <Esc>
c    w!! w<Space>!sudo<Space>tee<Space>%<Space>>/dev/null

:map " seems to return correctly as well

With "VimRc Error Repor

[2016-04-12 12:39] darkpotpot commented on #1656
Hi,

sorry for the late answer. Typing :map displays this :

n    <Tab> :vsc<Space>View.NavigateForward<CR>
n    <C-O> :vsc<Space>View.NavigateBackward<CR>
n    ,/ :nohlsearch<CR>
n    ,> :%s#<Bslash>s*<Bslash>r<Bslash>?$##<CR>:nohlsearch<CR>
n    ,B :vsc<Space>Build.BuildSolution<CR>
n    ,N :vsc<Space>View.PreviousError<CR>
n    ,S :vsc<Space>Debug.StopDebugging<CR>
v    ,cc :vsc<Space>Edit.Comm

[2016-04-12 12:52] darkpotpot commented on #1656
So I switched to an English keyboard layout and it works well. The problem only occurs with a french keyboard layout (. and ; are on the same key).

[2016-04-12 13:07] jhamm commented on #1656
There are two other issues that are similar #1751 and #73.

Which specific keyboard layout are you using? Is it French (France) > Keyboard > French?
![rundll32_2016-04-12_09-05-12](https://cloud.githubusercontent.com/assets/98657/14460852/d1c932da-008d-11e6-89ac-0fe400bd5611.png)

[2016-04-12 13:42] darkpotpot commented on #1656
Indeed, I have Visual Assist. And the layout in the image is the one I'm using.

[2016-04-12 15:47] jhamm commented on #1656
Does the issue continue to happen when you are using the AZERTY layout with Visual Assist disabled?

[2016-04-12 16:13] jhamm commented on #1751
Can you list the case# from Visual Assist? This way we can watch the release builds and notes to see if it is included in the [Archive of Visual Assist builds and release notes](http://support.wholetomato.com/default.asp?W422).

According to [Visual Assist Case Numbers page](http://support.wholetomato.com/default.asp?W318) there is no way of directly tracking, but they will list them in the releas

[2016-04-12 22:05] patrickmoore opened #1774 "Autocmd file patterns containing path characters do not correctly match files in the path"
Given the following in a _vimrc
`au BufRead,BufEnter,BufNewFile,BufWinEnter */some/directory/* set noexpandtab`

VsVim's autocmd fails to correctly match any file in 'some/directory' due to the Visual Studio buffer file names using '\\'s for the directory separator.

It appears that what needs to happen is either the autocmd pattern needs to be modified to replace forward slashes with back slashes

[2016-04-13 07:17] smatcher commented on #1751
Hi,

The case number is 95429

[2016-04-13 07:52] darkpotpot commented on #1656
The issue is still here when I disable Visual Assist using their menu. However, I did not try to uninstall it, maybe something is still present. I'll test when I'll have time.

[2016-04-14 01:41] TaffyDownUnder opened #1775 "Handled by VisualStudio not working"
Just upgraded to VisualStudio 2015 with update 2 (previously using 2013) and VsVim 2.0.1.0

In the Options->VsVim->Keyboard tab I've set Ctrl-D to be handled by Visual Studio.

In Options->Environment->Keyboard  I've assigned the Edit.GoToDecleration command to Ctrl-D (I've tried this for Global, Text Editor, CSharp editor).

Expectation is that when I'm over a symbol and press ctrl-D I'll be take

[2016-04-14 19:38] jaredpar commented on #1775
That should be enough to get Visual Studio to take over that key stroke.  When you disable VsVim does <kbd>Ctrl+D</kbd> correctly map to `Edit.GoToDeclaration`?

[2016-04-16 02:11] jhamm commented on #1656
I applied the French(France) keyboard. The `change/delete/replace a line upto ';'` actions worked fine.

I came across an option I had not noticed before under Tools > Options > Environment > International Settings.  It may be worth a try to use the setting "Same As Microsoft Windows".

Or another option could be the Windows Locale setting changing back to English. On the English keyboard, the `,`

[2016-04-18 08:46] darkpotpot commented on #1656
So I tried the International Settings and no change. Since my OS is in English (only the keyboard is french), it makes sense.

And it's neither a problem with the windows locale setting. I'm always displaying the Input Method in the taskbar to easily detect this kind of issue and it's FRA (france).

PS : I even tested something easier like the replace command `r;` and the result is a `.`

[2016-04-18 09:01] darkpotpot commented on #1656
New test on an old visual studio 2010. With Visual Assist installed, the issue is present. Without Visual Assist (I uninstalled it), the issue is gone. If I try to only disable Visual Assist within Visual Studio, the issue is here... So it really seems there is a conflict between those 2 plugin :/

[2016-04-21 09:33] baldurk opened #1777 "In VS2015, conditional breakpoint editor has problems"
There's some new bullshit in VS2015 that pops up a kind of bizarre in-line thing inside the code editor for changing breakpoint conditions:

![image](https://cloud.githubusercontent.com/assets/661798/14704174/aca082c4-07b3-11e6-956f-b74ee034c616.png)

This seems to interact badly with the normal text editor - even if you're in normal mode then typing into the condition box will insert text - but i

[2016-04-25 03:58] jaredpar commented on #1777
Thanks for letting me know.  I'm pretty sure I fixed this in a recent build but will verify.

[2016-04-27 01:45] jhamm commented on #1774
PR #1776 resolves this.

[2016-04-27 02:36] jhamm commented on #1764
When in GVIM, the MYVIMRC environment variable is set, `:ec $MYVIMRC` will be `C:\Users\Chiel.tenBrinke\.vimrc`. So when you launch Visual Studio by using `<F1>`, Visual Studio will use the environment variables from its context, in this case `MYVIMRC=C:\Users\Chiel.tenBrinke\.vimrc`.

The MYVIMRC environment variable takes precedence over the other locations when determining which RC file to load

[2016-04-27 03:24] jhamm commented on #1656
The VsVimShared\VisualAssitKeyProcessor.cs PreviewKeyDown method may have something to do with this. I will take a closer look this week.

[2016-04-27 17:32] AlexArendsen commented on #1082
I'm having the same problem as @DJMcMayhem as well. Even with control switched over to VsVim in the options dialog, the blue "(Ctrl-K) was pressed. Waiting for second key of chord..." bar appears.

[2016-04-28 09:51] teddemunnik commented on #1688
I am also hitting this issue after switching to VS2015, and I'm not using Resharper.
- Visual studio Profesional 2015: 14.0.23107.0 D14REL
- VsVim: 2.0.1.0

[2016-04-28 10:27] idealist1508 commented on #1688
I had it also.  Only reset of keyboard sheme helped me:
Options -> Environment -> Keyboard -> Reset

[2016-04-28 10:46] teddemunnik commented on #1688
@idealist1508 Thank you for your help, sadly this solution did not help for me.

I did also notice that space doesn't work anymore in vs2012, so it might be related to changes in my vimrc. I'll investigate further..

[2016-04-29 05:16] #1737 closed

[2016-04-29 14:29] gsvolt opened #1779 "Cant :vsp in a .html"
Editing a .html, the :vsp (visual split vertical) does not seem to work.
It does work on .js files, .cs files.. just not on .html
Thought I'd invite comments from other users to see if others see the same outcome. If so, perhaps would be nice to implement this in vsvim

When I do issue :vsp, the message in VsVim's command bar down below is:
Command "Window.NewWindow" is not available.

[2016-05-03 07:33] darthdeus commented on #1630
Sorry for replying so late, I completely forgot about this, until I stumbled upon the problem a few days ago again.

I'm not sure if it's VS2015, but I did reset keybindings to default, then re-applied Resharper and then VsVim ones, and ctrl-backspace works. I tried setting the actual hotkey manually (Edit.WordDeleteToStart), but that didn't help without resetting the hotkeys.

I'm not sure if I d

[2016-05-03 07:33] #1630 closed

[2016-05-03 12:01] LexGear commented on #1064
Yeah I'm honestly in the exact same position. I installed this. And now I can't find it to remove it.

[2016-05-03 15:03] jaredpar commented on #1064
If VsVim is installed it should be visible in the Extensions and Updates menu.  Make sure that the *Installed* section is selected on the LHS of the dialog.  VsVim should be at the bottom of the list.

[2016-05-04 17:38] jnothstine commented on #1772
Sorry I haven't gotten back on this.  Here is what I have:

1. Any C# project, I have tried it on two different computers with completely different projects.
2. Install VsVim, the latest build
3. Install the Visual Studio Extension named Supercharger (used to be VS10X Code Map).  Supercharger adds a panel to Visual Studio that shows the methods and properties in the class.  Right click in the wind

[2016-05-06 05:35] jhamm commented on #1656
That method is where the `.` is replacing the `;`. This is using `args.Key == Key.OemPeriod`. On the English key layout, the comma key returns `Key.OemComma`. On the French key layout, it returns `Key.OemPeriod`.

The comment in this method is very helpful. This seems very similar to the issue found in #1762. If we can get that one fixed, maybe the PreviewKeyDown override may not be needed and thi

[2016-05-09 20:29] wererogue commented on #332
+1, I'm always typing :e or :b and then realizing I have to remember the full filename

[2016-05-10 13:55] wererogue commented on #743
+1 :)

[2016-05-10 14:35] wererogue opened #1780 "\%# support in regex"
I'd be nice to be able to use `\%#` in regular expressions to grab the cursor position please
See [\%#](http://vimdoc.sourceforge.net/htmldoc/pattern.html#/%5C%25#)

[2016-05-11 01:00] DanielKeogh opened #1781 "Parse error on "let @g='/}^M'" vimrc"
There is an error when trying to parse macro's in .vimrc containing newline characters. (Specifically the special newline character made from CTRL+V CTRL+M)

My .vimrc contains this:

let @g='/}^M'

[2016-05-11 10:25] darkpotpot opened #1782 "Problem with substitution command"
Hi,

I have this line in my code (everything is on the same line)
`*(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6) + *(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6+1) + *(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6+2) + *(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6+3) + *(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6+4) + *(l_pUI8_PtrOriginCurrent+l_I32_ScanlineSize8Bit*6+5) +

[2016-05-11 11:54] WillemMali opened #1783 "Support for autocmd events "FileType" and "BufWritePre""
Hi,

As you said you'd consider implementing specific `autocmd` events on request, I'd like to ask you to implement these two:

[code]

I usually use `FileType` quite extensively (for per-filetype settings i.e. indentation) and I use `BufWritePre` for making modifications to my current file just before changes are saved to disk (for formatting, mostly).

Docs on both commands:

http://vimdoc.sourc

[2016-05-11 20:33] jaredpar commented on #1783
Thanks for the suggestion.

I've considered adding this but `autocmd` support in its current form is limited because I don't support functions.  Pretty much all of the `autocmd` samples users sent me included functions and hence I haven't put a lot of further work into this feature.  If I pick it back up though I'll consider this request.

[2016-05-11 20:35] jaredpar commented on #1782
Thanks for the report.  I'll look into that.

[2016-05-11 20:36] jaredpar commented on #1781
This is a form of `let` I haven't added support or yet.  I'll look into adding it.

[2016-05-11 20:45] jaredpar commented on #1780
Thanks for the report.

Unfortunately this is a feature that I can't take at this time.  My regex infrastructure is based on using .NET Regex under the hood.  They have no notion of cursor position and there is no way for me to translate the cursor position into a regex element.  Hence there is no way to do this without creating a full regex engine from scratch which is currently beyond the scope

[2016-05-11 20:45] #1780 closed

[2016-05-12 19:40] chantisnake opened #1784 "enter insert mode when exit of normal mode"
When I am in insert mode and use a mouse to select a block of code, vsvim automatically enters visual mode, which is great.

But after I have done an operation, vsvim automatically goes back to insert mode, but I want it to stay in visual mode (which is what gvim does).

any way can I do this?

[2016-05-13 12:26] jaredpar commented on #1784
Thanks for filing. I'll take a look at this.

[2016-05-16 21:29] crzytrane commented on #1688
It's happening for me as well is there any information I can provide for this issue? VsVim Version 2.0.1.0 no resharper and keyboard resets didn't work for me. Disabling the vsvim extension makes space work as expected. Having the vim bindings disabled triggers the issue(Ctrl+Shift+F12). Visual Studio 14.0.25123.00 Update 2

[2016-05-17 14:41] darfink commented on #1688
I experience this when I disable VsVim, but beyond this I also have this issue in the C# immediate window (with VsVim enabled). I have no custom .vimrc whatsoever

[2016-05-17 22:32] crzytrane commented on #1688
I tried reinstalling the extension but I can confirm this doesn't fix the issue. I found that after disabling VsVim I can actually still use the space key in .aspx files but in .vb and .sql files space bar does nothing. Hope this helps

[2016-05-18 02:41] crzytrane commented on #1688
After setting the VsVim Keyboard shortcuts back to being handled By Visual Studio with the exception of Ctrl+Shift+F12 it "fixed" the issue for me. I've narrowed down the cause on my particular machine to be Ctrl+Alt+Space being handled by VsVim causing this issue. Could someone else confirm this?

[2016-05-18 18:12] Mattias1 commented on #1688
Confirmed. Setting everything but C-S-F12 to visual studio's shortcuts makes the spacebar work just fine after switching back to vs from vsvim. Then handling C-A-Space with vsvim stops the spacebar when switching back to vs.

Also, when going back to my own settings the space was not working again (in C-S-F12 mode), when Giving C-A-Space back to visual studio the space works like it should.

[2016-05-18 22:02] crzytrane commented on #1688
Thanks @Mattias1, Good to know it works for other people too! Should these Labels on this issue be swapped out for a Bug Label or is it too soon? At the very least I think the Resharper Label should be taken off unless I'm mistaken.

[2016-05-18 22:36] GitMyCode commented on #1688
Wow thanks! @crzytrane it worked for me too finally!

[2016-05-19 18:41] Mattias1 commented on #1688
Errrm, why is this closed? Handling C-A-Space with visual studio is a workaround right? Not a fix.

Or am I mistaken.

[2016-05-20 01:33] crzytrane commented on #1688
I agree with you @Mattias1, I was suggesting the Need More Data and Resharper Labels could be taken off and swapped for a Bug Label.

[2016-05-25 08:41] WillemMali commented on #898
Could this issue get some love?

It'd be really useful for doing multiple text transformations (i.e. multiple replaces) on files, especially when paired with `.` to repeat the command.

[2016-05-25 13:25] vavill commented on #1784
After select a block of code,then press "d" , it will replace whole block with a "d".

And when drag mouse form right to left , it will not select last character .

[2016-05-25 15:10] chantisnake commented on #1784
@vavill you issue looks like select mode...

[2016-05-25 18:17] BradKnowles commented on #1536
I'm experiencing a similar problem, but only in Razor views.  Shall I open a new issue or add to this one?

VS Version 14.0.25123.00 Update 2
VsVim 2.0.1.0

[2016-05-29 20:34] Luxsi opened #1785 "Save selection not working properly ( :'<,'>w FILENAME )"
I'm somewhat new to Vim, but from what I learned in Vimtutor I think this is a bug;
When you select text either with _**v**_ or the mouse and type the command _**:'<,'>w FILENAME**_ (the first part being automatic), it's expected to save the selection into a file, but instead it saves the _entire_ document into _**FILENAME**_.

Having it fixed would help with, for example, creating templates that

[2016-06-01 15:41] john-patterson opened #1786 "Cannot navigate right over unicode characters occupying planes higher than the BMP plane (0)"
I like putting emojis in unit tests instead of data. I noticed the other day I could not navigate (`l` in normal mode, right arrow in all modes) over some emojis, but if I was in normal mode and used the chord `2l` I would skip to the place I expected `l` or right arrow to take me. After examining the hex dump of files with various character in the same spot, ones that would let me over them and o

[2016-06-08 20:14] jaredpar commented on #1786
Do you have some sample characters you can send along that I can look at?  I wonder if this is a case we are simply missing in the width determination code.

[2016-06-10 05:56] sfx2k commented on #1082
Same here with VS 2010 and VsVim 2.0.1.0.
Any news on this issue?

[2016-06-10 13:24] jtpio opened #1787 "Shift-C and Shift-P don't write "C" and "P" when VsVim is disabled (with Ctrl-Shift-F12)"
Hi,

When I disable VsVim with Ctrl-Shift-F12 to give the keyboard to someone else, it becomes impossible to write the characters "C" and "P" using the Shift key.
- Shift-C and Shift-P do nothing
- However, it is possible to write "C" and "P" if the caps lock key is on.
- The other characters work fine.

It only happens when VsVim is disabled and for these two specific letters. In Vim Insert mode,

[2016-06-10 18:48] eazypeazy46 commented on #1064
Same case with me too. I cannot even see the extension in Extensions and Updates in Visual Studio. There is no such thing as "Installed" section. I am using VS 2015 Enterprise edition.

Am I stuck with this unless I uninstall and reinstall VS? :-1:

[2016-06-10 19:24] allender commented on #1064
Your window should look similar to the following.  This is VS2015 community edition but is basically the same for other versions of visual studio.  Extensions that are installed are under the 'installed' rolldown area and then you might have to scroll in the middle window to find vsvim.

![image](https://cloud.githubusercontent.com/assets/1638265/15976203/e05ccfca-2f16-11e6-84ad-5e40bf3c6a5e.png)

[2016-06-10 21:57] eazypeazy46 commented on #1064
Ah, so I had to check under Tools -> Extensions and Updates. I was looking under Tools -> Options -> Extensions and Updates by mistake. Thanks for sharing the screenshot, allender.

[2016-06-16 12:38] john-patterson commented on #1786
Sure thing, the "hot beverage" character U+2615 (☕) is in the BMP plane and is fine with VsVim's navigation, but the "extraterrestrial alien" character U+1F47D (👽) is in the SMP plane and I cannot navigate left over it. Anything below U+FFFF will work and anything above will not.

[2016-06-18 02:23] jhamm commented on #1787
I think this is similar to #1654 and fixed in PR #1745.

[2016-06-18 18:59] jtpio commented on #1787
Yes it looks like the same issue.
I guess we just need to wait for the new release to get the fix.

[2016-06-19 00:05] jaredpar commented on #1787
@jtpio a new release was just added to the gallery.  You should be able to update to 2.1.0 and see the fix now.

[2016-06-19 11:04] vreye opened #1788 "Blend for Visual Studio support"
Is it possible to have Blend support?

[2016-06-20 08:26] MartinL0815 commented on #1665
Sorry, but with 2.1.0.0 this issue is only partly solved - on my high-contrast-enabled system.

- Before using a caret moving key, the caret is invisible …

- After moving the caret with the cursor keys, Pos1, etc., the caret becomes visible …

Additionally - may be I should create a new issue - pressing End does not move the caret to the end of the command line text, but inserts a square like …

[2016-06-20 09:14] wenqiangwang commented on #1461
+1

[2016-06-20 12:32] jtpio commented on #1787
Grabbed the new update today and it now works.
Thanks for the fix!

[2016-06-20 15:58] cbates- opened #1789 "Snippets are impaired with VsVim 2.1.0.0"
VS2015 Pro, Win10 x64

It appears that VS snippets behavior has been degraded after installing VsVim 2.1.0.0.
I have a snippet with two replaceable items.  I insert the snippet

and the 1st replaceable item is selected; I start typing and replace the item.
When I tab, the cursor now jumps into the 2nd replaceable item, but w/o selecting it -- this is the change in behavior.  Previously, when tabbi

[2016-06-20 16:48] jaredpar commented on #1789
Thanks for reporting this.  Are you able to share out this snippet so I can test it directly?  If not I can try and substitute in one of the standard snippets and see if I can replicate the behavior.

Also: assuming this is C# code?

[2016-06-20 23:03] cbates- commented on #1789
Thanks for the reply.
Attached is the snippet, it's pretty simple.
Let me know there is any other help I can provide...
C. Bates

On Mon, Jun 20, 2016 at 12:49 PM, Jared Parsons <notifications@github.com>
wrote:

[2016-06-20 23:08] jaredpar commented on #1789
@cbates- the email reply didn't capture the snippet on Github.  Could you throw it up as a gist?

[2016-06-20 23:18] cbates- commented on #1789
Not that familiar with gist, hope this works....
https://gist.github.com/cbates-/7de750b693191bab49e4ed8f7eb17bda
C. Bates

On Mon, Jun 20, 2016 at 7:08 PM, Jared Parsons <notifications@github.com>
wrote:

[2016-06-20 23:19] jaredpar commented on #1789
That works.  Thanks!

On Mon, Jun 20, 2016 at 4:18 PM, cbates- <notifications@github.com> wrote:

--
Jared Parsons
http://blog.paranoidcoding.com/
http://twitter.com/jaredpar

[2016-06-21 16:19] #1789 closed

[2016-06-21 16:19] jaredpar commented on #1789
Thanks for providing the snippet.  I was able to track down the issue here and just submitted a fix.  It will be included in the next build of VsVim.  If you're looking to get it sooner, once the AppVeyor build completes you can grab the latest from vsixgallery.com.

[2016-06-21 19:44] jaredpar opened #1790 "All sentence motion fails at start of file"
Repro steps:
1. Create a file with a few words in it.
2. Move caret to start of file.
3. Type: `vas`

The result is an exception with the following stack track:

[code]

The root issue here is we aren't accounting for start of file when subtracting the caret position.

[2016-06-21 21:08] jhamm commented on #1688
This looks similar to #1787 and that has been reported as fixed.

[2016-06-22 08:18] elrob opened #1791 "VsVim temporary disable breaks cursor"
- ctrl + shift + F12 to disable VsVim temporarily (temporarily only - not disabling the extension completely that requires a restart)
- try to move the cursor to the end of the line and it doesn't work
- cursor can only reach the character before the end of the line

The temporary disable functionality is vital for me as I pair-program and often my partner can not use VIM. We need to be able to sw

[2016-06-22 10:34] xuboying opened #1792 "double click word in normal mode does not expands to last letter"
VS 2013 VC++
vsvim 2.1.0.0
See gif for details

![screenshot9](https://cloud.githubusercontent.com/assets/5218237/16263596/c2e7561e-38a7-11e6-9cd2-96cccfb69f93.gif)

[2016-06-22 13:37] jankner opened #1793 "typing certain characters in Normal mode causes them to be inserted"
Some characters get inserted in the document when you type them in Normal mode. These are the characters I've discovered: ¤ ¨ £ € §  ´

[2016-06-22 20:18] jaredpar commented on #1788
VsVim itself is perfectly capable of supporting Blend.  It uses the same APIs and hosting model as Visual Studio.

Blend though specifically disallows 3rd party extensions.  Hence VsVim can't install there and unfortunately there is nothing i can do about this.

😦

[2016-06-22 20:18] #1788 closed

[2016-06-22 20:22] jaredpar commented on #1791
Thanks for reporting this issue.  I'm pretty sure I know what the issue here is and is similar to a bug I just fixed yesterday.

[2016-06-22 20:50] #1791 closed

[2016-06-22 20:50] jaredpar commented on #1791
This bug is fixed now.  If you wait for AppVeyor to complete it's run you can grab a build with the fix off of vsixgallery.com.

[2016-06-22 21:52] raztus commented on #1791
I'm in the same scenario (pair-programming) and this was an ugly issue. Just installed the latest version from vsixgallery.com, and it fixes the issue. Thanks, @jaredpar!

[2016-06-22 21:58] #1792 closed

[2016-06-22 21:58] jaredpar commented on #1792
Thanks for reporting.  I was able to reproduce this issue.  It effects selections at the end of the line when certain vim options are set.  Should be fixed now in source.

[2016-06-22 22:00] jaredpar commented on #1791
Yeah that particular function has been responsible for no less than 3 bugs in the 2.1.0 release.  Didn't quite realize all the ramifications that fix would have on selection.  Getting educated quickly 😄

[2016-06-22 22:15] jaredpar commented on #1793
Interesting.  Can you tell me how you type these?  In particular what keyboard you are using?

[2016-06-22 22:26] mwinterb commented on #1793
Oh boy, a tiny part of my childhood comes in handy! ¤ is typed with Alt+0164 (numpad for all of those, holding down Alt the entire time, then release). Character Map includes the keystrokes for several others, a random sampling hasn't gotten a single non-insert, except for the "letter" characters. I don't know enough about keyboards and input to say if the Alt+ mechanism is reported the same to an

[2016-06-23 00:49] xuboying commented on #1792
Thanks!!

[2016-06-23 07:12] jankner commented on #1793
I used a Swedish keyboard to type those characters, but the Alt-number method has the same result. For example ¤ is typed as Shift-4, and § is typed using the key left of the 1 key.

[2016-06-23 08:01] jkadg opened #1794 "Ex commands with range not working"
Ex-commands with range-specifier
:_begin_,_end_ _command_
(such as
**:'a,'b >**
to right-shift a block of code)
give "Parse error"

[2016-06-23 08:30] jkadg commented on #1793
On a german keyboard one can insert € bei typing AltGr-E. VsVim inserts €, but doesn't change to insert mode at all.

[2016-06-24 15:09] darkpotpot opened #1795 "Cannot go at the end of the line when vsvim in disabled mode"
When I hit ctrl+shift+f12 in order to disable vsvim, I cannot go anymore at the end of the line. I can only go up to the last character. I didn't have this behavior with my older version.

[2016-06-24 15:19] allender commented on #1795
I believe that this issue is fixed.  See this closed bug report [here](https://github.com/jaredpar/VsVim/issues/1791):

[2016-06-24 15:25] jaredpar commented on #1795
@allender is correct, this is a known bug.  It's been fixed now and will be included in the next update.  Probably going to release it later today.  There were a series of bugs here and I want to make sure I have them all fixed before I release an update.

[2016-06-24 18:09] jaredpar commented on #1793
Thanks.  I will try that out and see if I can repro the problem.

[2016-06-24 18:21] jaredpar commented on #1794
Have you tried using a `\`` instead of `'`.  That shoud work for this immediately.

[2016-06-24 19:53] MartinL0815 commented on #1791
Sorry, but the issue even occurs without disabling VsVim!

Another extension "Entrian Source Search" uses the VS API to get word boundaries and is since updating VsVim not always anymore to get a word at the end of a line for sourch pattern creation.

My observed problematic lines match the RE:

    ^\s+\w+$

If "Entrian Source Search" is triggered to use the word under the caret for the next sear

[2016-06-26 14:53] jkadg commented on #1794
It was only a sample. It makes no different how I descripe the begin- and/or end-address.
:.,.+5 >
or
:100,200 >
or
:1,$ >
or any other legal form of addressing doesn't work.
I always get "parse error".
I also tried `a,`b instead of 'a,'b - it made no difference.
The shift command is also only a sample - but its one I'd like to use more often...

[2016-06-26 17:58] dsherret commented on #1650
I'm glad I just had to add `set ve=onemore` to my vimrc to disable this fix and use the old behaviour. Thanks! :)

Kind of annoyed me because you can't select the last character on a line when going from right to left with the mouse:

![image](https://cloud.githubusercontent.com/assets/1609021/16363869/e26e978a-3ba5-11e6-9eff-18f0d6a89cb8.png)

[2016-06-27 07:10] jankner commented on #1650
That looks strange. I am able to select the entire line like that even without `ve=onemore`.

[2016-06-27 07:49] iamkarlson opened #1796 "detect vsvim in .vimrc file"
Hi, I have a plugin ( [incsearch](https://github.com/haya14busa/incsearch.vim) ). And this plugin require a special mapping for work.

[code]

But VsVim proceeds this action as

[code]

How I can disable this behaviour or make this plugin works?
Thanks

[2016-06-27 09:20] darkpotpot commented on #1795
Oops, sorry I didn't saw the issue was already reported. I only looked at the "open issue" list, my bad.

[2016-06-27 09:20] #1795 closed

[2016-06-27 13:36] jaredpar commented on #1791
@MartinL0815 it's likely the latest version fixes this problem.  You can install it manually from this location to test out:

http://vsixgallery.com/extension/VsVim.Microsoft.e214908b-0458-4ae2-a583-4310f29687c3/

Going to be releasing a new version to the official gallery in a day or two.

[2016-06-27 13:40] jaredpar commented on #1794
Hmm, I'm not seeing any of this on my machine.  I just verified this is supported in code, tested it manually and everything worked as expected.  I think there is something specific to your setup that is amiss here.  Can you try running `:map` and seeing what the output is?  I wonder if there is a key binding that is causing this issue.  Lacking that can you post your vimrc somewhere I can view?

[2016-06-27 13:46] jaredpar commented on #1796
VsVim doesn't support arbitrary Vim plugins and is unlikely to work with `incsearch`.

[2016-06-27 13:47] jaredpar commented on #1795
@darkpotpot no problem.

[2016-06-27 15:36] dsherret commented on #1650
@jankner weird. I'm getting the same behaviour not being able to select the entire line when going from right to left on my work computer too. I'm using VS2015 with VsVim 2.1.0.0 on both computers.

[2016-06-27 16:10] iamkarlson commented on #1796
ok, but how I can detect that it's running in vsvim? I intend to exclude this mapping from .vimrc by

[code]

[2016-06-27 16:16] jankner commented on #1650
@dsherret Sorry, you're right. I was doing left to right. I get the same behaviour as you going right to left.

[2016-06-28 05:34] spiralsam opened #1797 "Recommended way to make my own key-filtering extension compatible with VsVim?"
Looking through the VsVim source a bit it seems like I need a silent "VsVim.SetDisabled" and "VsVim.SetEnabled" command to call into as opposed to "VsVim.ToggleEnabled", or make my own IExternalEditorAdapter but presumably I'd have to compile and run my VsVim for that.

I'm really just looking at temporarily disabling VsVim while my own action is in use, or otherwise creating some kind of exclusiv

[2016-06-28 06:11] jkadg commented on #1794
:map without an argument does nothing (and shows nothing).

My .vsvimrc contains the following lines (except the last line, it is simply a copy of .vimrc):

:syntax on
se guioptions=gmrtTb
se showmode
se showmatch
se nowrap
se sidescroll=20
se ai aw tabstop=4 sw=4
se hlsearch
se vsvim_useeditordefaults

[2016-06-28 06:26] jkadg commented on #1794
I just figured out, that if I ommit the space between the address and the command, it works.

:.,.+5>
works

:.,.+5 >
fails.

(g)vi(m) handles both. I'll get used to the space-less form... ;-)

Many thanks for your efforts.

[2016-06-28 08:17] DarylRoberts commented on #1794
that's the thing the compter can tell the difference ,, ikjt may onlky be a space but it can alter EVERYTHING,,,, I was told by a computer expert that he didn't know what that code would do ,,, Hmmm expect he was

[2016-06-28 08:43] jkadg commented on #1796
You could simply copy your **.vimrc** to **.vsvimrc** and omit the parts not working in VsVim.

[2016-06-28 12:36] mechoid9 commented on #1732
I know this is closed, so I hate to comment, but imap doesn't seem to work for my installation of VsVim on VisualStudios (2013).

None of the following works:
`imap jj <Esc>`
`:imap jj <Esc>`
`:imap jj <ESC>`

However, I can set 'jj' to `<Esc>` in command mode after startup.

[2016-06-28 14:36] rcorre opened #1798 "GoToDefinition should add a jumplist entry"
VsVim's jumplist woks nicely for some things, but not for GoToDefinition. This
means I have to remember to use `<c-o>` to return after searching, but `<c-->`
(the builtin VS shortcut) to return after `GoToDefinition`. It would be nice if
all of this was part of the `VsVim` jumplist.

Related: #1621

[2016-06-28 19:37] jaredpar commented on #1797
This is actually pretty easy to add so I went ahead and submitted a PR to add them.

[2016-06-28 19:42] jaredpar commented on #1794
@jkadg ahh okay.  That seems to be the issue.  I never knew spaces were legal there.  I will let this issue track adding spaces to the parsing there.  That should be easy enough.

[2016-06-29 00:41] rkhoury commented on #1611
Hey @jaredpar
I have a similar issue but not related to using '$' in the regex.
I have a search pattern:
/\(\w\+\)::\1
Which was matching simple c++ constructors, and this seems to work fine searching in the forwards direction, but the moment I press N (reverse search) it says Pattern no found (when there are highlighted matches above the cursor's current position).
If this is not the same issue I

[2016-06-29 14:07] byannoni opened #1800 "`dvb` does not delete"
In version 2.1.1, `dvb` moves the cursor as if `b` were pressed, but it does not actually delete anything.

[2016-06-30 14:40] xuboying opened #1801 "Mouse selecting from right to left missing the last char."
Version 2.1.1.0
VS: 2013 VC++
Mouse selecting from right to left missing the last char(most right char).

[2016-06-30 15:12] jaredpar commented on #1796
That is the recommended practice.

[2016-06-30 15:12] #1796 closed

[2016-06-30 15:13] jaredpar commented on #1732
@mechoid9 can you give me a bit more detail:

- What type of project are you working on: web, console app, etc ...?
- What other extensions do you have installed?

[2016-06-30 15:16] jaredpar commented on #1798
The jump list is integrated with the go to definition support:

https://github.com/jaredpar/VsVim/blob/master/Src/VimCore/CommonOperations.fs#L710

Go to definition is an odd command though given that it's implemented by each language in Visual Studio differently.  It often has unexpected behavior that I need to account for.

What language are you using here?  Is the jump going between files?

[2016-06-30 15:20] jaredpar commented on #1800
Thanks for reporting.  The ability to delete visual motions isn't implemented yet.  Until this issue I didn't even realize it was possible.

Do you have any links to documentation on the feature?  I've poked around a bit in motion.txt but can't find any reference to this.  Experimentally I agree it works but would be nice to start with some docs.

[2016-06-30 15:23] #1797 closed

[2016-06-30 15:25] rcorre commented on #1798
C#. Looks like it works for jumps in the same file, but not cross-file jumps

[2016-06-30 15:25] rcorre commented on #1798
C#. Looks like it works for jumps in the same file, but not cross-file jumps

[2016-06-30 15:25] mechoid9 commented on #1732
I'm using VS to work on a console app (programmed in C# and C++), but it does the same thing for every project I open. Also, I checked that it's looking at the right vimrc:

`:set vimrc <ENTER>`
`vimrc="C:\Users\MY_REAL_NAME\_vimrc"`

Installed Extensions:
- Behaviors SDK (XAML)
- Microsoft Advertising pubCenter Service for Visual Studio
- Microsoft Advertising SDK for Windows 8.1
- Microsoft Visu

[2016-06-30 15:28] jaredpar commented on #1732
@mechoid9 can you run `:map` and `:imap` and paste the results?

[2016-06-30 15:31] mechoid9 commented on #1732
`:imap <ENTER>`
` `
`:map <ENTER>`
` `

Nothing shows up. After I do `:imap jj <Esc>` the output of `:imap` is:
`i    jj <Esc>`

[2016-06-30 15:45] jaredpar commented on #1801
Thanks for reporting.  I will take a look at this.

[2016-06-30 15:51] gibwar commented on #1732
Just figured I'd chime in and mention it works for me, though I use `inoremap` rather than `imap`.

vsvim:
[code]

output:
[code]

[2016-06-30 16:01] mechoid9 commented on #1732
Thanks; I tried it. Having `inoremap jj <Esc>` in my vimrc file does nothing; however, running it from the command prompt inside of visual studio does work.

I have a lot of stuff in my vimrc file (I use it on multiple computers/OSs). I wonder if something in it is preventing the file from being parsed correctly?

[2016-06-30 16:23] mechoid9 commented on #1732
I've added my normal vimrc file (vimrc.bak) and a paired down vimrc. The paired down vimrc works as expected.

[vimrc.zip](https://github.com/jaredpar/VsVim/files/341860/vimrc.zip)

[2016-07-01 03:10] xuboying commented on #1801
Thanks!

[2016-07-01 05:22] iamkarlson commented on #1796
is copypaste recommended ? i haven't known that it can be recommended.

[2016-07-02 15:28] svarogg opened #1802 "Shift + End selects remaining line excluding the last charecter"
Very simple to reproduce:
1. Press i to enter insert mode
2. Enter Some Text
3. Press esc to exit insert mode
4. Go to the middle of the line
5. Press Shift + End

Expected result: VsVim goes to visual mode, and selects all the characters starting from cursor.
![expected](https://cloud.githubusercontent.com/assets/2129610/16541076/629d9dc6-4082-11e6-9e65-f84aa1dda19e.PNG)
Actual result: VsVim goes

[2016-07-04 12:20] jankner commented on #444
This doesn't appear to be fixed. Maybe there's been a regression? Backspace deleted characters in replace mode for me anyway.

[2016-07-04 12:25] jankner opened #1803 "Ctrl+E/Ctrl+Y behavior in Replace Mode is different from VIM"
Ctrl+E/Ctrl+Y inserts characters when they should be replacing characters, in Replace Mode.

[2016-07-05 04:52] deevus opened #1804 "VsVim is disabled every time I start up VS"
I have to go into Extensions and enable it, then restart Visual Studio.

Any ideas as to why this would be happening?

[2016-07-05 10:14] jockus opened #1805 "@: Does not execute last Ex command"
Any :Ex commands are repeatable by using @: in Vim.

[2016-07-05 14:31] jacres commented on #1804
Same happening here - this began happening within the past month or so.

[2016-07-06 02:52] jaredpar commented on #1798
This behavior is by vim design.  The jump list is separate per window.  This means that when `GoToDefinition` crosses files it's a new window with a new jump list.  Hence it <kbd>Ctrl-O</kbd> after the jump is going to the previous entry in the new window.

From `:help jumplist`

[2016-07-06 02:52] #1798 closed

[2016-07-06 02:54] jaredpar commented on #1732
This combined with the other entries in this issue indicate the `vimrc` file you are using can't properly be handled by VsVim.  If there are simple issues in the parsing that can help I'm usually up for fixing them.  Generally though the recommendation is to use a separate `vsvimrc` file that holds the settings supported by VsVim.

[2016-07-06 02:55] jaredpar commented on #1800
Thanks for the documentation link.  That should be enough to get started on this feature.  This is likely a relatively complex feature.  Will look into it though and see what the cost is.

[2016-07-06 03:28] jaredpar commented on #1796
Generally I structure my files as follows:

1. .vimcommon: all my settings common to VsVim and gVim
2. .vsvimrc: runs `:source` on the common file
3. .vimrc: runs `:source` on the common file then does gVim specific work.

[2016-07-06 03:29] jaredpar commented on #1802
Thanks for taking the time to report this issue.  I believe I know the problem here.  Which version of VsVim are you on?

[2016-07-06 03:31] jaredpar commented on #1803
Thanks for reporting.  I will take a look at that.

[2016-07-06 03:31] jaredpar commented on #1805
Thanks for reporting.  This is a duplicate of #1115.  Will use that as the primary to track.

[2016-07-06 03:31] #1805 closed

[2016-07-06 03:34] jaredpar commented on #1804
I've seen this behavior before myself on a short term basis on one of my machines.  I always assumed that because of all of the extension work I do I had somehow gotten Visual Studio in a bit of a corrupted state.  Based on this though it seems to just be an issue with Visual Studio itself.

Unfortunately though this is not anything that I control.  This is controlled by Visual Studio itself and h

[2016-07-06 03:34] #1804 closed

[2016-07-06 06:29] svarogg commented on #1802
I'm on v2.1.1.0

[2016-07-06 06:50] iamkarlson commented on #1796
Great, thanks! It's a better solution, I'll follow that.

[2016-07-06 15:04] jaredpar commented on #1802
Thanks for confirming.  This looks like another duplicate of the EOL issue with selection in the 2.1 releases.  The 2.1.1 release fixed a number of the problems but left a few others.  Will look at this.

[2016-07-06 19:16] rcorre commented on #1798
Argh, bummer. I wonder if there's a way to make `GoToDefinition` use the same window rather than open one of those weird pseudo-windows. You're right though, this isn't VsVim's fault.

[2016-07-06 20:34] mechoid9 commented on #1732
Thank you for the help. I'll just use the separate vsvimrc.

[2016-07-07 09:28] vonhezhou opened #1806 "Tab completion for commands"
Been using the extension for quite some time now. Thanks for the great work.
If I input ":cne" + tab,
I expect vsvim to complete the command to ":cnext" or show some candidates just like vim does.
But now it simply adds a tabstop instead, giving ":cne    ".
I wonder if you would like to implement the feature some time in the future.
Thanks for the great work again.

[2016-07-07 18:01] byannoni commented on #1800
Thanks!

[2016-07-08 19:52] jaredpar commented on #1806
Thanks for the feedback!

I've considered adding tab completion here, and in several other cases.  The work is pretty straight forward there is just quite a bit of it to do.  It's something I'd like to do, I just need to find the 1-2 days to make it happen.

[2016-07-09 10:14] vonhezhou commented on #1806
great news, but no pressure.

[2016-07-10 17:19] Mattias1 commented on #1688
Confirmed, giving Ctrl-Alt space back to vsVim now doesn't give problems anymore. Looks like this issue is fixed, thanks @jhamm and @jaredpar!

[2016-07-11 12:59] rgeorgiev583 opened #1807 "VsVim gets disabled after restarting Visual Studio for the second time"
After enabling VsVim, Visual Studio requests a restart of the environment.  I follow that instruction (explicitly via the **Restart Now** button which appears in the **Extensions and Updates** dialog, or either the extension won't get enabled), and VsVim is enabled and works for the current instance of the IDE.  However, when I close Visual Studio and start it again, VsVim gets disabled for no app

[2016-07-12 09:27] DavidFeng commented on #1804
Same was happening, too.

thanks @jacres !  it works for me to

[2016-07-12 22:13] alarobric opened #1808 ":registers doesn't show named registers"
When I type :registers I get the basic set of numbered registers, but not the named a-z registers, that I would expect to see in normal vim. Am I missing something or is this not supported yet?

![image](https://cloud.githubusercontent.com/assets/321603/16785453/045d6e8a-4843-11e6-8111-dce9108c556d.png)

[2016-07-13 14:07] cice commented on #1807
i have the exact problem since i updated VS2015 to Update3 yesterday. Really annoying.

[2016-07-13 14:50] gibwar commented on #601
Also bumping in hopes this could get prioritized at some point, this request is over 5 years old!

[2016-07-14 16:43] #1688 closed

[2016-07-15 07:54] frankyuan opened #1809 "How to use 3V to select 3 lines?"
How to select specify number lines in VSVim?

[2016-07-17 23:26] jaredpar commented on #1809
There is no command that I'm aware of in gVim that will do this.  It's possible I'm missing it though.

In general putting a number before <kbd>V</kbd> causes all remaining lines to be selected.  To get specifically three lines selected I would perform <kbd>V2j</kbd>.

[2016-07-17 23:30] jaredpar commented on #1807
I've heard a few reports of this but haven't been able to track down the behavior myself.  I asked around the Visual Studio team and they said this could occur if VsVim is throwing an unhandled exception.  This can result in an extension being disabled because it's deemed to be unreliable.

It's possible that is what's happening here but given that I can't produce it locally I can't see what is fa

[2016-07-17 23:34] jaredpar commented on #1808
Displaying of named register data is supported but only when there is something in the register.  If you explicitly copy a value into say `"c` does it show up?

[2016-07-17 23:36] jaredpar commented on #1807
Also have you taken a look at #1804?

[2016-07-18 08:59] cice commented on #1807
@jaredpar thanks, seems to be the same issue as #1804, i will try jacres solution and report back

[2016-07-18 09:15] cice commented on #1807
https://github.com/jaredpar/VsVim/issues/1804#issuecomment-230495041 this solution worked for me too. i had to uninstall vsvim several times. after re-installing, its now working smoothly.

[2016-07-18 18:01] alarobric commented on #1808
Nope. I can do `"cyw` for instance, then `:registers` will still just show the basic numbered registers. If I then `"cp` I can see the register is working, it's just not being displayed. Same thing with macros.

[2016-07-18 18:20] jaredpar commented on #1808
That's really strange.  It definitely shows for me and that logic isn't really complex.  It just gates on the register having a non-null value when displaying.

Wonder if this is a simple UI issue.  Can you put your moues over the window, and use the scroll wheel to scroll it?  It's possible there is no scroll bar and the data is off screen.

[2016-07-18 18:58] alarobric commented on #1808
Yep that was it - the simple explanation. I don't suppose there's any way
to adjust the height of that popup window? There's a horizontal scrollbar
but no vertical one, and no way to adjust the size.

Sorry for the bother and thanks for the great tool.

On Mon, Jul 18, 2016 at 11:20 AM, Jared Parsons <notifications@github.com>
wrote:

[2016-07-19 07:50] frankyuan commented on #1809
It worked, thanks!

[2016-07-19 14:56] #1809 closed

[2016-07-20 15:45] Fischermaen opened #1810 "Support for vimscript"
There several helpful extension written in vimscript, but support for vimscript is needed to run them

[2016-07-20 15:49] Fischermaen opened #1811 "CamelCaseMoving"
It would be very helpful if VSVim would support CamelCaseMoving. There is a plugin for Vim, which supports that by pressing "," (comma) in addition to a moving command (like W, B, etc.).

[2016-07-21 11:42] theprash commented on #784
I'll put this here as it might be useful:

I had this problem on VS2015 and I started to try the solution above - deleting all of the `Ctrl-R` shortcuts. Most of mine were created by ReSharper and they were compound ones, e.g. `Ctrl-R, Ctrl-I`. I removed a few of these to no effect. Then I noticed that the `View.SolutionExplorer` command had just `Ctrl-R` as one of its shortcuts. Removing this one

[2016-07-22 07:45] dbskccc opened #1812 "can not remap ;; '' <A-;> <A-'>"
[code]

has no effect, version 2.1.1 vs 2015

[2016-07-23 16:08] jaredpar commented on #1810
Unfortunately full vimscript support is not a goal of this emulator.  There is some limited vimscript available for using existing vimrc files but it doesn't extend further.  I have looked pretty deeply into adding this support and the cost / benefit just doesn't add up right now.

[2016-07-23 16:08] #1810 closed

[2016-07-23 16:10] jaredpar commented on #1811
While full vimscript isn't a goal the idea has been floated that VsVim could emulate several popular plugins instead.  I will keep this on the list of plugins to consider here.

[2016-07-23 16:20] jaredpar commented on #1812
Thanks for reporting.  I will take a look at this.

[2016-07-26 09:17] t3m opened #1813 "Macro in VIM?"
Any future plans to implement Vim Macro, I know everyone will love it. Thanks for sharing. Happy Vimming!

[2016-07-30 03:10] epscoe opened #1814 "Backspace does not work in document with VsVim disabled, or in C# Interactive window regardless of VsVim state"
I've been working with VsVim for just a few days, and noticed today that the backspace key does not work in the C# Interactive window. Delete still works, and Ctrl+Backspace still works, but I can't use Backspace to delete the single character left of the caret. The same is true of any file I'm trying to edit while VsVim is disabled. Re-enabling VsVim and entering Insert mode resolves the issue fo

[2016-07-31 19:00] slav commented on #1801
This is also happening on VS 2015

[2016-08-03 07:39] rgeorgiev583 commented on #1807
Thanks a lot to everyone: the solution in #1804 fixed my problem.  I think the issue can already be closed now.

[2016-08-03 08:08] dnperfors opened #1815 "Navigate To window automatically closing when VsVim is enabled"
When I have VsVim enabled, the Navigate To functionality (Ctrl+,) of Visual Studio isn't really working. The 'search window' is opened, but while typing, it is closed automatically without waiting for Enter.

![navigateto](https://cloud.githubusercontent.com/assets/170992/17358397/1c3c0950-5962-11e6-8c89-19024397f235.png)

[2016-08-09 15:04] tjcertified opened #1816 "dot-range shorthand not working"
Minor issue. In Vim, for ranges in substitution, I can do the following:

[code]

and effectively change this and the next five lines. It is shorthand for:

[code]

which does work inside VsVim, and is a good workaround for now. Minor issue of additional '+', but I thought i would let you know about it. EDIT: I realized I left an 's' out of the second command, so I added it.

[2016-08-09 18:36] jaredpar commented on #1816
Thanks for reporting.  Did not know about that.  Will take a look at that.

[2016-08-10 08:44] Chadehoc commented on #574
I was about to suggest that, and found this request from 2013. Is it still in your basket?

[2016-08-10 14:08] tjcertified commented on #1415
I'm not completely sure, but I believe I am still experiencing this same issue, or something close. I am unsure of the exact circumstances, but I can hit a case where I hit 'u', and it undoes 100+ changes instead of just the last change. When I try to redo, I can get to a seemingly random stopping point forward in the changelist. However, I am able to still use the forward/back arrows to continue

[2016-08-13 03:59] dHeinemann commented on #1082
I experienced the same problem today when I installed VsVim (v 2.1.1.0) in VS 2015 for the first time. My .vimrc uses Ctrl+K and Ctrl+J to scroll up and down:

    nnoremap <C-k> 2<C-y>
    nnoremap <C-j> 2<C-e>

Ctrl+J worked after setting VsVim to handle all its shortcuts. Ctrl+K didn't work despite telling VsVim to handle it.

I tried removing all the Ctrl+K shortcuts like @jazzdelightsme sugge

[2016-08-15 12:20] sfx2k commented on #1082
This works for me. Thanks a lot!

[2016-08-15 18:19] jaredpar commented on #1813
Can you be more specific here?  VsVim already has fairly rich macro support.  Is there a particular aspect that you're missing?

[2016-08-15 22:09] jaredpar commented on #1814
I'm not seeing that behavior locally.  I believe there is an issue here with how the keyboard is setup.  Can you do the following:

1. Open the Command Window in Visual Studio
2. Run: VsVim.DumpKeyboard
3. Open `%USERPROFILE%\AppData\Local\VsVim\keyboard.txt`
4. Paste the contents here

[2016-08-15 22:17] jaredpar commented on #1815
I think this is likely the result of VsVim and another plugin interacting badly.  Outside VsVim, Navigate To is actually one of my favorite features.  If VsVim always broke it then I would've fixed this long ago :smile:

Can you tell me what other plugins you have installed here?

[2016-08-15 22:25] jaredpar commented on #574
It's still in my TODO list.  The feature is easy enough.  It's just getting the time to implement it :frowning:

[2016-08-15 22:27] jaredpar commented on #1415
@tjcertified hmm, this scenario *should* be fairly locked down at this point.  Does this repro fairly regularly or did it happen one time only?

[2016-08-16 02:27] epscoe commented on #1814
Good catch, somehow the Edit.DeleteBackwards command has lost its keybinding. I didn't even realize that was possible. It seems unlikely that VsVim would be at fault if I'm the only person with the problem, but I'll try clearing my settings and reinstalling VsVim anyway to see if it happens again.

[keyboard.txt](https://github.com/jaredpar/VsVim/files/419366/keyboard.txt)

[2016-08-16 10:53] tjcertified commented on #1415
It is not regular, but it is also not one time only. It happened twice last week, but has not happened to me in a long time. I do remember now that I was working a lot that day with snippets, and in particular, with a snippet I had defined using Resharper's "Active Hotspot", meaning that I was dropping in and out of "external edit detected"-mode in VsVim. I'm not sure if I got all of the terminolo

[2016-08-16 12:44] pescuma commented on #1715
@jaredpar Thanks!

[2016-08-19 17:36] rcorre opened #1817 "Cannot :q from the annotate/blame view"
When I use TeamExplorer to annotate/blame a file (the `Team.Git.Annotate` command), VsVim seems to work for navigation but `:q` does not close the buffer.
However, `:vsc Close` works.

[2016-08-21 02:22] sfinktah commented on #1402
It's a pretty common function, a quick `ack` of my .vim gives me quite a list.  But in terms of implementation, it simply returns 0 unless there is a pop-up menu active (completion, what-not).

I wouldn't normally care, but evidently something is bound in my .vimrc such that when I press Enter in insert mode, I get a free `pumvisible() ? "\"`.

[code]

[2016-08-22 08:47] sfinktah commented on #1402
BTW, I fixed my immediate problem. I had a script that was indirectly sourced from .vimrc with the line:

    inoremap <expr> <CR> pumvisible() ? "\<C-y>" : "\<C-g>u\<CR>"

Something I added myself.  If it had been one of the many other instances that was within a plugin, I guess it wouldn't have loaded and I wouldn't have had the issue.

BTW, very impressed with the level of detail.  Supported so

[2016-08-23 06:00] xuboying opened #1818 "support bookmark function"
Is it possible to support buildin bookmark function
like jump

Command     Description
]'  jump to next line with a lowercase mark
['  jump to previous line with a lowercase mark
]`jump to next lowercase mark
[`  jump to previous lowercase mark

toggle might be a special key(limited supported)

[2016-08-24 02:00] haolly commented on #1027
jaredpar, this has not been implemented, I find gvim has this ability when compiled with +multi_byte_ime.
Wish it will be here in VsVim

[2016-08-25 01:52] slav commented on #1763
To add to this ticket. When I type the parenthesis or manually select parenthesis (Shift + arrow) the braces highlight while. But if i just move the cursor to it, the highlight doesn't work.

Any ideas on how to try and work around this?

[2016-08-25 16:06] jaredpar commented on #1817
Interesting.  The `:q` command basically forwards to the same command as `:vsc Close`.  I will look into that.

[2016-08-26 14:22] ihoro opened #1819 "Ctrl+[ in Visual Studio Community Edition 2013 update 5"
Hello,

I’ve read previous discussions of this problem and nothing helps me, it simply does nothing. And using Esc instead of Ctrl+[ "breaks entire vim concept” for me.

Do you have any idea? I can help with required details.
That’s about the latest version of the plugin in VS2013CEu5 on Win10 Home.

[2016-08-27 21:54] rjindel commented on #1819
Have you tried remapping it in the vimrc?

[2016-08-27 22:02] rjindel opened #1820 "Go to method not working"
When in normal mode I can use the square bracket keys to move to prev\next brackets. However, they don't work with the m key to go the beginning or end of the method

[2016-08-29 11:52] phigoro commented on #1819
I tried to add ‘imap’ into C:\Users\<user>\.vimrc but it didn’t help.

Somehow I recalled that en_US locale is quite special due to many things hard-coded/pre-defined/etc/etc, so I tried to switch my system back to en_US from en_GB and… and now C-[ works fine in VsVim without additional tweaking. Finally.

Let me know if you have solution for en_GB keyboard layout.

[2016-08-29 16:02] jaredpar commented on #1819
@phigoro can you see if <kbd>Ctrl+[</kbd> is bound in the Visual Studio key bindings when you have layout set to en_GB?

- Tools -> Options
- Environment -> Keyboard
- Type <kbd>Ctrl+[</kbd> into the "Press Shortcut Key" box

If it's bound a binding will show up in the list above.

Unfortunately Visual Studio has different default layouts for various keyboards and locales.  It's not possible to se

[2016-08-29 16:03] jaredpar commented on #1820
That's a new feature that I haven't implemented.  I'll look into that for the next release.

[2016-08-29 18:15] rjindel commented on #1819
I also found that Ctrl+Shift+F12 is by default bound to View.NextError on VS2015. I'm using UK keyboard layout.
If this is a common issue, do you think it might be a good idea to make "sticky" an issue, so there a central place to report such issues?

[2016-08-29 20:24] albertdev opened #1821 "Joining lines of triple-slash comments doesn't remove slashes"
Assume the following documentation is present above a function and the cursor is on the `.` char surrounded by `|` marks:

[code]

Press `J` to join the two lines. In VsVim the result will be a line like this:

[code]

Expected result, taken from Vim:

[code]

Entering Insert mode and pressing Delete works as well because it's likely standard VS behavior, it's annoying though as it takes way more

[2016-08-29 22:17] aceperry opened #1822 "Cannot understand supported feature keys: what does <C-w> mean?"
In the documentation, I see this under normal mode.  Does (left angle bracket)C-w(right angle bracket) mean a single control key press?  I have to write in the words angle bracket because this editor leaves it out.  I'm used to seeing a single letter 'C' for denoting the control key.  There are also other combinations like <C-w>(left angle bracket)C-l(right angle bracket).  (see: https://github.co

[2016-08-30 03:25] jaredpar commented on #1819
@rjindel didn't think that Github had sticky issues.

It's not common but it's not really uncommon either.  Probably get about one report a year on it that I need to dig into.

[2016-08-30 03:26] jaredpar commented on #1821
Do you know what mechanism in Vim causes the lines to be deleted?  It's usually not a standard vim behavior but instead something that can be configured whos default behavior just works in this way.  Usually i try and Implement the configuration as well.

[2016-08-30 08:10] albertdev commented on #1821
Ehr, sorry for that. I just got lazy and only showed the joined line(s) in the second and third example. The output of Vim is actually this:

[code]

As for configuration, I think this slashes-removing feature is related to the `comments` setting. In case of C# it gets set in `vim74\ftplugin\cs.vim`.

[2016-08-30 09:57] albertdev commented on #1821
Mind you, if you do want to go through with implementing the `comments` option then you would also need to look at the `o` and `O` normal mode commands and possible others. For these commands in particular, Vim will copy the "slashes" from the current line to the new line.

[2016-08-30 14:09] phigoro commented on #1819
@jaredpar Binding list is empty if I press Ctrl+[ in "Options > Environment > Keyboard > Press shortcut Keys" input box. That’s because of I previously removed all assignments related to Ctrl+[, according to [the wiki](https://github.com/jaredpar/VsVim/wiki/Troubleshooting-the-Keyboard#manually-remove-all-other-key-bindings-for-the-keystroke).

[2016-08-31 15:19] jeffvandyke commented on #1072
This is the closest existing issue I could find:
Visual Studio 2015 Update 3, VsVim 2.1.1.0

For this code, in gVim, with cursor at "cursor here", pressing "viB" highlights 2 lines, then pressing "iB" again highlights everything inside the braces under "outerMethod()", whereas in VsVim, pressing "viB" once inside inner stuff highlights the same 2 lines the 1st time, but pressing "iB" again does no

[2016-08-31 19:03] brynjolf opened #1823 "iskeyword support"
Was wondering if iskeyword is on the roadmap as a setting? When writing unit tests I usually write names of the sort MethodName_Scenario_ExpectedOutput and it would be amazing if 'dw' would delete the method name, and not the entire tests name.

[2016-09-05 12:09] dnperfors commented on #1815
Sorry for the late reply, I just went on holiday when you wrote it.
I found the plugin that caused this problem, it was ReSharper. I deleted ReSharper since I didn't use it anymore, and now it works. Other plugins I have installed don't have any problems with VsVim (as far as I can find):

- Relative Number
- EditorConfig
- PowerTools 2015
- Refactoring Essentials
- CodeLens code health indicator

[2016-09-05 12:09] #1815 closed

[2016-09-07 15:01] jaredpar commented on #1823
It's not currently on the roadmap but I'll add it to the backlgo.

[2016-09-08 02:15] Inori opened #1824 "How can I map ctrl+; to a command?"
Things like `imap <C-;> <ESC>$a;` doesn't work.

[2016-09-09 08:36] mgutekunst opened #1825 "Switch to insert mode using a command"
Hi,

when I'm in normal mode is there a command to switch to insert mode?
Something like ` :Insert-mode` ?