[2018-09-28 05:34] jaredpar commented on #2380
That seems about right. ~1 week to get the last of the issues fixed + couple of days of dogfooding

[2018-09-29 00:35] hacksoi commented on #2380
the bug is indeed fixed, along with a lot of other bugs!

[2018-10-08 00:54] jaredpar commented on #2381
Unfortunately I don't have any updates here. The code itself should work just fine in the SMSS host. The issue is all about whether or not they will allow 3rd party extensions to load.

[2018-10-08 04:29] #1419 closed

[2018-10-08 04:29] #1682 closed

[2018-10-08 04:29] #2366 closed

[2018-10-08 04:29] #2367 closed

[2018-10-12 15:39] jaredpar commented on #2341
I've been unable to reproduce this since my original filing. Tried a couple of different approaches now. Closing for now because there just doesn't seem to be any way to make progress here. Will reopen if I see this again.

[2018-10-12 15:39] #2341 closed

[2018-10-12 15:42] jaredpar commented on #2249
So far I've been unable to reproduce this. I've tried on a few different machines. There were a few reports of this so I believe it's real.

For anyone else who hits this in the future. Can you please do the following:

- Navigate to `%LOCALAPPDATA%\Microsoft\VisualStudio\<version>\Extensions`

Then upload + respond to this issue with a link to the file. This err file should have the information I

[2018-10-12 15:47] baldurk commented on #2249
Sorry I might be missing something obvious, which file do you want from that folder?

[2018-10-12 15:48] jaredpar commented on #2249
@baldurk sorry, I left that critical piece of information out 😦. Fixed that.

[2018-10-12 16:00] rickythefox opened #2382 "Cannot navigate to the symbol under caret"
Navigation using Ctrl-click does not work with VsVim v2.6.1221 and VS 2017 v15.8.7. Disabling VsVim fixes the issue. This works in VsVim v2.5.0.

![image](https://user-images.githubusercontent.com/1675955/46880093-c0423680-ce15-11e8-9d57-d2ba0bbdb635.png)

![image](https://user-images.githubusercontent.com/1675955/46880287-3f376f00-ce16-11e8-8571-c1ee2e854fbc.png)

[2018-10-12 16:03] baldurk commented on #2249
I don't have any error files in that folder :disappointed: . Just one folder per extension I have installed, plus `CompatibilityList.xml`, `extensions.en-US.cache`, `extensionSdks.en-US.cache`, `VSIXInstaller.extensions.en-US.cache`, `VSIXInstaller.extensionSdks.en-US.cache`.

I also looked in vsvim's folder, but nothing there either.

I noticed that for some reason VS hadn't auto-updated the exte

[2018-10-12 16:05] jaredpar commented on #2249
Hmm. I guess that error file logging didn't make it into Dev14 then. That's frustrating. May have to try and get a VM together.

[2018-10-12 16:19] baldurk commented on #2249
I tried on VS2017 (Version 15.5.6). I wasn't clear what `<Version>` would be in the path, because I have three folders: 15.0, 15.0_67b17c2c, and 15.0_67b17c2cExp.

15.0 is completely empty, 15.0_67b17c2cExp has an Extensions folder but it looks old (hasn't been modified since 2017), so I assume 15.0_67b17c2c is the right one.

Unfortunately I still don't get any error files under there or in VsVim

[2018-10-12 16:29] baldurk opened #2383 "Double-click to select word then drag doesn't continue to select whole words"
In vim if you double-click the mouse, then hold the second click and drag, it will continue to select whole words (this is a typical behaviour in windows at least, not sure about other OSs). At the moment on VsVim the drag will select character-wise.

I think this is probably related to #2368 since before as I understand it was using the VS mouse handling.

Also additionally - I don't think this i

[2018-10-12 16:38] baldurk commented on #2383
Another windows/VS-ism: when doing this kind of selection drag the word that you originally double clicked on is always included in the selection. In vim and now VsVim, if you double click on a word then drag to the left, the word gets removed from the selection. It's unintuitive to me, but when testing it that is the vim behaviour.

Having a setting for these would be really nice if it's not too

[2018-10-12 17:59] jaredpar commented on #2249
Thanks for the log. Yeah this is mildly frustrating. Pondering other ways to get this information.

[2018-10-12 20:33] ricksladkey commented on #2382
Interesting. It actually does go to the definition, but it goes to the definition the caret is on, not where the mouse cursor is clicked.  The workaround is to simple click first to move the caret.

I'll take a look at fixing this.

[2018-10-12 20:39] ricksladkey commented on #2383
The double-click and drag problem is more of the seemingly never ending list of fringe features that need to be implemented once we handle any left-mouse event. I will take a look at fixing that.

The issue of dragging a selection is more problematic, because:

1) It is not supported by gvim, so we would have to add a non-standard setting to control it
1) There is no base functionality we can leve

[2018-10-12 20:56] baldurk commented on #2383
Yeh from reading that PR it seemed like this might be something where once you've taken control you get all the responsibility, you can't do things piecemeal. Which makes sense, but I can definitely appreciate is really annoying.

If it makes it any easier I'm not talking about actually moving selected text around in the document - not sure if that's what you meant by 'dragging a selection'. I'm o

[2018-10-13 00:17] ricksladkey commented on #2383
@baldurk Ah, I misread your control-click and drag observation. I will think about that.

[2018-10-13 05:08] ricksladkey commented on #2383
@baldurk OK, so we cannot change control-click because vim defines `<C-LeftMouse>` as "go to definition". However these mappings seems to do what you want:

[code]

so we are back to just the first problem, the title of this issue.

[2018-10-14 16:07] #2382 closed

[2018-10-15 14:29] baldurk commented on #2249
I compiled a local version of VsVim to experiment with mouse behaviour, and I still got this error. Unfortunately when trying to reproduce it and debug I couldn't. I'm not super familiar with VSIX but looking around it seems like you're intended to debug in a separate 'experimental' version of VS - and I could never get the exception to happen there, even after copying in and enabling all my other

[2018-10-15 16:28] rickythefox commented on #2382
@ricksladkey the fix works, however when Resharper is installed it sometimes jumps to definition and then immediately jumps onwards somewhere unrelated. Maybe checking for resharper and then executing the Resharper action 'ReSharper.ReSharper_GotoDeclaration<CR>' would fix this?

[2018-10-15 20:33] jaredpar opened #2387 "ISmartTagBroker usage in Dev16"
The `ISmartTagBroker` type is being deleted in Dev16. This means all of the uses need to move to a VS specific assembly. The current uses are preventing VsVim from loading entirely in Dev16 builds.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.language.intellisense.ismarttagbroker?view=visualstudiosdk-2017

[2018-10-16 02:47] ricksladkey commented on #2382
@rickythefox I recommend modifying your binding as follows:

[code]

otherwise it will go to the definition of the word under the caret rather than the mouse.

[2018-10-16 11:11] keithn opened #2389 "Bug: t<char> followed by ; does not go to the next match"
Version: 2.6.1226

given the text

[code]
```tb```   followed by a ``` ;```    will not take you just before the second b

[2018-10-16 11:28] Mehuge opened #2390 "VsVim and auto quote not playing nice together"
Visual Studio 2017
VsVim installed (default settings, except `^F` and `^B` set to be handled by VsVim)

Editing an XML file.  Say I add an attribute to a node:

    <i>type="default"<ESC>

In reality, because Visual Studio is auto adding the quotes, I type

    <i>type=default<ESC>

If I don't I end up with doubled up quotes. I then want to replicate that edit on the next N nodes, so I move to pos

[2018-10-17 01:27] ricksladkey commented on #2390
Thanks for taking the time to create a detailed bug report! The good news is that this bug was fixed in PR #2230 and the fix will be included in the next release of VsVim.

In the meantime, the workaround for the particular repro is to actually type both of the double quotes during the first insertion, that is to say ignore the fact that the language service auto-inserts them and type them anyway.

[2018-10-17 01:27] #2390 closed

[2018-10-17 01:39] ricksladkey commented on #2389
Indeed, it does not. It is fascinating that such an "obvious" bug can exist for so long! The bug is not in the repeating because `tb` followed by `tb` exhibits the same symptom. The bug is that the `t<char>` command in vim always moves the caret, similar to how `/<pattern>`  moves the caret when the pattern matches immediately.

[2018-10-17 01:43] ricksladkey commented on #2387
Is this issue fixed by PR #2388, which has been merged?

[2018-10-17 02:15] ricksladkey commented on #2389
Retesting, I got that wrong, the problem *is* in the repeating, i.e. it is in the `;` command, which always moves, whereas `t<char>` does its condition is already satisfied.

[2018-10-17 03:17] ricksladkey commented on #2383
@baldurk wrote:

I think I have intuited vim's logic regarding this behavior. In vim, the original highlighted word is *not* included when dragging backwards when `:set selection=exclusive` is in effect, and it *is* included when dragging backwards when `:set selection=inclusive` is in effect. In other words (no pun intended), it works exactly like normal (non-word) dragging works, except that wor

[2018-10-17 18:39] jaredpar commented on #2387
Yes it is.

[2018-10-17 18:39] #2387 closed

[2018-10-18 03:32] ricksladkey commented on #2389
VsVim doesn't support the vim `cpo` variable (yet) but `:help cpo-;` in vim shows that VsVim is behaving the way that the original vi behaved and that the vim behavior is a turned on by default:

[code]

[2018-10-18 17:31] cbates- opened #2393 ":marks cmd doesn't list all global marks"
If I set a mark in buffer A  (FileA.cs):
m-A
then list marks in buffer A:
:marks
I see something like:
mark    line   col   file/text
A           23      16  c:\work\test\FileA.cs

If I switch to buffer B and run the 'marks' command, 'A' is not displayed.

[2018-10-18 17:41] ricksladkey commented on #2393
Thanks for taking the time to report a bug! The good news is that this issue is a duplicate of issue #1872 and has already been fixed in PR #2139.

[2018-10-18 17:41] #2393 closed

[2018-10-21 04:40] ricksladkey commented on #2249
PR #2386 closed this defect, but it was merged into staging instead of master, so this issue was not closed automatically. I am closing it manually because staging is the release branch for the 2.6 release.

[2018-10-21 04:43] ricksladkey commented on #2373
@jaredpar OK, it looks like all the items in the short list are complete. Let me know if there is anything I can do to help with the release!

[2018-10-21 09:57] baldurk commented on #2249
Works great for me in a few tests, thanks!

[2018-10-21 13:25] SugeunOh opened #2395 "is it possible using vk_key code for vsvim?"
thank you for your hard work.

I was amazed when I first using spacemacs by VI Key mapping.
Because they support vi key mapping with Korean Input mode too.
it's means I don't have to change Language Mode(English, Korean).

for example, I have to change English language mode for moving cursor
but spacemacs allow moving cursor with Korean language mode by pressing "ㅗㅓㅏㅣ" (same position of "hjkl" of

[2018-10-21 18:43] sqlkoala commented on #2395
Hi,
you can try a simple normal mode mapping, That would be an easy solution which you can build yourself.
Type ":" to get to the command line, then:
noremap  ㅗ <Left>
After that h/ㅗ should work as left movement. Does this work?

[2018-10-21 18:52] ricksladkey commented on #2395
In VsVim 2.6, you will be able to automatically turn off the IME when in normal mode, so if when using Korean input the `hjkl` keys produce latin characters when the IME is turned off, then not only will the caret motions work, but the whole vim command set.

However, whether or not this works, if you can reframe you request into a form that describes vim/gvim features instead of spacemacs/evil fe

[2018-10-22 14:16] SugeunOh commented on #2395
WOW, I'm very expected VsVim 2.6 !!
I'm follow your suggestions for now on.
thank for your hard work!!

[2018-10-22 14:16] #2395 closed

[2018-10-22 14:42] jaredpar commented on #2373
I think we are ready to go. Plan is to release Tuesday. Didn't release over the weekend because travel meant I wouldn't have been able to do any trouble shooting if problems came up.

[2018-10-22 15:21] SugeunOh opened #2396 "is it possible to using hjkl to selecting item on the list?"
![image](https://user-images.githubusercontent.com/17059492/47297708-de4b3a80-d650-11e8-8e24-1a660675b4c0.png)

![image](https://user-images.githubusercontent.com/17059492/47298290-5c5c1100-d652-11e8-855f-12b435756a8f.png)

![image](https://user-images.githubusercontent.com/17059492/47298358-8c0b1900-d652-11e8-8a24-81a01857738e.png)

![image](https://user-images.githubusercontent.com/17059492/4729

[2018-10-23 04:14] ricksladkey commented on #2372
Closing this since it was completed by PR #2391.

[2018-10-23 04:14] #2372 closed

[2018-10-23 20:38] jaredpar commented on #2373
It is done, happy Vimming everyone!

[2018-10-23 20:41] #2373 closed

[2018-10-23 21:24] jaredpar opened #2399 "Remove VS2012 and VS2013 support"
Now that VS2017 is nearly complete and focus is shifting to VS2019 I've been evaluating what all versions of VS should VsVim be targeting for support. After some discussion with others decided to make VS2015 the minimum supported version. The advantages it has:

1. AsyncPackage is supported
1. The official SDK is on NuGet
1. Light bulbs exist (the replacement for smart tags)
1. My, recently delete

[2018-10-23 22:29] eviltobz commented on #2399
will the last compatible version still be downloadable and obvious if you're using an older version of studio? it'd be terrible to have to do some maintenance on some old code, needing an old version of studio, and suddenly find that pressing a key directly correlated to the character appearing in the editor. ick! ;)

[2018-10-23 23:01] jaredpar commented on #2399
Yes. When I removed VS2010 support I published a special version of the extension that only listed 2010 as supported. Hence VS2010 users will forever see that, and only that, when they look for it. I would do the same for VS2012 and VS2013.

[2018-10-24 12:54] farzadmf opened #2400 "Cannot change block caret color"
Hi,

Today, I'm facing an issue with VsVim where my block caret is now black. I tried to set the color in **Item Colors** in settings, but the weird thing is that when I change it and click OK, the color is still black, and when I come back to the settings window, the setting has been reverted back to its previous value.

Example:
1. I open VS, the caret in VS is black
2. I go to the settings and

[2018-10-24 15:37] ricksladkey commented on #2400
I'm sorry to hear about that. Can you perform a couple of experiments for me to narrow down where the problem is?

First, can you successfully change other VsVim colors from the settings window, like the command margin foreground/background?

![image](https://user-images.githubusercontent.com/2680524/47442652-ae02b980-d780-11e8-873b-1e10d493aa97.png)

Second, does trying to change the block caret

[2018-10-24 16:40] adamskt commented on #2400
I ran into the same situation today, and the VsVim options do not appear in the Fonts and Colors "Display Items" listing in Tools -> Options -> Environment:
![screenshot from 2018-10-24 09-30-04](https://user-images.githubusercontent.com/105415/47446148-717a9200-d76f-11e8-94b1-61647d886c25.png)

I did see the plugin exception prior and restarted Visual Studio.  The relevant lines from ActivityLog.

[2018-10-24 16:41] adamskt commented on #2400
FWIW, a uninstall/reinstall of the VsVIM VSIX has remedied the issue.

[2018-10-24 17:47] farzadmf commented on #2400
Thank you @ricksladkey for your answer, and thank you @adamskt for pointing out the problem. That's exactly the problem that I had, and it was very confusing for me that the options disappeared from `Fonts and Colors`!

But anyway, as suggested by @adamskt , I uninstalled/installed `VsVim`, and it seems to be fine now.

I can close this issue if you guys don't want to keep it open to investigate

[2018-10-24 18:02] mattscully commented on #2400
I'm wondering if this might be happening for everyone that uses the Dark theme and just upgraded to the latest version of VsVim.  It happened for me, too.  It could be that a fix is still worth it, unless it is recommended for everyone to have to reinstall the extension.

[2018-10-24 20:37] ricksladkey commented on #2400
@farzadmf  Please leave this issue open until we determine what the conditions are that produces it. If there is some way of avoid the burdensome uninstall/reinstall, that would be preferable to a workaround.

@jaredpar Does this symptom ring any bells, i.e. fonts and colors issues with extensions? I believe at the "fonts and colors" level, the only obvious change from 2.5 to 2.6 is that the `Edit

[2018-10-25 13:50] Eternal21 opened #2401 "Cannot Configure Ctrl+c or Ctrl+v to be handled by Visual Studio"
I've been using VsVim for about a year now.  I was always able to to copy/paste text using default ctrl+c and ctrl+v shortcuts.  It stopped working for me a few days ago.  I figured VsVim Keyboard setting must've changed somehow, to handle those keys instead letting Visual Studio do it.  Currently pressing Ctrl+v toggles Visual Mode.  The problem is there are no ctrl+v or ctrl+c entries in the vsv

[2018-10-25 18:31] jaredpar commented on #2400
For anyone who saw the dialog about an exception in an extension can you do the following:

1. Install this extension https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ClearMEFComponentCache
1. Under Tools menu there will be an option "Show MEF Errors"

Can you paste back the output of that menu? If there is a composition issue that will have the relevant log and give us the info

[2018-10-25 18:45] farzadmf commented on #2400
Hey @ricksladkey, I'm not sure 100%, but I *think* VsVim was working properly; only the caret color was weird

@Wojnach For me, re-installing VsVim resulted in the options to become available, and then I needed to change the color manually

And @jaredpar , thank you for the suggestion, I think the extension would be useful in any case

[2018-10-25 20:21] jaredpar opened #2402 "Argument null on startup"
This exception happens on startup on some machines with 2.6.0 installed:

[code]

[2018-10-25 23:56] jaredpar commented on #2400
@Wojnach

Thanks for posting that. That particular error is benign. I will look and see if I can make this go away. But at the same time it's not causing any issues here.

[2018-10-26 02:36] ricksladkey commented on #2400
@Wojnach The old foreground color was used as the background the old background color was unused. VsVim now uses the foreground color for the foreground and the background color as the background, which makes a lot more sense. The default color selection looks correct only with the light theme.

The net effect with the old version and the new version is that the actual default background color of

[2018-10-26 05:34] keithn commented on #2389
fantastic!

[2018-10-26 09:48] kkorus commented on #2373
Hooray! hooray! 🎉🎉🎉🎉🎉 😂

[2018-10-26 12:37] Eternal21 commented on #2401
Somebody suggested a workaround on StackOverflow ([link](https://stackoverflow.com/a/52996771/1288473)).  Still don't know how it stopped working all of a sudden, but at least it works now.

[2018-10-26 12:37] #2401 closed

[2018-10-26 17:40] jaredpar commented on #2400
Chatted with a few people and to fix the theming issue we need to get themed colors for this definition. Essentially a color which will change based on the theme. The process is documented at this link:

https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/color-theming-tools?view=vs-2017

I haven't had a chance to digest this fully yet. At a glance though it looks like it's prett

[2018-10-26 18:49] ricksladkey commented on #2400
@jared Theming is a good idea, but will only reduce the number of users who have to configure VsVim fonts and colors. The bug here is that it is impossible to set the colors. In other words, the VsVim fonts and colors should "show up" in Tools -> Environment -> Fonts and Colors without having to uninstall and reinstall the VsVim extension.

I am more and more convinced that this is a MEF issue and

[2018-10-26 19:06] adamskt commented on #2400
@ricksladkey I did save my ActivityLog.xml, I hope the signal/noise ratio isn't too high for you :)
[ActivityLog.zip](https://github.com/jaredpar/VsVim/files/2520531/ActivityLog.zip)

[2018-10-26 20:13] jaredpar commented on #2400
@adamskt thanks for providing that. That gives a clue to what's going on. The MEF error log would help me narrow it down to a more specific area. Can you do the following:

1. Install this extension https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ClearMEFComponentCache
1. Under Tools menu there will be an option "Show MEF Errors"

Can you paste back the output of that menu?

[2018-10-26 20:29] jaredpar commented on #2400
@ricksladkey

That was my initial thought as well. The data though is a bit confusing.  Here is the first error from @adamskt log:

[code]

Two interesting take aways from that:

1. The load of Vim.VisualStudio.Shared is done via `Load(AssemblyName)`.  That means VS fully expects the directory holding the VsVim binaries to be in the current probing path else it would have done a `LoadFrom(string)`

[2018-10-28 08:34] sqlkoala commented on #2396
I am not 100% sure, but I think I know what you want, because I have done the same.
This is about about configuring VStudio, not Vsvim.
You need to assign a shortcut for Vstudio commands Edit.LineDown and Edit.LineUp.
Like this:
![image](https://user-images.githubusercontent.com/30384885/47613686-2e346200-da94-11e8-8f7a-c6d64aa76646.png)
(i have j/k switched, so you choose Alt+j for Down)
With thi

[2018-10-29 03:38] ricksladkey commented on #2396
@SugeunOh I hope this approach satisfies your needs!

@sqlkoala Thanks for fielding this question. I think your answer covers all relevant points and so I am going to close this issue since it is not a bug in VsVim nor a feature that VsVim can implement.

[2018-10-29 03:38] #2396 closed

[2018-10-29 04:48] ricksladkey commented on #2400
@adamskt Thanks for the log. Ha, ha, yes, there are literally 20,000+ stack frames in that activity log. However, it call all be summarized by:

- Some problem loading Vim.VisualStudio.Shared or one of its dependencies
- Likely the same problem loading Vim.UI.WPF
- Some other problem loading the VsVim package

Unfortunately, I did not gain any major insight into what is going wrong.

[2018-10-29 10:53] eviltobz commented on #2400
Hmmm, I was having this problem with the colours all sticking to black whilst running the dark theme. Restarting Studio didn't help me change the colours, but just installing that MEF error tool & re-restarting Studio fixed the problem for me - it suddenly went back to a varied bunch of colours which I presume that I set up some time in the past, and I was able to change them to something else suc

[2018-10-30 00:55] ricksladkey commented on #2400
@eviltobz I think your observation supports the idea that there is an ordering difference (effectively a race condition) during the initial caching of the MEF graph. Simply repeating the generation of the MEF graph, either by clearing the MEF cache, uninstalling and reinstalling VsVim, or installing some other extension might successfully do one or more steps in a different order and avoid the rac

[2018-10-30 18:06] philipmat opened #2406 "statusline no longer expanding properly?"
I think this may be a defect introduced with 2.6.0, for I will admit I don't remember how this looked like earlier, however I want to believe that I would've been able to remember if it looked like the below (VS on top, Vim at the bottom)

![chrome_2018-10-30_12-51-19](https://user-images.githubusercontent.com/709928/47739393-45658200-dc43-11e8-9863-dd7cd1fa2796.png)

Upon further research, suppor

[2018-10-31 05:40] ricksladkey commented on #2365
Because full vim-script is not a project goal and because we have a workaround, I'm going to close this issue.

[2018-10-31 05:40] #2365 closed

[2018-10-31 18:45] jaredpar commented on #2406
It's possible this changed, there was some work around expansion IIRC. What string did you use to use for expansion here?

[2018-11-01 19:25] sid-6581 opened #2407 "Page Up/Page Down much slower in 2.6 than 2.5"
Whenever I press page up or page down in version 2.6, it seems like it takes a full second or so before anything happens. I downgraded to 2.5, and the issue went away completely -- the editor is responsive again.

[2018-11-02 14:02] sid-6581 commented on #2407
I have the same issue with `<C-u>` and `<C-d>` in 2.5 and 2.6. `<PageUp>`/`<PageDown>` are even slower in 2.6 than `<C-u>`/`<C-d>` is in 2.5/2.6, which I guess makes sense since it's scrolling more lines. I've avoided those motions for that reason, but I can't avoid both those and  page up/down, because I can't be scrolling line by line through the code all the time.

It's hard to time this exactl

[2018-11-02 16:11] ricksladkey commented on #2407
My by-page scrolling is basically instant and so I don't experience the problem. And, yes, I too would find it incredibly annoying and nearly unusable if it were pathologically slow as you are reporting.

I did a little research and found [this quote](https://social.msdn.microsoft.com/Forums/en-US/af95c24b-cf78-4f89-9411-43e695420c7d/vs2010-slow-scrolling?forum=vseditor) from the program manager o

[2018-11-02 16:11] #2407 closed

[2018-11-02 20:08] sqlkoala commented on #2317
Could you post an actual use case?
Looking at this mapping `:noremap [x :echo 'test'<cr>`, it only makes sense in normal and visual mode. But noremap also defines a mapping in operator pending mode (that is the mode after operators like d or c where text objects live ) and that is why you get the problem.
A simple solution would be to have the mapping like so `:nnoremap [x :echo 'test'<cr>` and it

[2018-11-03 19:49] #2383 closed

[2018-11-03 20:17] ricksladkey commented on #1633
@sid-6581 Moving the discussion over here. Can you tell me if you use what Visual Studio calls "word wrap":

![image](https://user-images.githubusercontent.com/2680524/47956938-a662c200-df83-11e8-8ed4-f4d87b2514ec.png)

or what VsVim and vim call `:set wrap`? That is, if you have very long lines, does it take up multiple rows in the window?

[2018-11-03 21:45] ricksladkey commented on #2407
@sid-6581 If you get a chance, I have a question for your over in the original issue #1633.

[2018-11-04 02:44] ricksladkey commented on #1633
OK, I have a repro of sorts.

If I go to the beginning of a long text file, e.g. `CommonOperations.fs` (which is 2220 lines currently) and then press and hold `<PageDown>` until it reaches the end of the file, that procedure takes noticeably longer than the the same steps taken when VsVim is disabled with `<C-S-F12>`. On my laptop the former takes about 7 or 8 seconds and the latter takes about 2

[2018-11-04 18:45] ricksladkey commented on #573
In vim, these features are control by the `c`, `r` and `o` options of `formatoptions` (see vim `:help fo-table`).

[2018-11-04 18:48] ricksladkey commented on #1960
Closing this issue because I believe it is fixed.

[2018-11-04 18:48] #1960 closed

[2018-11-04 18:56] ricksladkey commented on #1171
This feature is called "insert mode completion" and is described by vim `:help ins-completion` and `:help i_CTRL-X_CTRL_L`.

[2018-11-04 18:57] ricksladkey commented on #2364
The `<C-x>` flavor of this command is part of "insert mode completion" and is already covered by the older issue #1171, so I am closing this one.

[2018-11-04 18:57] #2364 closed

[2018-11-04 19:50] ricksladkey commented on #2362
This command is called "Insert Next Matching Caret" and is bound to `Edit.InsertNextMatchingCaret`. described [here](https://docs.microsoft.com/en-us/visualstudio/ide/visual-studio-2017-for-dotnet-developers?view=vs-2017). It is part of the new "Multiple Caret" support.

I haven't been able to find out how this is implemented at the text editor API level, so at the moment we don't even have a way

[2018-11-04 23:03] ricksladkey commented on #2362
OK, some Visual Studio devs pointed me towards [IMultiSelectionBroker Interface](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.text.imultiselectionbroker?view=visualstudiosdk-2017). It's probably messy to access this from within VsVim which supports all Visual Studio versions with the same extension, but at least it's a foothold.

[2018-11-05 14:10] Nomadluap opened #2412 "<Esc> keypresses not being recognized"
Many times, when I'm typing, I will then immediately press <Esc> and begin navigating.

I have recently upgraded to VS2017 and have noticed that many times, when I hit the <Esc> key to return to normal mode from insert mode, the escape key is not picked up by VsVim, I stay in insert mode. This of course causes me to end up inserting a bunch of `jjjjj`s and `:w`s into my source code, which is quite

[2018-11-05 14:21] Nomadluap commented on #2412
Further testing shows that VsVim 2.5.0 also shows the same issue.

[2018-11-05 15:05] GaryFurash opened #2413 "Join Line Command Shift-j doesn't do anything"
Is join implemented some other way?

[2018-11-05 15:39] sid-6581 commented on #1633
@ricksladkey I have word wrap turned off for all file types.

[2018-11-05 15:42] dhmgit commented on #2317
@sqlkoala, no rudeness detected!  I'm happy to expand on my comments above.

The main reason I raised this issue is not that it is impossible to tolerate or work around (I did change my mappings to use `:nnoremap`), but rather to point out a difference in behavior between gVim and VsVim.  This underlying difference might lead to bugs or or other discrepancies that aren't listed here.  My impressio

[2018-11-05 15:53] ricksladkey commented on #2412
@Nomadluap It might help to know which languages you experience this in (e.g. C#, XML, etc.) and whether or not you have a coding assistant like ReSharper or VisualAssist installed.

[2018-11-05 16:10] ricksladkey commented on #2413
Joining lines is definitely working for me and has been implemented for a very long time and offhand I cannot think of a reason why it might not be working for you.

[2018-11-05 16:49] jaredpar commented on #2413
This is definitely implemented. If it's not working the most likely issue is that VsVim mis- processed your vimrc file and has created a bad mapping. Can you run `:set` and see if the <kbd>J<kbd> command is incorrectly mapped?

[2018-11-05 16:50] Nomadluap commented on #2412
@ricksladkey Good point!

I'm using the C# language, with the following extensions installed:

- VsVim 2.6.0
- Roslyn Expression Evaluators
- Roslyn Interactive Components
- Roslyn Language Services

The following extensions are **disabled**:

- Concurrency visualizer for Visual Studio 2017
- Microsoft Visual Studio 2017 Installer Projects
- Wix Toolset Visual Studio 2017 Extension
- Test Adapter

[2018-11-05 16:54] jaredpar commented on #2412
Can you do the following:

Go to Tools -> Options -> VsVim. Then set "Output Window" to True. This will cause VsVim to emit logging information to the standard output Window which can be accessed from View -> Output. Once that is visible change "Show output from" to VsVim.

Then code as normal and when the issue happens copy all of the text from that window, save it to a a file and share it out wi

[2018-11-05 17:05] Nomadluap commented on #2412
Here's  logfile. I had an instance where I had to hit the key three or four times to get back to normal mode, and copied the output just after that.
[vsvim2.txt](https://github.com/jaredpar/VsVim/files/2549734/vsvim2.txt)

[2018-11-05 17:06] Nomadluap commented on #2412
And here's another one -- I hit escape once and nothing happened. I then waited about a second and hit it a second time. The second escape key worked.
[vsvim3.txt](https://github.com/jaredpar/VsVim/files/2549744/vsvim3.txt)

[2018-11-05 17:13] Nomadluap commented on #2412
And another for good measure: Same thing -- hit escape the first time and nothing was recognized, but the second press went through.
[vsvim4.txt](https://github.com/jaredpar/VsVim/files/2549759/vsvim4.txt)

[2018-11-05 18:17] Nomadluap commented on #2412
Further investigation seems to indicate that the escape keypresses are not going through when visual studio is in the process of updating the compile errors. For example, changing the name of a class, then changing all references to sub-types of it.

For example, changing `OldClass.EnumType` to `NewClass.EnumType`, if I place the cursor on the `O` of `OldClass`, type `cwNewClass<Esc>`, then any pr

[2018-11-05 19:39] GaryFurash commented on #2413
will do thanks!

[2018-11-05 19:44] ricksladkey commented on #2413
@GaryFurash I think @jaredpar means the `:map` command.

[2018-11-05 19:58] jaredpar commented on #2413
Doh! Yes I meant the `:map` command. 😦

[2018-11-07 15:18] Blackclaws commented on #2406
I can confirm this bug appeared just now after updating to the latest version of visual studio. So something might have changed on their end? I now only see %F%m and so on in the statusline.

[2018-11-07 16:48] ricksladkey commented on #2406
I am guessing that somehow a new behavior was introduced in PR #2244. Perhaps the status line is now visible when it previously wasn't, etc. However, the current behavior (as far as I can tell) is correct for the limited amount of what is implemented, i.e. the `laststatus` and `statusline` variables but no expansion.

In any case, nothing surrounding the status line or its expansion has changed in

[2018-11-07 17:55] philipmat commented on #2406
I agree with @ricksladkey findings and that #2244 likely made the status line visible and thus emphasized the lack of expansion in `statusline`. Added a blurb to the SupportedFeatures.md to document this behavior.

[2018-11-07 17:55] #2406 closed

[2018-11-07 21:53] jaredpar commented on #2412
Thanks for following up on this. I'd been staring at the logs you'd been sending and I couldn't figure out where we would be losing the key press. Was about to start a PR to add even more logging here. Glad you figured it out.

[2018-11-08 00:40] #1633 closed

[2018-11-08 08:41] zahillmtu commented on #625
I selected VsVim for using Ctrl+W but Visual Studio is still attempting to capture it, any ideas for how I can fix this?

[2018-11-09 00:48] AppFzx commented on #1150
Actually just came here to ask for '\zs'
Awesome that it's implemented!
Anyone know how far Visual Studio extension updates lag behind the newest build?

[2018-11-09 05:12] ricksladkey commented on #1150
@AppFzx This feature is present in the current version of VsVim 2.6.0. Please give it a try!

[2018-11-09 05:15] ricksladkey commented on #625
@zahillmtu Here is a guide to troubleshooting keyboard problems like that:

https://github.com/jaredpar/VsVim/wiki/Troubleshooting-the-Keyboard

[2018-11-10 09:13] wavebit opened #2415 "Command characters present at the right side of the command margin"
'25g' should present at the left side.
![cap1](https://user-images.githubusercontent.com/11334491/48299688-63689780-e50b-11e8-89e0-7ec6edbb0b72.png)

It works right in last line mode.
![cap2](https://user-images.githubusercontent.com/11334491/48299697-7b401b80-e50b-11e8-8119-d2c7d5d2a369.png)

VsVim 2.6.0.0
Visual Studio 15.8.8

[2018-11-10 22:13] ricksladkey commented on #2415
This is by design and is the same way that vim/gvim works.

When you type `25g` as part of a normal mode command, the vim/VsVim setting `:set showcmd` controls whether this partial command is displayed on the right hand side of the command margin.

However, when you type `:marks` you are in command mode and there is a caret that indicates where your typing will be inserted. In this case the text s

[2018-11-10 23:17] wavebit commented on #2415
Sorry, i don't use gvim/vim usually.
I like the normal mode command to show on the left as before in VsVim. So, how to set it?

[2018-11-11 03:07] ricksladkey commented on #2415
VsVim did not previously support this feature and so it has never been shown on the left. It was only introduced in VsVim 2.6.0. Since vim puts it on the right, VsVim also puts it on the right. To allow it to be put at the left would require adding a vim-incompatible setting.

As a result, the only available options are:

1) Restore the previous VsVim behavior (no feedback at all) with the setting

[2018-11-11 03:29] #2415 closed

[2018-11-11 05:36] wavebit commented on #2415
Great! That will be better for widescreen and multi-screen.

[2018-11-13 02:05] dhmgit commented on #2415
It is true that in version VsVim 2.5, *some* partially entered commands would be displayed left-justified as shown above. This was, however, inconsistent, only partially implemented, and did not match gVim's behavior. Sometimes the text would be shown by itself, sometimes it was appended to the mode text, and sometimes it was missing entirely. The intent of the changes in 2.6 was to mimic the gVim

[2018-11-13 14:58] 00bins opened #2416 "normal mode across all files"
Not necessarily an issue but would it be possible (or is it already) to have normal mode be global across all files? At the moment it seems to be a per window setting.

Thanks
Rob

[2018-11-13 19:08] jaredpar commented on #2416
VsVim works this way because it's how gVim works as well. Is there a way to enable a global mode setting in gVim that we should consider emulating?

[2018-11-13 20:02] 00bins commented on #2416
ah sorry I didn't realize that - I mostly use vim in a console if not vsvim. I'll check
Thanks
Rob

[2018-11-13 20:13] 00bins commented on #2416
Ok so running gvim with split windows each window is either in insert mode, or normal mode. If I go to insert mode, all windows are then in insert mode. If I go to normal mode all windows are in normal mode.
I didn't set anything special to do that - it just did it naturally.

[2018-11-14 05:58] jaredpar commented on #2416
Hmm. I see that as well. It does seem the mode is sync'd in all places though, not just for all views for a given buffer.

The behavior seems more complex though. Consider that if you open two files each in a separate tab, enter visual character mode in one of them and then use the mouse to switch to the other file. The new file will be in normal mode, not visual mode. Switch back and the first fi

[2018-11-14 06:11] ricksladkey commented on #2416
I can see both sides of this issue. I have often been surprised to return to some buffer and start typing normal commands only to see them literally inserted because I incidentally switched away from it while it was in insert mode. However the ability to have selections in unfocused buffers is a fairly central feature of the Visual Studio editor model and VsVim currently supports this.

[2018-11-14 06:27] Wagk opened #2417 "Escaping from command mode via C-{"
While entering anything during command mode (e.g from `/` or `?` or `:w` etc), pressing `<C-{>` does not exit the mode, requiring instead an explicit `<ESC>`.

Is there a workaround for this?

[2018-11-14 07:05] ricksladkey commented on #2417
This is continuing fallout from the "command margin gets the focus" change and is easy to fix.

[2018-11-14 11:09] 00bins commented on #2416
There's also this https://vi.stackexchange.com/questions/6463/have-different-tabs-windows-remembering-their-mode so it would appear to be 1) which is the normal way (*pun*)
What do you mean by
"However the ability to have selections in unfocused buffers is a fairly central feature of the Visual Studio editor model" ?
cheers
Rob

[2018-11-14 12:30] MartinL0815 opened #2419 "markers margin"
I really like the new way to visualize markers - even not knowing enough about the markers to understand all the visualized markers and how to use them efficitently.

Sincerely the drawn markers collide with VS "markers" for breakpoints, bookmarks and tasks:

- ![breakpoint on VsVim markers](https://user-images.githubusercontent.com/525700/48482447-f9a10400-e810-11e8-8ccd-e843f1ba3b70.png)
- ![boo

[2018-11-14 12:41] MartinL0815 opened #2420 "Inserting tabs in block selection still does not work properly"
If I have the following code:
[code]

If I select text the line 2 and 3 in column 5 using a visual block selection,
press ``I`` to insert a tabulator, the result is:
[code]
Expected was:
[code]
Our VS tab settings are:
- tab size: 8
- indent size: 4
- insert spaces: true

For the release 2.6.0.0 issues have been closed adressing this issue, so I'm surprised to see this still going wrong.

[2018-11-14 20:01] BigDub opened #2421 "Can't enter period in VS2017 search box if not in insert mode."
Repro:
Leave insert mode.
Press Ctrl + F to open the visual studio search search box.
Click inside the search UI's text box and enter period (not on the number pad).

Expected behavior:
A period shows up in the search UI's text box.

Observed behavior:
Repeats last command.

Notes:
It's worth noting that using the period on the number pad does not have this issue, and performs as expected.
If you'

[2018-11-14 21:42] ricksladkey commented on #2421
@BigDub Do you have VisualAssist installed?

Possibly related issues: #1777 and #1971.

[2018-11-14 22:08] ricksladkey commented on #2420
I cannot come up the right combination of settings to reproduce this with VsVim 2.6.0.

I did find a different bug with the same settings:

Our VS tab settings are:

* tab size: 8
* indent size: 4
* insert spaces: true

[code]
(where `------->` represents a literal tab expanded visually to 8 spaces).

Then the same insertion produces:

[code]
where eight spaces were inserted on line 2 and seven sp

[2018-11-14 22:32] ricksladkey commented on #2419
The VsVim mark glyphs could be shown "below" (in the z-order) the other glyphs, rather than above them. Is that what you are suggesting?

[2018-11-14 22:37] ricksladkey commented on #2416
@00bins In Visual Studio (and in VsVim) you can create a selection in one document (e.g. double-clicking on a word), switch to another document, and then switch back to the first document. In that case, the word will still be selected.

[2018-11-14 22:56] 00bins commented on #2416
I see what you mean. I don't think I'd ever noticed nor relied on that feature.
I've remapped Ctrl-Tab to make vsvim behave like gVim now anyway

cheers
Rob

[2018-11-15 07:00] ricksladkey commented on #2420
See related issues #992 and #1345 and PR #2211.

[2018-11-15 09:04] obaterspok opened #2422 "Parameter name: span was out of range of valid values [vs2015/2.6.0.0]"
I started getting daily error messages after updating to 2.6.0.0.
I just triggered it by pressing ESC
------
[Microsoft Visual Studio]
Specified argument was out of the range of valid values.
Parameter name: span
----------
I believe it usually pops up when pressing ESC and it's always 'span'.

Unfortunately I can't reliably reproduce it. Any hints on how I can provide better information? (log fil

[2018-11-15 15:58] seltzy opened #2423 "Clipboard for VsVim not synced with Visual Studio"
This is a nice extension. Makes using VS a little more tolerable for me. Thanks for making it!

If I do `Ctrl-C` and then press `p`, it instead pastes the last thing copied via `y`. Likewise, If I use `y` to copy and then do `Ctrl-V` I get the last thing I copied with `Ctrl-C`. This is infuriating behavior. Is there anything that can be done about this?

I'm using VS2015.

Thanks! :)

[2018-11-15 17:02] ricksladkey commented on #2420
@MartinL0815 Can you humor me and just double-check that you are not using the old version by typing the `:version` command?  It seems unlikely but it's the only explanation that I can think of.

[2018-11-15 18:55] ricksladkey opened #2424 "Delay before showing insertion caret after 'o' command"
For the past few months, mostly using the head of VsVim master or related branches, I have noticed a significant delay after typing the `o` (open new line) command before the insertion caret is displayed. The delay is a least one second. My experience has mostly been with Visual Studio 2017.

Now that VsVim 2.6.0 has been released, I've tested 2.6.0 against Visual Studio 2015 and it does not have

[2018-11-15 19:05] ricksladkey commented on #2422
The fact that you know what the exception is and what the exception message surprises me. The most common situation is a message box saying something to the effect that an "error occurred" and that more information can be found in the activity log.

So first, if you could post a screenshot of the actual dialog you get, that could be useful. And if you have an activity log, it might contain a compl

[2018-11-16 08:45] obaterspok commented on #2422
Hi Rick,

I found the exception in the ActivityLog so I'd guess the screenshot would be of little use (but it really looked like my textual representation with "Micro... Studio" as title bar):

System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: span
   at Microsoft.VisualStudio.Text.SnapshotSpan..ctor(ITextSnapshot snapshot, Span span)
   a

[2018-11-16 20:42] ricksladkey commented on #2422
Thanks, the stack trace helps a lot. This indicates that the tracking for the "active region" is get munged up. Looking at the code, the area is rife for mistakes and corner cases. Having a repro would help to solve the underlying bug. Nevertheless, adding bullet-proofing to the code would at least prevent exceptions bubbling up to the user.

[2018-11-17 17:33] MartinL0815 commented on #2420
Sorry Rick, but executing version shows 2.6.0.0.
If you don't belief, I'll post a screenshot.

[2018-11-18 02:04] ricksladkey commented on #2420
@MartinL0815 Thanks, Martin. No, I trust you completely, I am just stymied because I cannot reproduce the problem. I reviewed the code line by line and in the debugger and don't see how it can happen. At this point, I would be grateful if any kind soul would try to repro it as another data point.

[2018-11-18 02:12] ricksladkey commented on #2423
It is not the default behavior (for compatibility with vim/gvim), but VsVim supports what you want with the setting:

[code]

Type this out to test it and then put it into your rc file (e.g. `~/.vsvimrc`) if you like it.

[2018-11-18 03:03] ricksladkey commented on #2422
OK, some progress on this item.

The current code only handles text changes consisting of a single change. I saw this limitation elsewhere and thought that multiple changes were supported but only in theory. Well, it turns out multiple changes in a single text change are definitely possible, but it depends on the language service or extension making those changes.

The short answer is, in order to

[2018-11-18 14:14] NoDocCat opened #2425 "What the setting Hide Marks Value"
I want hide marks on margin.
But i don't know the setting's value
In new version, I want have some prompt
Thanks

[2018-11-18 16:53] ricksladkey commented on #2425
The value of `vsvim_hidemarks` is a string consisting of the mark characters you don't want to be displayed in the glyph margin.

#### Examples

- Don't hide any marks: `:set vsvim_hidemarks=`
- Hide only special marks: `:set vsvim_hidemarks=<>[]^.'`
- Hide all local marks: `:set vsvim_hidemarks=<>[]^.'abcdefghijklmnopqrstuvwxyz`
- Hide all marks: `:set vsvim_hidemarks=<>[]^.'abcdefghijklmnopqrstu

[2018-11-18 18:48] ricksladkey commented on #2425
In fact, I only gave the `vsvim_hidemarks` setting light testing and in fact it doesn't perfectly react to "live" changes. Marks which were previously not hidden and that are present don't become hidden, instead they "become stuck" at their current positions.

[2018-11-18 21:05] 00bins commented on #2416
My alt-tab mapping doesn't really work the way I'd like so if there's a way to make vsvim more vim like wrt to this I'd be happy - switching tabs (which I don't really use since they're not the same in vs) or windows always maintains the current mode (unless it's a selection)

[2018-11-19 09:09] 00bins commented on #2416
apparently this does what I want

autocmd BufEnter * stopinsert

but not in vsvim ;(

[2018-11-19 16:43] ricksladkey commented on #2416
Well, since `autocmd` isimplemented, but `stopinsert` is not, this issue is now a very reasonable feature request to implement the `stopinsert` command.

[2018-11-19 18:21] 00bins commented on #2416
hmm except
src/vimcore/autocommandrunner.fs -

/// VimBufferCreated is the closest event we have for BufEnter.
    member x.OnVimBufferCreated (vimBuffer: IVimBuffer) =
        // TODO: BufEnter should really be raised every time the text buffer gets edit
        // focus.  Hard to detect that in WPF / VS though because keyboard focus is very
        // different than edit focus.  For now just rai

[2018-11-19 22:19] cbates- commented on #2416
I never want to be in Insert mode when switching to a different window.  This line in _vsvimrc seems to do what I want:
au BufWinLeave * call feedkeys("\<C-\>\<C-n>")

Maybe this too:
	au FocusLost,TabLeave * call feedkeys("\<C-\>\<C-n>")

[2018-11-19 22:35] 00bins commented on #2416
Thanks - I will try that. I suppose ctrl-tabbing to another window  is not the vim way.  I should probably remap ctrl-tab and force myself to unlearn years of visual studio / windows muscle memory. Or not, if your vimrc tips work !

cheers
Rob

[2018-11-20 01:53] msloan opened #2427 "Can't press <Esc> to exit F2-rename window"
I'm using...
VS 15.9.2
VsVim 2.7.1259

To repro:
1. Attempt to rename a variable through VS context menu or kb shortcut (F2 by default).
2. Press \<Esc\>

Observe that the visual studio rename window remains. If you highlight over the X in the top right corner of the rename window, the tool tip claims that \<Esc\> should close the window.

If I uninstall VsVim, the rename window closes as expected

[2018-11-20 02:05] msloan commented on #2427
I just noticed that I can just press Enter instead of Esc which will work just fine for me.

[2018-11-20 08:36] Wagk opened #2428 "Command Mode should respect words"
Assuming an input like:

`/Namespace::something`
`?Namespace::something`
`:Namespace::something`

pressing `C-w` to kill a word should result in:

`/Namespace::`
`?Namespace::`
`:Namespace::`

Currently it results in:

`/`
`?`
`:`

[2018-11-20 13:13] NoDocCat commented on #2425
Thank you for your answer.
And, i suggest set a special value to "Hide all marks"

[2018-11-20 17:12] ricksladkey commented on #2428
The `<C-w>` command in command mode was added in PR #2241. Do you want to look at this, @dhmgit?

[2018-11-20 20:40] dhmgit commented on #2428
@ricksladkey, yes I can probably take a look at this within the next couple of days.  IIRC, the WPF assembly didn't have access to the internal F# implementation for chunking up words, so implemented a simplified version.  I'll take another look to see if there's any reason the F# implementation can't be exposed as a public utility.

[2018-11-21 01:36] ricksladkey commented on #2363
Based on other issues, I believe this particular problem with `F2` has been fixed in VsVim 2.6.0 and so I am closing this issue. See related issue #2427.

[2018-11-21 01:36] #2363 closed

[2018-11-21 04:46] #2416 closed

[2018-11-22 03:55] NonlinearFruit commented on #1766
I got this far. But the 3 VsVim options all say:

![image](https://user-images.githubusercontent.com/6962125/48880377-cee91980-edd5-11e8-9b1e-f08fa8229944.png)

---

**Steps to reproduce**

1. I copied the VsVim extension folder from Visual Studio 2015 to SSMS 2017
    - from: `C:\Program Files (x86)\Microsoft SQL Server\140\Tools\Binn\ManagementStudio\Extensions`
    - to: `C:\Users\<username>\Ap

[2018-11-22 06:47] ricksladkey commented on #2318
It turns out there is currently no distinction between typed keys and mapped keys and modifying the infrastructure so that keys are "annotated" with this metadata would involve changing vast swaths of code that operate on the key input type. Alternatively we could indirectly detect typed keys by listening to various events and inferring that no key was typed. However that approach is obtuse and si

[2018-11-22 09:12] obaterspok commented on #2422
![image](https://user-images.githubusercontent.com/5311823/48892725-ff18d280-ee3e-11e8-99fb-5486892e0571.png)

I'd say this was pretty close to my textual description :)

[2018-11-22 14:49] #2428 closed

[2018-11-22 14:52] jaredpar commented on #2424
I haven't seen this yet. Nor did I see it on any of the internal builds of VS2017.

Have you tried profiling and seeing where the delay is? Given the symptoms it should show up pretty clear on a profile. If you can grab a perfview trace I can take a look at it.

[2018-11-22 17:01] #2417 closed

[2018-11-22 17:52] #2422 closed

[2018-11-23 11:02] sqlkoala opened #2432 "CTRL + P completion list in wrong order"
Hi,
I think the suggestion list in ctrl+p completion is in a wrong order.
Demo:  ( | is cursor )
`foobar yolo | yodo foobaz`
In Vim, I get "yolo" and "foobar" with the second press of Ctrl p. When inserting f ctrl+p resp. y ctrl+p, I also get foobar and yolo as first completion.
VSvim gives yodo and foobaz as completions. In real world files, the suggestions with ctrl+p (resp. their order) are eve

[2018-11-24 01:43] #1373 closed

[2018-11-24 06:05] riandrake commented on #2424
I am also experiencing this issue, only started happening (noticeably) recently:

![repro](https://user-images.githubusercontent.com/5866058/48965109-d8fc5980-f01b-11e8-8a52-4269a54f8d1b.gif)

[2018-11-24 18:17] ricksladkey commented on #2424
I came up with an experiment to see if VsVim was the source of the problem. Some context is the fact that VsVim completely constructs, manages and displays the caret when in normal mode but relies on Visual Studio to display the caret when in insert mode. However, in exclusive select mode, VsVim supports a simulated caret this is substantially indistinguishable from the Visual Studio caret. By usi

[2018-11-25 15:48] jaredpar commented on #2424
Is this just a UI issue then and not an actual performance problem? By that I mean in the cases where the cursor display is delayed can typing begin immediately?

I'm not opposed to just having VsVim control the caret in all cases. Originally I didn't because cursor drawing was still quite new to me and I was interested in minimizing the impact of my change.

But this will cause a problem. Visual

[2018-11-25 19:08] ricksladkey commented on #2424
It didn't occur to me to report whether the editor is functional or "hung", but yes, it is responsive to typing immediately. This implies the restoration of the caret is occurring on some sort of delay timer within the Visual Studio editor.

My experiment strongly supports that the setting of the `IsHidden` boolean does occur instantly upon switching to insert mode. All this points to a Visual Stu

[2018-11-25 19:10] #2402 closed

[2018-11-25 19:10] #2419 closed

[2018-11-25 19:10] #2425 closed

[2018-11-25 20:52] FelixBoers opened #2434 "Conflicting keybinding issues - options panel is empty"
I've reinstalled my laptop with Visual Studio 2017 Community, ReSharper 2018 and this awesome extension called VsVim (👍). Sadly some keybindings are not getting handled by VsVim but from Visual Studio. The thing I don't understand is, that the `Extras/Options/VsVim/Keyboard` page (which should show conflicting keybindings, if I'm right) is empty.

![image](https://user-images.githubusercontent.com

[2018-11-26 14:36] jaredpar commented on #2434
This is unfortunately a known issue that is hard to work around. The problem is how conflicting key detection works. VsVim looks at the set of available key bindings, determines which are in conflict and then puts those in this panel. When you remove a conflict though it removes the key binding. Visual Studio then helpfully sync's that removal to every instance of Visual Studio that you use. Hence

[2018-11-26 14:36] #2434 closed

[2018-11-26 14:38] jaredpar commented on #2424
That seems reasonable to me.

I wonder if it's just a simple timing issue. There are two caret timers in this scenario: VsVim and the OS / VS one. Possibly on your machine you're just hitting the longest possible delay between the timers.

[2018-11-26 17:20] ricksladkey commented on #2424
@jaredpar The universal constant in blinking caret management is that if the caret goes from not being displayed to being displayed, or if the caret changes position, then a new full "on" cycle should start immediately. VsVim, Visual Studio and Windows all (normally) behave this way.

You can see for yourself in @riandrake's first comment above that it looks like at least the first complete "on" c

[2018-11-26 21:05] FelixBoers commented on #2434
Thanks for your fast reply!

Just resetting the keyboard settings wasn't enough, though.
I'm not sure which step exactly solves my issue but after:

1. Removing everything (VisualStudi + Extensions and ReSharper)
2. Restarting
3. Installing Visual Studio
4. After logged in into Visual Studio, resetting all setting (Tools -> Import Export all Settings -> Reset all Settings)
5. Installing ReSharper

[2018-11-26 21:15] jaredpar commented on #2424
@ricksladkey

That's what my intuition was on how it should behave but didn't know enough to assert that was the behavior. Sounds like this is definitely a bug of some kind then in Visual Studio.

[2018-11-28 16:34] SimonGustavsson commented on #2035
@xarthurx I haven't noticed this pop up lately, so it **looks** fixed to me. I don't have access to the linked work item though so I can't say for sure. This is just my experience. :-)

[2018-11-28 16:38] xarthurx commented on #2035
It happends to me everyday...

On Wed, 28 Nov 2018 at 17:34, Simon Gustavsson <notifications@github.com>
wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-11-29 01:46] ricksladkey commented on #2035
@xarthurx What language service and type of projects are you usually working in?

As an example, I worked for many years with severe memory leaks in the Python language service. Because Visual Studio is 32-bit only and because .Net behaves poorly when memory allocation is excessive and threatens to exhaust the maximum 1.5 GB of memory, VsVim was plagued with delays and general editor non-responsiv

[2018-11-29 08:59] xarthurx commented on #2035
I only work in C++.
The issue usually happens when I edit functions in a pop-up window by
pressing "Alt + F12" for adding new functions from .h file, either "dd" to
delete a line or "dw" to delete a word.

On Thu, 29 Nov 2018 at 02:46, Rick Sladkey <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2018-11-30 00:51] kitsu opened #2435 "CTRL-W Window navigaton bug"
VS 2015R3, VSVim 2.6.0.0

For some reason `C-w j/k` regularly stop working for me.
In my latest case it works from any file tab except one.
After reading the internet I hit upon the fact  `C-w S-j/S-k` works from the misbehaving file tab.
After modifying my mappings (I use a leader mapping to C-w) and restarting VS I can now jump out of the offending tab... but cannot navigate from any other tabs/

[2018-11-30 16:30] silverweed commented on #612
The ability to switch buffers by name (with `:b` ) would also be really handy.

[2018-11-30 16:58] ricksladkey commented on #2435
@kitsu Thanks for this report. If you could first answer what kind of document is the problematic one and what kind of screen layout causes the problem? A screenshot might help. Second, when the problem is exhibited is the symptom that you cannot "escape" the current window, i.e. that `<C-w>j`/`<C-w>k` seems to have no effect?

Using `<C-w>k` goes up"one window" and `<C-w>K` goes up "as far as pos

[2018-11-30 20:51] kitsu commented on #2435
Thanks for the insight on the logic/problems with VS window navigation.

Typically the problem occurs with **aspx** pages or **cshtml** (maybe it's html related?), and yes attempting to switch windows has no visible effect.

I just use one vertical split - just open a file, `:vspl`, open a different file in the new split, and close the duplicate.
BTW `:vspl` in an **aspx** file has no effect, and

[2018-12-01 17:04] ricksladkey commented on #2435
First, regarding the latter problem (strangeness), this is a known issue caused by the navigation bar at the top of the other window. When on the first line, looking horizontally from the caret you can see that there is no line in the other window in which you could place the caret. At the moment, this seems like an acceptable quirk.

As far as the main issue, it turns out that **aspx** files beha

[2018-12-02 17:32] ricksladkey commented on #2435
I finally found an API that returns a different result for an **aspx** document when it is not the selected tab of its tab group:

- [IVsWindowFrame.IsOnScreen](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivswindowframe.isonscreen?view=visualstudiosdk-2017)

Armed with this capability, the window navigation commands are now working in the presence of hidden **a

[2018-12-03 04:00] ricksladkey commented on #2423
Closing this issue as answered.

[2018-12-03 04:00] #2423 closed

[2018-12-03 18:33] jaredpar commented on #2035
@xarthurx can you grab a profile of the perf issue here? That will be the best way for us to track down what is going on here.

https://github.com/dotnet/roslyn/wiki/Recording-performance-traces-with-PerfView

[2018-12-04 00:52] #2435 closed

[2018-12-04 00:53] #2432 closed

[2018-12-04 03:35] ricksladkey commented on #2420
Whoa, I stand corrected! I repeated it once, but I cannot repeat it again. I guess `:set softtabstop=8` is not the culprit after all.

@MartinL0815 At this point, if you could repro the issue and then type `:set` and paste the output in a comment, that would help me a lot.

[2018-12-04 03:37] ricksladkey commented on #2420
For the record, copy and pasting the results of `:set` is a little wonky.  If you double click on any of the output and then type `<C-a><C-c>`, it should copy it suitable for pasting.

[2018-12-04 05:30] ricksladkey commented on #2294
Closing as answered.

[2018-12-04 05:30] #2294 closed

[2018-12-04 07:16] ricksladkey commented on #2259
Not sure why I didn't think this was reproducible previously, but it certainly is reproducible now.

The cause of the current problem is linked stored commands not properly inheriting the new count in `CommandUtil.RepeatLastCommand`.

[2018-12-04 10:52] MartinL0815 commented on #2420
@ricksladkey, here my settings, returned by set:

[code]

Those settings are "old". In the beginning of VsVim I shared some supported settings with my Vim installation.
Do you see something important?

BTW: Thanks!

[2018-12-04 16:51] ricksladkey commented on #2420
Thanks, @MartinL0815.

After testing the issue many times, I'm now pretty sure that the repro is in fact shifted over four spaces to the right, that is:

[code]

[code]

Can you confirm?

If so, then I know what the problem is: The first (typed) tab is treated like an indent operation that aligns to a multiple of 4 because of the `shiftwidth=4` and `vsvim_useeditortab`. The second (generated) tab

[2018-12-04 21:50] sqlkoala commented on #2432
Thanks for fixing this @ricksladkey
It will be a few days till I can try it out.

[2018-12-05 10:47] MartinL0815 commented on #2420
Yes, I can confirm this behavior.

But - is it a bug or a  wrong configuration?
Should I remove "shiftwidth" from my rc file?

[2018-12-05 15:31] ValdamireGido commented on #1993
Actually, this is still valid. Would be grate to have!

[2018-12-06 02:16] ricksladkey commented on #2420
@MartinL0815 Your `shiftwidth` setting is entirely up to you. The problem is that because "Use Visual Studio Tab and Backspace" is set, the first tab is not processed by VsVim but by Visual Studio. In turn, what Visual Studio does when you type tab is dependent on the language service that is processing the tab. Most language services for Visual Studio with treat the tab key like it is an indent k

[2018-12-07 08:53] ppLorins opened #2440 "cannot go to the last modified position by uisng `."
This problem occured after I installed another visutal studio plugin [Line Endings Unifier](https://marketplace.visualstudio.com/items?itemName=JakubBielawa.LineEndingsUnifier) several days ago , before which everything works well.

After uninstall that plugin , vsvim recovered to normal. I suppose  that one violates the environment that vsvim based on .

Env:
* visual studio community 2015  Versi

[2018-12-07 18:55] ricksladkey commented on #2440
I experimented with that extension, and while I cannot reproduce the exact symptoms, I'm fairly sure that the problem is a fairly general one:

- External text changes consisting of two or more separate changes cause the `LastEditPoint` mark to be cleared

For example, a "save all" operation that fixes the line endings in a file may cause a multi-part text change to be made, one change for each li

[2018-12-09 06:06] Plotnus commented on #2259
@ricksladkey awesome rick. Thank you so much for taking the time to fix this issue. vsvim is awesome. I really appreciate it.

[2018-12-09 06:07] Plotnus commented on #2259
Sorry didn't mean to close the issue :/ my bad.

Still appreciate all the work :)

[2018-12-10 00:52] ricksladkey commented on #2420
I've weighed the choices:

This has the disadvantage that it doesn't "fix" tabs on the second and subsequent lines the same way that it does on the first line.

This sounds like the most "compatible" way to handle it, but it is more work than I'm prepared to invest.

This is easy to do and I think it handles the 90% case pretty well.

This favors consistency over predictability.

[2018-12-10 19:12] ricksladkey commented on #2420
Ha, ha, the issue that refuses to be solved!

The current design doesn't allow the VsVim core to directly conditionalize its behavior on settings like `UseEditorTabAndBackspace`. For example, in the VimApp test program, those settings don't even exist.

[2018-12-12 00:15] DepthDeluxe opened #2442 "VsVim 2.6.0 is broken for Atmel Studio users"
It looks like VsVim 2.6.0 does not work with Atmel Studio which is a variant of Visual Studio 2015.  I get the following error message in the ActivityLog.xml.

[code]

It looks like some sort of dependency issue?  Downgrading to 2.5.0 fixes the problem.

[2018-12-13 08:30] anirudhagupta opened #2444 "How to modify settings so whenever I click from mouse I got insert mode."
I am reading a comment from @jaredpar  and @xleach but I am not getting how to make a setting in it. Where I need to paste it "set selectmode=mouse".

My problem is I have 2 file open side by side. If I use a mouse and click it's come in visual mode and I need to always have insert mode.

Someone, please tell me how to use @jaredpar 's suggestion. I am just started using vim. I tried to look into

[2018-12-13 17:16] yschu7 commented on #1082
It works for me (VS2017). Thanks!!

[2018-12-13 18:07] ricksladkey commented on #1082
To summarize the reason this issue is open: in a perfect world, using the workaround suggested by @dHeinemann would not be necessary.

[2018-12-14 05:09] ricksladkey commented on #2444
Here is the wiki section describing the VsVim rc file: [rc-file](https://github.com/jaredpar/VsVim/wiki/Settings-Reference#rc-file)

For example, open the file `_vsvimrc` and add the following contents:

[code]

In fact, if you want to use `selectmode=mouse`, I recommend you use the following setting instead:

[code]

which makes the selection behavior of VsVim as much like Visual Studio as possib

[2018-12-14 05:20] ricksladkey commented on #2444
For reference, the discussion alluded to occurred in issues #1231 and #1901.

[2018-12-14 10:47] anirudhagupta commented on #2444
@ricksladkey  Thanks for help, got it.

[2018-12-14 11:32] anirudhagupta commented on #2444
![image](https://user-images.githubusercontent.com/35772421/50001122-d610db00-ffc1-11e8-8c48-aeaebf2ca6bd.png)

I see the blinking cursor, Is there a way to get normal cursor, so whenever I click I got normal cursor.

I make the configuration file in user folder, please check screenshot

![image](https://user-images.githubusercontent.com/35772421/50001184-11aba500-ffc2-11e8-83dc-6f6a456184a9.png)

[2018-12-14 18:15] sqlkoala commented on #2444
@ricksladkey I think it is not selectmode, what he wants (btw. who wants/needs that? ;-). But he wants the normal behaviour from any other text editor.

@anirudhagupta
I don't know a way to do what you want, but I think it is not the right way to use (vs)vim. Right way would be keyboard shortcuts to navigate tabs/tabgroups/documents.

[2018-12-19 06:45] #2440 closed

[2018-12-20 00:13] gagsays commented on #2289
I also experiencing the issue mentioned here.
My setup is similar to @razor85's, that is VsVim with VisualAssit.
Here's what I have found about the bug-

	1. If I disable VisualAssit the problem goes away, but makes me very sad, and life hard!
	2. Here's the relevant crash log:
`
   at Microsoft.VisualStudio.Language.Intellisense.Implementation.CompletionSession.Start()&#x000D;&#x000A;
   at Vim.U

[2018-12-20 00:42] gagsays commented on #2289
Turns out suggestions functionality in VisualAssist (unchecking VA Options > Suggestions > Enable in C++) and word completion in VsVim (Ctrl-N and Ctrl-P) aren't playing well with each other like they used to (never had this problem before).

[2018-12-20 05:47] ricksladkey commented on #2196
Closing this as obsolete because Visual Studio 2019 preview is out and the bug has not been reported.

[2018-12-20 05:47] #2196 closed

[2018-12-20 05:49] ricksladkey commented on #1985
Closing this as no longer reproducible.

[2018-12-20 05:49] #1985 closed

[2018-12-20 05:50] ricksladkey commented on #1978
Closing this as no longer reproducible.

[2018-12-20 05:50] #1978 closed

[2018-12-20 06:09] ricksladkey commented on #1933
The design of Visual Studio requires a text editor window in order for VsVim to receive keystrokes that would be processed as normal commands. In fact, VsVim isn't even loaded in the situation you describe, so I am closing this issue as it is not currently possible.

You can however, using Visual Studio's keyboard mechanism to bind any keystroke to, e.g. `Edit.GoToFile`, you can use the Visual Stu

[2018-12-20 06:09] #1933 closed

[2018-12-20 06:10] ricksladkey commented on #1929
Closing this since the reported symptom is not a bug but a consequence of the security model of the underlying filesystem.

[2018-12-20 06:10] #1929 closed

[2018-12-20 15:57] millera023 opened #2445 "Cursor Blink Rate"
Is it possible to not tie the cursor blink rate to the operating system preference (As mentioned here: https://github.com/jaredpar/VsVim/wiki/faq#how-can-i-change-the-cursor-blink-rate)?

The reason I'm asking is because of the bug in windows 10 that is described here: https://www.reddit.com/r/Windows10/comments/4qlgqp/taskbar_icons_stay_highlighted_orange_forever/

[2018-12-21 02:35] ricksladkey commented on #2445
As is customary in vim, the cursor and the blink rate is configurable to a ridiculous degree! Emulating the whole `guicursor` option would be a fair amount of work, but conceptually, having a VsVim-specific setting that gets it default value from the operating system preference would be backward-compatible and yet allow configuration with a setting.

[2018-12-21 07:47] mkujun opened #2446 "Cannot retrieve the previous Visual Span"
Can someone help me out with this issue? Maybe it has something to do with my vsvimrc file which looks like this:

nnoremap <S-j> :m+<CR>==
nnoremap <S-k> :m-2<CR>==
vnoremap <S-j> :m '>+1<CR>gv=gv
vnoremap <S-k> :m '<-2<CR>gv=gv

Multiple line movement in visual mode works only once, after that I get that error from the title. I'm using Visual Studio 2017.

[2018-12-21 13:16] sqlkoala commented on #2446
Hi,
Visual Studio has that feature "native". Does that solve your problem?
![image](https://user-images.githubusercontent.com/30384885/50344175-31931980-052a-11e9-8560-087bc314fc56.png)
I tried this to get to run with "your" keys, but that resulted in the same problem...
`vnoremap J :vsc Edit.MoveSelectedLinesDown<CR>`

[2018-12-21 17:59] ricksladkey commented on #2446
For the record, I think the full mappings being proposed are something like this:

[code]
These don't even seem to work correctly in vim. The error in VsVim is due to the old selection region being lost when the corresponding lines are deleted.

Here are some mapping that work with the current version of VsVim:

[code]

[2018-12-25 18:30] stevium commented on #1461
I have tried to implement most of the mentioned functionality as a separate plugin: https://github.com/stevium/vs-nerdx. Feel free to try it out, and in case of any other ideas, just file a feature request with an issue tracker.

[2018-12-29 04:34] ricksladkey commented on #1909
@oxilumin I'm pretty sure no one is working on this and many users are eager for it to be implemented, so please continue the work to integrate the feature into VsVim. I'm glad you are looking into performance because a poor implementation could be very costly and yet only be noticeable on slow machines or large files.

[2018-12-31 23:57] jaredpar commented on #1909
I'm definitely not working on it right now either so go for it :smile:

[2019-01-02 20:51] oxilumin commented on #1909
I've finished the code for the feature itself. It seems that it's ~20-30% faster than built-in absolute line numbers margin, so there should be no performance impact.

I wanted to discuss some settings before making a PR:

1) Do we want to be able to use custom colors/font? Right not it's bound to the formatting defined for "line number" classified text (as in default line numbers margin).

2) Do

[2019-01-02 20:56] jnothstine commented on #1909
I currently use a relative numbers plugin that is separate from VSVIM.  If VSVIM supports it, I will remove the plugin I have.  That plugin supports showing both the native line numbers and the relative line numbers and I really like having both.  Here is an example of what I see.

[cid:image001.png@01D4A2A2.8C9FC6B0]

Thanks for working on this!

Jerry

From: Alex <notifications@github.com>
Sent:

[2019-01-03 05:48] ricksladkey commented on #1909
@oxilumin

Delegating any addition formatting of the line numbers to Visual Studio is compatible with the current version of VsVim, does the "right thing" for almost all users, and yet still permits users to customize it.

My preference would be to replace the existing line numbers. My reasoning is that the existing `:set number` VsVim setting already controls the default line numbers margin and t

[2019-01-03 16:56] hkleynhans opened #2450 "Exit command mode via Ctrl-["
Using Ctrl-[ works for me in general, but it does not work when trying to exit command mode in Visual Studio 2017.  Is it possible to enable it somehow?

[2019-01-04 00:32] #2399 closed

[2019-01-05 05:19] #2259 closed

[2019-01-07 13:19] oxilumin commented on #1909
First iteration is here: #2452

[2019-01-08 13:45] paul2t commented on #1852
I think that this issue is back with the latest version of vsvim (2.6.0.0)
When the last line is empty:
`G` goes to the line before the last one.
Moreover, `j` also stops at the line before the last.
`}` and `)` are working fine.

[2019-01-08 17:23] ricksladkey commented on #1852
@paul2t The best way to diagnose this is to open the same file in VsVim and gvim and test the various commands. If you do this, you will see the `G` and `j` work the same way in Vsvim as they do in gvim. However, you are right that `}` and `)` can move to the phantom line. If you want to open a new issue to fix `}` and `)`, I'll take a look at it.

[2019-01-08 19:40] paul2t commented on #1852
Oh ok, you are right. Sorry, I didn't read your previous comment correctly.
I understand now. in vim if the last line is empty, it is not shown. Unlike visual studio. That's why I thought this was a bug.
Thanks for your work, this is a great plugin.

[2019-01-09 09:01] cmaughan opened #2453 "VS 2019?"
I know it's not officially released/supported yet, but I'm wondering if anyone can suggest why I can get the VsVim installer to work on my PC but not my laptop?
i.e. I have VsVim working great in 2019 on my PC with VC 2019 (Preview 1.1), but on my laptop with the same version, the installer just fails....  I've tried both a downloaded installer and adding it from Extensions and Updates....

[2019-01-09 09:03] cmaughan commented on #2453
Installer log, for what it's worth....

09/01/2019 09:01:48 - Beginning to install extension to Microsoft Visual Studio Enterprise 2019...
09/01/2019 09:01:49 - Found setup instance 73564395 but not in launchable state.
09/01/2019 09:01:49 - Install Error : System.InvalidOperationException: Cannot find setup engine instance.
   at Microsoft.VisualStudio.ExtensionManager.SetupEngineUtility.GetCurre

[2019-01-09 09:31] cmaughan commented on #2453
I figured that this was generic setup issue, so reinstalled the VC2019 installer, and rebooted my laptop.  Finally got it to work.  So I don't think this is VsVim specific....

[2019-01-09 09:31] #2453 closed

[2019-01-10 02:22] amoldeshpande opened #2454 "output window sometimes forces to vsvim, even when "OutputWindow" setting is false"
This seems to happen on some solutions when I start a build (currently happens with Unreal Engine 4).

Is there a way to  suppress vsvim  completely for the output window ? The window is empty and it's just annoying to have to switch out of it every time.

I'm running the latest plugin version on the latest visual studio 2017 community.

thanks.

[2019-01-10 19:17] amoldeshpande commented on #2454
You could be right.  When I first open the solution, the dropdown is empty. when I start a build, it populates with VsVim,Build  and Build Order. Maybe it just never switches to Build.  On subsequent builds I can select VsVim and it will switch back to Build correctly.

Write it off as another devstudio eccentricity, I guess. thanks.

[2019-01-10 19:17] #2454 closed

[2019-01-16 02:31] ppLorins commented on #2440
Got . Thanks.

[2019-01-18 19:00] Mark-Sims commented on #2422
Was there ever any resolution here? I run into this error periodically (seems to be related to pasting, as mentioned - Shift+Insert, or Ctrl+v) and am forced to restart Visual Studio.

[2019-01-18 19:32] ricksladkey commented on #2422
@Mark-Sims PR #2426 was merged and it was intended to resolve the stated problem. The fix will be included in the next version of VsVim. If you want to test the fix before the next version of VsVim is released, you can search for VsVim in the [Open VSIX Gallery](http://vsixgallery.com/).

[2019-01-21 07:04] oxilumin opened #2455 "A way to copy mapping into a variable"
I might be missing something, but I wasn't able to find a way to do it in current version.

It'd be useful to be able to copy existing key mapping into register/variable.

Here is a use case:
It's convenient to have several custom layers using .vimrc files. For example - a debugging layer that could be toggled on/off with a single key mapping and for which some key mappings are replaced with debug

[2019-01-21 22:15] tankorsmash opened #2456 "Searching with /, then pressing Ctrl-A and typing FOO inserts /O/O/F"
To reproduce on VS2013 (and Resharper++, if relevant)

1. `/`
2. `<C-A>`
3. `FOO`

Results in `/O/O/F`, and searches for O, instead of FOO as expected.

`C-A` sends the cursor to the front of the line in command mode,  but when searching, it goes before the `/`.

[2019-01-23 18:22] radutomy opened #2457 "Visual Studio 2019 "Use Editor Command Margin" bug"
In VS2019:

If "Use Editor Command Margin" is set to false, the text you type after pressing `:` does not show up in the visual studio's status bar at the bottom. When set to true, text appears as expected in the white line.

I've checked, and this bug does not exist in VS2017

[2019-01-25 17:43] oxilumin commented on #2455
Hi @sqlkoala, the approach you mentioned is almost exactly what I do (after adding full binary operators support to VsVim recently I actually have things like "toggleDebugLayer.vimrc" that are a bit more convenient).
The problem here is not with not remapping something back to original mapping produced by .vimrc, we actually can have one layer on top of another, for example I have a layer for navi

[2019-01-25 17:51] oxilumin commented on #2457
Hi @radutomy , are you using preview 1.0/1.1 or preview 2.0? What other plugins do you have?
Could you please try a new exp instance of VS with only VsVim installed?

I have both VS2019 Preview 1.1 and VS2019 Preview 2.0 installed on different PCs and I just tested your scenario, in both cases I do see the text in the status bar as I type commands so the problem seems to be from some interaction w

[2019-01-25 19:58] sqlkoala commented on #2455
Ahh, I see, your know more about the topic that I do. Maybe I can crib some ideas.

[2019-01-30 14:16] radutomy commented on #2457
Using vs2019 preview 2.0
1. I've started a new exp instance and installed VsVim from the marketplace (you can see all the other plugins in pic 1)
2. Created a new .NET Core project.
3. Typed "18,22t." Pressed enter.
The text is displayed in the white strip and the command copied lines 18-22 as expected. (see pic 2)
4. Changed "Use Editor Command Margin" to false. Typed "18,22t." Pressed enter.
The

[2019-01-30 19:35] oxilumin commented on #2457
For this particular case I see it now. I have a suspicion that something from within VS itself posts another update to the status bar so fast that the one from VsVim never gets a chance to be shown (status bar starts flickering a bit during this command for me).
I'll take a look into this when I have time, I hoped to finish some stuff for VsVim last weekends but didn't get time to do it, after I f

[2019-02-02 20:35] gregshields opened #2458 "Echoing environment variables"
I could swear that in previous versions of VsVim I was able to echo environment variables like so:
:echo $HOME
:echo $VIM

I believe I have the most current release installed (2.6.0.0), at least according to the "Extensions and Updates" window in Visual Studio.

I've also tried this:
:echo %HOME%
:echo %VIM%

Both syntaxes return "Parse error".

Please forgive me if I'm missing something obvious.

[2019-02-02 21:32] ricksladkey commented on #2458
It's true that `:echo $HOME` should work because it works in vim.

In the current version of VsVim, you can use the shell to do echoing. For example:

[code]
produces (for me):

[code]

[2019-02-02 21:56] gregshields commented on #2458
Ah, very crafty! Thank you, Rick.

This usage of ! to invoke a shell is unfamiliar territory for me. Can you point me to some documentation of that?

[2019-02-05 16:45] jkassis commented on #1955
experiencing this now. vwx leaves it consistently in an undefined state.

[2019-02-06 14:29] nadya-p commented on #530
For the sake of documentation: in order to enable ctrl+a and ctrl+x shortcuts, go to VS's shortcut settings, and remove current usages of "ctrl+a" and "ctrl+x". Now VsVim will handle those shortcuts.

[2019-02-06 21:17] thelazydogsback opened #2459 "VsVim seems to cause VS 2019 instability"
If I use VsVim with VS2019, VS seems to hang quite often, requiring me to kill it from taskman. (Without VsVim, I have not had an issue so far.)
Sometimes upon restart I get a "Try disabling VsVim extension..." message, sometimes I do not.

=================================================
VsVim 2.6.0.0.

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.0.0 Preview 2.2
VisualStudio.16.Pr

[2019-02-07 05:10] jaredpar commented on #2459
Sorry to hear you've seen this behavior. I've been using VsVim in VS2019 at work for several months now and haven't seen this behavior yet. Can you try re-installing VsVim and grabbing a dump file when the hang occurs? That should pinpoint what the issue is.

https://support.microsoft.com/en-us/help/931673/how-to-create-a-user-mode-process-dump-file-in-windows

[2019-02-15 13:42] cbates- opened #2460 "Exception in code relating to clipboard"
VS 2015 Pro v14.0.25431.01 Update 3
VsVim 2.60

I see this exception several times almost every day:
    <description>System.Runtime.InteropServices.COMException (0x800401D0): OpenClipboard Failed (Exception from HRESULT: 0x800401D0 (CLIPBRD_E_CANT_OPEN))&#x000D;&#x000A;   at System.Runtime.InteropServices.Marshal.ThrowExceptionForHRInternal(Int32 errorCode, IntPtr errorInfo)&#x000D;&#x000A;   at

[2019-02-15 19:34] jaredpar commented on #2460
Thanks for reporting.

Thought I had caught all places where it could throw but looks like I missed on.

The fix here though is really not a fix. When this happens it's because the Windows clipboard is in a broken state. The only thing VsVim can do is catch the exception and report a diagnostic that this is happening.

[2019-02-15 22:58] risa2000 opened #2461 "Ctrl-[ (and bunch of other keys) handling control on the Czech keyboard does not show up in the config"
I have just installed 2.6.0.0 into VS 2017 Community. I am using keyboard with "Czech" layout (Win 10 64 bit). When I installed the extension, I was presented with the list of keyboard commands where I could choose which one I let VS handle and which one I let VsVim handle.

I chose to let all have handled by VsVim, but then when trying to use `Ctrl-[`, which on the Czech layout maps to `Ctrl-ú` k

[2019-02-15 23:58] risa2000 opened #2462 "inconsistent Ctrl-ú (Ctrl-[) handling in different modes (Czech keyboard)"
After I submitted #2461 I found out that `Ctrl-ú` (which is `Ctrl-[` equivalent on Czech keyboard) does not work in the visual selection mode. For example the command `Vjjj<Ctrl-ú>` selects four lines and remains in the visual selection mode (the terminating `<Ctrl-ú>` has no effect).

When I switch to "English US" keyboard, the corresponding `Vjjj<Ctrl-[>` selects four lines and cancels the selec

[2019-02-17 18:31] jaredpar opened #2463 "VS 2019 Bugs"
Been working on making it so I can develop the VsVim code base using Visual Studio 2019 Preview 3. Had to insert some work arounds to the code base for bugs I found. This is tracking the behavior and removing the work around once the VS bugs are fixed.

1. The core undo / redo primitives can only function when the `ITextUndoHistory.Properties` value has a key / value pair of `typeof(ITextView), IT

[2019-02-18 04:38] jaredpar opened #2465 "Make incremental search asynchronous"
The incremental search feature today is completely synchronous. As the developer types out a search string for every character the search will be initiated, completed and the results updated on the screen before the next key stroke is processed.

That is potentially wasteful when the developer is typing quickly or typing out a fairly long search phrase. Only after the final character is typed, or

[2019-02-19 03:19] jaredpar commented on #2461
Thanks for filing the detailed issue here.

Can you do the following:

1. Reset the keyboard settings in Visual Studio (Tools -> Options -> Keyboard -> Reset)
1. Open the command window
1. Run the command VsVim.DumpKeyboard

That print out a file name. Could you post / email the contents of that file? It contains diagnostic dump of how VS is setting up the keyboard shortcuts on your machine. It wi

[2019-02-19 06:50] fen opened #2466 "<C-N> (word completion) exception in VS 2019"
Starting in Preview 3 I'm seeing this `NotImplementedException` when doing word completion.

[code]

[2019-02-19 08:19] risa2000 commented on #2461
I did the dump and posted it here https://pastebin.com/raw/6cMtNQUE
It turned out I had to "Reset" the mappings in the "Options" and then **restart VS** otherwise the key mappings were still held by VsVim.

However I am still a bit confused about what exactly the "Reset" resets, because I am pretty sure I added definition for `F11` key (as `Debug.StepInto`) after I installed VS and after the reset

[2019-02-20 00:10] jaredpar commented on #2466
Thanks for reporting. I saw that as well. That is going to be tricky to implement correctly.

[2019-02-20 18:28] vhe1 opened #2467 "Neither Ctrl-V not Ctrl-Q quote Ctrl characters or the escape key"
Hi!
Maybe I just haven't found this in the documentation yet, but I find myself unable to devine macros with the Esscape key or any other not-standard keys in them.
On Unix, Ctrl-V used to be the "insert the next character literally", like Escape or Ctrl-M. On windoes gvim. it's either Ctrl-V (vi mapping) or Ctrl-Q (windows mapping).

So, how do I put an Escape-Character or Return or a control cha

[2019-02-20 19:21] jaredpar commented on #2467
Thanks for taking the time to file this.

I thought we had a bug for the <kbd>Ctrl-V</kbd> case but I can't find it. Lets use this bug as the general support bug here for the feature.

[2019-02-21 08:06] maximbendiks opened #2468 "Integration with TwinCAT 3"
TwinCAT 3 is an extension for Visual Studio for programming industrial PLCs which you can freely download at https://beckhoff.de/default.asp?download/tc3-download-xae.htm?id=1948695119487514. It seems that they implemented the text editor completely by themselves, so VsVim is not working out of the box. When I change the editor to Source Code (Text) Editor VsVim is working. Unfortunately I need to

[2019-02-21 22:43] keithn opened #2469 "Detecting 2017 vs 2019 in vsvimrc"
Annoylingly, all my mappings to resharper functionality don't work in 2019 as there is a "Extensions" prefix,  but 2019 and 2017 are loading the same file, can I conditionally distingush which version I'm dealing with / have different files load depending on version?

[2019-02-22 07:35] ntwo1980 opened #2470 "map visual studio command ExpandSelectiontoContainingBlock"
The following mapping doesn't work.

[code]
Executing command `:vsc Edit.ExpandSelectiontoContainingBlock` in command line doesn't work either.

The VS version is 15.9.7

[2019-02-22 17:31] ricksladkey commented on #2469
You should be able to say:

[code]

But this doesn't currently work environment variables don't work in expressions yet and binary equality does not yet correctly handle string values.

[2019-02-22 20:28] sqlkoala commented on #2467
Hi, that is no problem, there is a special notation for this:
:map v Icooltext<Esc>j

Return is <CR>.

[2019-02-22 20:35] sqlkoala commented on #2467
Hello again, sorry I can't write posts with code in them because my chrome / FF are not supported. I will try once more.
Escape is <  (less then) Esc > (greater then). Without spaces. Return is CR.

[2019-02-25 10:32] keithn commented on #2469
I like that.... Yes! .... but no :)

[2019-02-26 06:54] jaredpar commented on #2468
Unfortunately I don't have any experience with this product. Do we know if they're using the standard editor or not? You mentioned they may not be. If that's the case then VsVim won't work, it's pretty tied to the VS editor APIs.

Mostly just need to see if they're using the VS editor API or not. Is there a way to download their extension without buying the product? If I can see the extension I ca

[2019-02-26 06:55] jaredpar commented on #2470
Can you elaborate a bit more on what you expect to happen here? Would help me understand if you had some sample text and explained what you expect this command to do.

[2019-02-27 13:51] maximbendiks commented on #2468
It is definitely not the standard editor. So I guess you can close this issue.
But they have an API called Automation Interface. It seems to be quiet easy to create a simple extension as a middleware between the VS editor and the back-end of TwinCAT. So I think I will go with that.

[2019-02-27 13:51] #2468 closed

[2019-02-27 13:53] vhe1 commented on #2467
Ok. Thanks a lot! :-)

[2019-02-27 14:15] ricksladkey commented on #2467
To expand on what @sqlkoala said, it is definitely possible to use mappings or regular expressions with special characters even though they cannot currently be quoted with `<C-v>`. In mappings you can use `<Esc>`  instead of typing `Ctrl+V Escape` and in regular expressions you can type `\r` instead of `Ctrl+V Enter`. These notations are also supported by vim.

[2019-02-28 05:09] ntwo1980 commented on #2470
Edit.ExpandSelectiontoContainingBlock command is a new feature introduced in VS. It's used to selecting the containing block of current cursor.

[code]

In case of above codes, if cursor is at `node.appendChild(text);`, the `if` block will be selected, if cusor is at `cy += lh;`, the whole `for` block will be selected. It's very useful to change or delete whole containing block.

[2019-02-28 14:46] jaredpar commented on #2470
Thanks. I see what the problem is.

[2019-03-02 17:19] jaredpar commented on #2466
Found the tutorial for adding async completion.

https://github.com/microsoft/vs-editor-api/wiki/Modern-completion-walkthrough

Looks straight forward. A bit awkward because it's not available in VS2015 and most of VS2017. That means we'll need to push it to the VS specific layer. Still looks fairly doable though. Hope to get to implementing that this weekend.

[2019-03-03 02:28] Voxellence commented on #2455
I don't pretend to be an F# developer at all, or to understand the VsVim code-base at all, but what you're talking about does sound interesting. I can envision a set of debug mappings where the basic right-hand home row navigation keys become step into, step over, etc.
It's easy to get overwhelmed with keyboard shortcuts, and for me it has taken years to get to where I am now, and even now I have

[2019-03-03 02:32] gregshields commented on #2455
I don't pretend to be an F# developer at all, or to understand the VsVim code base at all, but what you're talking about does sound interesting. I can envision a set of debug mappings where the basic right-hand home row navigation keys become step into, step over, etc.
It's easy to get overwhelmed with keyboard shortcuts, and for me it has taken years to get to where I am now, and even now I have

[2019-03-03 02:35] gregshields commented on #2455
I don't pretend to be an F# developer at all, or to understand the VsVim code base at all, but what you're talking about does sound interesting. I can envision a set of debug mappings where the basic right-hand home row navigation keys become step into, step over, etc.
It's easy to get overwhelmed with keyboard shortcuts, and for me it has taken years to get to where I am now, and even now I have

[2019-03-03 23:19] jaredpar commented on #2466
Hmm a bit less straight forward than I thought. I initially thought I could re-use a lot of the completion layer from the old APIs. Turns out I can re-use basically zero of it. Have to rewrite it from scratch and the docs are a bit out of date.

Good news is I figured out the basics here. I can get the word completion showing and committing properly. But none of the keyboard commands are hooked. W

[2019-03-06 15:29] #2465 closed

[2019-03-06 15:51] johnafc opened #2474 "Update FAQ re: disabling VsVim shortcut clashes"
In Visual Studio 2017, the <kbd>Ctrl</kbd><kbd>Shift</kbd><kbd>F12</kbd> shortcut clashes with View.NextError's binding. After some searching I found the solution in #1981.

I think it would be helpful to mention this (or a generic "check key bindings" warning) in the [FAQ](https://github.com/jaredpar/VsVim/wiki/FAQ#how-can-i-temporarily-disable-vsvim). I tried editing the wiki page directly but c

[2019-03-08 06:38] truelixin opened #2475 "Always disabled when restart VS2015"
Everytime I restart VS2015, VsVim seems disabled, and I have to open "Extensions and Updates", and enable it, and restart VS, and then this time VsVim is enabled to be used.
But next time I close VS and restart it, VsVim disabled. I have to repeat those operations.

[2019-03-08 08:01] dwo77 commented on #2249
This bug is here again with 2.7.1324! Please reopen!

[2019-03-08 20:38] ricksladkey opened #2477 "Deleting by line to the end of the buffer leaves caret on phantom line"
Issuing the command `dG` to delete all of the lines from the current line to the end of the buffer leaves the caret on the phantom line. In vim/gvim, such a deletion moves the cursor up the the last line in the file.

Example:

[code]

Move the caret to the second line and delete to the end of the file:

[code]

In vim/gvim, the current line is now line 1. In VsVim, the current line is line 2.

[2019-03-08 23:59] ricksladkey commented on #2249
Re-opening.

@dwo77, can you give some more details about how the issue manifests itself. When you get a chance, please locate and attach activity log to this issue. Thanks.

[2019-03-09 00:02] ricksladkey commented on #2475
@truelixin, can you see if the problem is the same problem of duplicate extensions as discussed in this general issue related to extensions?

https://github.com/madskristensen/BundlerMinifier/issues/214

[2019-03-09 13:43] UnderHeavyDevelopment opened #2478 "Changing VsVim keyboard shortcut freezes VS2017"
**VS: 2017 Community 15.9.8
VsVim: 2.6.0.0
Resharper: no**

1.  Options/VsVim/Keyboard
(All shortcuts must be "Handled by Visual Studio")
2. Change for "Ctrl + M" to "Handled by VsVim"
3. Click OK
Freeze

[2019-03-11 14:19] jaredpar commented on #2478
Sorry to hear that. Can you get a dump of VS when the freeze happens so I can take look? You can use taskmgr to create a dump here. Should be pretty easy to see what's going on once I have this.

[2019-03-11 22:06] UnderHeavyDevelopment commented on #2478
I would not want to risk exposing any data through a dump, hope you understand.
However, I have reproduced this issue also on a different machine with VS 2017 Professional.
This time I was more patient, and freeze always takes 30 seconds after which settings are applied.
Strange thing is, after I killed VS couple times during this freeze, keyboard settings I had just modified completely vanished f

[2019-03-12 09:02] truelixin commented on #2475
Ah, it worked! Thanks a lot! @ricksladkey

[2019-03-12 09:02] #2475 closed

[2019-03-14 18:41] ahartschen commented on #241
I don't understand the issues related with Ctrl-V in VSCodeVim Ctrl-V is visual mode in when in normal mode and pastes when in insert mode. That's a pretty effective solution. Is there a limitation with Visual Studio not allowing this functionality?

[2019-03-14 21:38] ricksladkey commented on #241
@ahartschen I think you are in the wrong repository. You are looking for https://github.com/VSCodeVim/Vim

[2019-03-15 22:07] jaredpar commented on #2478
Definitely understand. If you can't share the dump though could you share the stack trace at the moment of the hang? That is what I really wanted to get from the dump. It will at least get me pointed in the right direction.

[2019-03-16 15:30] UnderHeavyDevelopment commented on #2478
Sure, here is the call stack. Hope it helps. To debug, I'm missing `Vim.VisualStudio.Shared.pdb`, but compiling it on my own (build Release, branch VsVim-2.6.0), doesn't work - `"A matching symbol file was not found in this folder"`.
[code]

[2019-03-20 11:31] xiaomaofeng opened #2479 "A problem about shortcuts for switching files"
Hello!
i just got into vsvim,now i have a problem that needs your help.
when i use vim,sometimes, i open many files at the same time,i used to use ':n' or ':N' to switch file on pycharm,now i use vim,when i want to switch files,this shortcut does not take effect,i don't know what's wrong with it,maybe ':n' has not become vsvim shortcuts,maybe vsvim already exist another shortcuts for switch files.

[2019-03-20 11:43] xiaomaofeng commented on #2479
when i input the shortcut ':n' it print Parse error
and my ide is vs2017
thanks

[2019-03-20 21:33] xarthurx commented on #2035
Sorry for replying late.
I started to use VS2019, and the problems seem to disappear.

You can close this issue and if it happens in the future, I'll re-open
again.

On Mon, 3 Dec 2018 at 19:33, Jared Parsons <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2019-03-21 06:45] xiaomaofeng commented on #2479
today，i find the shortcut 'crtl+tab' also can switch files
now, my problem is solved,and thank you sincerely.

[2019-03-21 06:45] #2479 closed

[2019-03-22 12:27] robinfehr commented on #2100
in vim I was using split windows heavily and bindings such as:

[code]

are a must then.

would love to see them introduced in vsvim too.

[2019-03-24 22:32] jaredpar commented on #2466
Took another stab at this today. The docs are just not complete enough to make a full implementation. Reaching out to editor team to see if someone can sit down with me for a bit to help get through this.

[2019-03-25 22:38] jaredpar commented on #2466
Looks like at the least I need to get myself ahead of Roslyn in the `IAsyncCompletionSourceProvider` chain

http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/IntelliSense/AsyncCompletion/CompletionSourceProvider.cs,14

[2019-03-26 15:40] AppFzx opened #2480 "Append yanked line does not append to unnamed register"
Documentation of expected behavior (from :help "")
1. Unnamed register ""				*quote_quote* *quotequote*
Vim fills this register with text deleted with the "d", "c", "s", "x" commands
or copied with the yank "y" command, regardless of whether or not a specific
register was used (e.g.  "xdd).  This is like the unnamed register is pointing
to the last used register.  Thus when appending using an uppe

[2019-04-01 02:10] ZzAntares commented on #1882
Hello @jaredpar, I'm having the exact same problem but in a non-virtualized environment. I already remove all keyboard shortcuts utilizing `CTRL-[` and have all keyboard shortcuts handled by VsVim in the _vsvim -> keyboard_ menu. What could be the cause?

[2019-04-01 21:30] xarthurx commented on #2457
same here.
I can confirm this bug.
Preview 4.4.

[2019-04-01 22:49] xarthurx commented on #2035
@jaredpar  So this issue happends again, and I looked at the `ActivityLog.xml` as suggested, and found the entry for causing the issue:

[code]

[2019-04-01 22:50] xarthurx commented on #2035
BTW, This happens when I quickly press multiple `x` for deleting a serious letters.

[2019-04-04 12:39] marza91 opened #2481 "gt and gT not working in VS2019"
Like the title says, I can't change tabs anymore with gt or gT. No error message as far as I can see, and nothing happens. Tried in multiple different projects and to remove my _vimrc just to be sure.

Paste of my version info:

Microsoft Visual Studio Enterprise 2019
Version 16.0.0
VisualStudio.16.Release/16.0.0+28729.10
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Enterprise

A

[2019-04-04 12:48] marza91 commented on #2481
Found the setting for logging to the output window, and recorded what happens when I press gt and then gT:

[code]

I can also see a lot of lines like this popping up over and over, not sure if it's related to anything:

[code]

[2019-04-05 07:15] leechiryo commented on #2481
Just to report that I met the same problem.
Hope it will be fixed soon.

[2019-04-05 08:44] AbdulMuqsit commented on #2481
Facing the same issue.

[2019-04-05 22:17] 4a-42 opened #2482 "VSIX installer sees AmtelStudio and not Visual Studio 2017"
I have Amtel Studio 7 and Visual Studio 2017.

When I download and run VsVim.vsix, it only allows me to install for Amtel Studio.

If I install for Amtel and re-run VsVim.vsix, I get error "This extension is already installed to all applicable products."

I attempted to download the extension inside VS too. When I try to install the extension via the "Extensions and Updates" menu in Visual Studio,

[2019-04-06 00:45] TKumadaki commented on #2481
Hi @marza91
Your problem may be solved by installing the latest VsVim.
http://vsixgallery.com/extension/VsVim.Microsoft.e214908b-0458-4ae2-a583-4310f29687c3/

[2019-04-07 09:19] kabasakalis opened #2483 "Pasting in VS2019 with p after yanking takes almost a full second."
That's a serious lag. Please thumbs up if you have experienced this in VS2019 with VsVim.
Ctrl+C and Ctrl+V is instantaneous as expected.

[2019-04-08 00:00] jaredpar opened #2485 "Thinking of moving VsVim to a GitHub org"
Given there are more people participating in the project it feels weird, to me at least, that this is still listed under my personal account. Most longer lived OSS projects end up creating an org and putting the project there. Been considering doing that lately and have already pre-reserved the organization: https://github.com/VsVim

Wanted to see if there were any objections before I made this mo

[2019-04-08 02:43] jaredpar commented on #2483
@kabasakalis that definitely shouldn't be happening. I use VS2019, many different builds, daily at work and don't see this.

Can you grab a profile of VS when this happens and share it out? That should help narrow down what is going on here.

[2019-04-08 02:45] jaredpar commented on #2481
Hmm. I wonder if the APIs I rely on for changing the windows changed in a more recent build. I'm not quite on the latest VS2019 at the moment. Will need to update before I can dig into this.

[2019-04-08 02:48] jaredpar commented on #2482
Hmm that seems odd. All the VsVim package does is register that it will work in either environment. I wonder if the installer logic changed here to only show the first. @madskristensen may know.

[2019-04-08 02:53] jaredpar commented on #2035
@xarthurx do you have the unnamed register set to the clipboard? If so and the clipboard is malfunctioning then this will happen.

There unfortunately isn't a lot I can do here. When the clipboard gets busted that's not fixable by an app. I have thought a few times about just abandoning the Windows clipboard the first time I see an error. Probably need to bring up a toast notification though when

[2019-04-08 03:06] jaredpar commented on #2457
@radutomy @xarthurx

I just tried on the latest build and did not see this behavior. Everything seems to be working smoothly.

It is possible though another extension is just overriding the text VsVim adds here. The status bar is a shared resource and there is no way to stop others from adding text. VsVim actually sets up a timer so it can refresh the text there regularly in case there are other u

[2019-04-08 06:50] marza91 commented on #2481
Hi again, I tested with the linked version and it seems to be working again!
Now running version 2.7.1324

[2019-04-08 09:03] xarthurx commented on #2457
@jaredpar
I just updated to the released version of VS2019, and disabled all the extensions except vsvim.
The issue still exists...

For the plugins, I only used AceJump and several for making comments more clear.
But since I disabled all the extension and the issue is still there, not sure if this is really an issue caused by other plugins.

[2019-04-08 09:35] xarthurx commented on #2035
Yes. I guess that might be the reason then.

Thanks!

On Mon, 8 Apr 2019 at 04:53, Jared Parsons <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2019-04-08 09:50] xarthurx commented on #2457
So I also tried on another machine with VS2019 newly installed and only
install the extension of vsvim.
The issue still exists....

On Mon, 8 Apr 2019 at 05:06, Jared Parsons <notifications@github.com> wrote:

--
MA Zhao

*"SAVE PAPER - PLEASE THINK BEFORE YOU PRINT!"*

[2019-04-08 15:39] madskristensen commented on #2482
@jaredpar I think VS2019 will not recognize IntegratedShell as an install target anymore.

[2019-04-08 16:39] kabasakalis commented on #2483
I am running a single main function that calculates a Fibbonacci number. Nothing fancy. This is the CPU profile for the 2 breakpoints shown. It doesn't matter if I am in debug mode or not, the lag is always there.
![image](https://user-images.githubusercontent.com/323951/55741491-07605b80-5a36-11e9-8234-9a3dcaf08e84.png)

[2019-04-08 16:57] kabasakalis commented on #2483
Update! There's something wrong with my custom `vimrc` file. When I don't load it, the lag goes away! I wish there was a VsVim log so I could pinpoint the problem easier. Commenting out suspicious parts of my vimrc will do it I guess.

[2019-04-08 17:19] jaredpar commented on #2483
@kabasakalis

Glad you could track it down. Can you post the part of the RC file that caused the problem? Likely a parsing gap. If it's easy to fix would like to fix it.

[2019-04-08 17:28] kabasakalis commented on #2483
Actually I haven't  debugged it yet - feeling a little lazy right now. But here's the file

[_vsvimrc.txt](https://github.com/jaredpar/VsVim/files/3055573/_vsvimrc.txt)

[2019-04-09 17:42] BigDub commented on #2421
I do have visual assist installed, also ReSharper. Are there known conflicts?

Thanks for the quick response, sorry I didn't return the favor.

[2019-04-10 08:54] radutomy commented on #2457
The issue still persists, even with the latest update of VS2019.
@jaredpar you can see all the extensions I'm using in the first print screen in the post above.

[2019-04-11 04:17] ricksladkey commented on #2481
Ha, ha, finding out about `gt` and `gT` is reason enough to read all the issues.

[2019-04-11 04:40] ricksladkey commented on #2485
I think that's a great idea for many reasons, but perhaps the biggest one I can think of is that the organization's GitHub pages page would be https://vsvim.github.io, which puts the hub in GitHub for VsVim. Not much needs to go there right away, but having it is much more accessible to non-programmers than, say, https://github.com/jaredpar/VsVim is.

[2019-04-11 14:48] TKumadaki commented on #2457
Hi.
I have confirmed that the same problem occurs in the following environment.

Visual Studio 2019 pro 16.0.1
VsVim 2.6.0

However, no problem occurred with the following link "VsVim 2.7.1324".
http://vsixgallery.com/extension/VsVim.Microsoft.e214908b-0458-4ae2-a583-4310f29687c3/

@xarthurx and @radutomy, are you using VsVim 2.6.0?
If so, installing the latest version may help.

I think this may

[2019-04-11 15:28] xarthurx commented on #2457
@TKumadaki
I can confirm that `VsVim 2.7.1324` works.
Thank you for pointing out the issue.

[2019-04-11 23:00] TKumadaki commented on #2457
The sources of VsVim 2.7 and 2.6 were compared.
In 2.7, support for Visual Studio 2012, 2013 has been discontinued.
Some versions of Visual Studio SDK have been updated from 11.0.0.0 to 14.0.0.0.
Version 2.7 adds a Vs2019 project.
@jaredpar @ricksladkey
It may be needless to say to you.
But I wrote just in case.

[2019-04-12 15:11] TKumadaki commented on #2457
As there is no Vs2019 project in version 2.6, `ISharedServiceFactory` can not be acquired correctly.
The timer event of `StatusBarAdapter` gets the `VimBuffer` with focus.
This is obtained using `VsVimHost.TryGetFocusedTextView`.
However, the following part of this method does not work correctly.

`var activeWindowFrame = result.Value.FirstOrDefault(_sharedService.IsActiveWindowFrame);`

It seems

[2019-04-12 18:52] sqlkoala opened #2486 "Increasing / Decreasing a number does not work within words"
Hi Jared, Hi Rick,
a small bug with Ctrl_a and Ctrl_x. Example:
1 part1 part1Price part1_Quantity
It will work on "1" and "part1", but not the other. Normally this isn't a big deal, but it is troubling when you want to use a macro + Ctrl_a to create lines like this from the above:
2 part2 part2price part2_quantity
3 part3 ...
Greets and thanks ( as always ;-) for the awesome vsvim

[2019-04-14 05:08] ricksladkey commented on #2477
Remarkably, VsVim does not position the caret correctly after a linewise delete. In gvim, if `nostartofline` is in effect, gvim effectively "restores spaces to caret", i.e. tries to keep the caret in the same screen column. If `startofline` is in effect, gvim moves past whitespace on whatever line it ends up on. In both of these cases, VsVim puts the caret at the very beginning of the line.

I fin

[2019-04-14 05:10] ricksladkey commented on #2477
This latter bug is much more involved than the first one but both relate directly to the correct position of the caret after a linewise delete, so I'll try to fix both at the same time.

[2019-04-14 05:16] howardlo opened #2489 "VsVim hanging Visual Studio 2019"
First let me thank Jared and the team for a fantastic tool!

I've noticed that VsVim slowing substantially to the point of being close to unusable in VS2019. It's been this way since Feb for the preview and RC versions. I was hoping it got better as it approached release but sadly it hasn't improved.

Please tell me how I can help try to debug or fix it. Thanks!

![Capture](https://user-images.git

[2019-04-14 23:00] #2480 closed

[2019-04-14 23:42] jaredpar commented on #2489
Unfortunately this is typically a bug on Visual Studio's part where they are mis-diagnosing VsVim as the perf problem. I've seen this myself a number of times and every case I've worked through has turned out to be a bug elsewhere. They have identified the problem and are looking to make a fix in Update 1.

That being said, it's certainly possible that there are bugs in VsVim here. If you see a si

[2019-04-14 23:52] jaredpar commented on #2485
That's a good point. I hadn't thought of that.

I'm on vacation for the next week. Once I get back I'm going to make the switch over to an organization. Didn't want to do it on the way out just in case I messed something up 😄

[2019-04-15 04:53] #2486 closed

[2019-04-15 06:09] ricksladkey commented on #2477
In addition to `d<motion>` (e.g. `dG`) and delete lines (e.g. `dd`), their visual counterparts (e.g. `Vd` and `VD`) all also misbehaved in regard to the caret position after the delete.

A little poking around about who obeys `startofline` reveals plenty of other differences with gvim. For example, the so-called "jump" line command, (e.g. `:3`) and the search line command (e.g. `:/<pattern>`) also

[2019-04-15 14:21] howardlo commented on #2489
Thanks Jared!

And thanks for the PerfView hint.

Howard

From: Jared Parsons <notifications@github.com>
Sent: Sunday, April 14, 2019 4:42 PM
To: jaredpar/VsVim <VsVim@noreply.github.com>
Cc: howardlo <howardlo@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [jaredpar/VsVim] VsVim hanging Visual Studio 2019 (#2489)

Unfortunately this is typically a bug on Visual Studio's part where

[2019-04-15 19:14] zbecknell commented on #2381
This would be fantastic and it looks like they've [done away with the requirement for a white-listed ID](https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#180-preview---cumulative-changelog-through-rc1).

I'm experimenting with a fork now, but I don't really have enough extension experience to know the best way to go about updating the project.

[2019-04-16 00:53] ricksladkey commented on #2481
As @TKumadaki pointed out, this is caused by using the published 2.6.0 version of VsVim which claims that it supports VS2019, but which does not in fact support any Visual Studio APIs that are accessed through VsVim's version-specific assemblies. This deficiency was fixed in PR #2447 and so will be included in 2.7.0 when it is released.

[2019-04-16 00:53] #2481 closed

[2019-04-16 00:55] ricksladkey commented on #2457
As @TKumadaki pointed out, this is caused by using the published 2.6.0 version of VsVim which claims that it supports VS2019, but which does not in fact support any Visual Studio APIs that are accessed through VsVim's version-specific assemblies. This deficiency was fixed in PR #2447 and so will be included in 2.7.0 when it is released.

[2019-04-16 00:55] #2457 closed

[2019-04-16 14:45] pizza2code opened #2492 "Backspace issue in peek definition window"
In a peek definition window, backspace does not immediately update the displayed command buffer in normal mode.

Example:

1. Open peek definition window
2. Typo `:wqa`
3. Backspace once or twice
4. The command buffer still displays `:wqa`

The displayed command only changes after focus leaves the peek definition window, or after the entire command is removed.

Using Visual Studio 2015 and the lat

[2019-04-18 02:49] #2458 closed

[2019-04-18 02:49] #2469 closed

[2019-04-18 16:19] pizza2code commented on #2046
The original issue (`:q` not closing peek definition windows) has re-appeared in Visual Studio 2019, unfortunately.

Using the latest VsVim 2.6.0.

[2019-04-19 06:07] ricksladkey opened #2493 "The 'retab' command mangles non-leading tabs"
I came across a code base that had mixed tabs and spaces and I was trying to clean it up. I first tried to use Visual Studio Edit -> Advanced -> Untabify Selected Lines, but this turned out only to untabify leading tabs.

I thought to myself, surely vim has a builtin solution, and I shortly learned about `:retab`. While it does have the advantage of untabifying non-leading tabs, it unfortunately d

[2019-04-22 18:44] yokkey opened #2496 "Intermittent VS 2017 Hang"
Hi,
I'm experiencing occasional random hang of few seconds, whilst editing, when switching open files, when selecting text, on visual studio 2017. I've attached a stack trace of devenv.exe when it gets suspended. Observing this it is trying to settings which leads to accessing the registry. Wonder what could cause the thread to suspend (virus scanner?), and why vsvim should need to access settings

[2019-04-23 02:57] ricksladkey commented on #2496
I believe the settings access frequency has already been addressed in PR #2484.

Your situation might be different, but in my case symptoms like that have occurred when Visual Studio is running low on virtual memory. Because Visual Studio is 32-bit and limited to a 32-bit address space, the first symptom of excessive memory use or a memory leak is an increase in the frequency of garbage collection

[2019-04-23 05:02] jaredpar commented on #2496
Agree with @ricksladkey that this was fixed in #2484. This will be included in the next release. In the meantime though you can grab the latest build off of the Open VSIX gallery and it will have the fix.

http://vsixgallery.com/extension/VsVim.Microsoft.e214908b-0458-4ae2-a583-4310f29687c3/

[2019-04-23 05:02] #2496 closed

[2019-04-23 05:34] jaredpar commented on #2046
@pizza2code this will be fixed in 2.7.0 for VS2019

[2019-04-23 13:40] TKumadaki commented on #2496
I thought that the gallery's VsVim would be automatically placed once it was merged.
It seems that VsVim in the gallery has not been updated since February.
and it seem not to be running CleanVsix.
Visual Studio sdk dll is included.
Is this intentional?
I am sorry if it was my mistake.

[2019-04-23 15:37] TKumadaki commented on #2483
I delete the following your settings in my environment.
There is no delay.

`map  pd :vsc Edit.PeekDefinition<CR>`

I think probably waiting for input has occurred.
Is this not normal?

[2019-04-23 16:25] #2477 closed

[2019-04-23 16:31] ricksladkey commented on #2483
Since @TKumadaki found the root cause of the delay (map ambiguity with prefix `p`), I am closing this as resolved.

[2019-04-23 16:31] #2483 closed

[2019-04-23 18:45] ricksladkey opened #2497 "Publishing to the vsixgallery fails"
When appveyor builds VsVim, it is configured to publish it to vsixgallery. From `appveyor.yaml`:

[code]

But the following output is a recent example of the appveyor build output for commits to master:

[code]

As a result, no nightly builds of VsVim have been published since late February.

[2019-04-23 18:46] ricksladkey commented on #2496
Thanks @TKumadaki. Create a new issue here: #2497.

[2019-04-23 19:33] ricksladkey opened #2499 "CleanVsix no longer runs on appveyor"
As @TKumadaki pointed on in issue #2496, CleanVsix no longer runs on appveyor.

Here is example output from a recent appveyor build:

[code]

[2019-04-24 05:17] #2497 closed

[2019-04-24 05:17] #2499 closed

[2019-04-24 15:46] xarthurx opened #2500 "suddenly today VS2019 cannot start vsvim"
Errors in ActivityLog.xml shows:

[code]

There're several of these entries, with similar error of `System.IO.FileNotFoundException`.
Don't know why.

I didn't modify the `vsvimrc` file recently.

[2019-04-24 17:30] jaredpar commented on #2500
Interesting. That is definitely coming from the PR to add CSharp scripting support (#2371). That shouldn't fail though because C# should always be available. At least that was my reasoning when I suggested the change be done that way. There are corner cases where say Python only installs of VS won't have those components.

What type of project are you working on here?

Short term you can back down

[2019-04-24 17:39] xarthurx commented on #2500
I'm actually working on c++ project...
I installed the version in the gallery because of a previous issue https://github.com/jaredpar/VsVim/issues/2457

Guess the most secure way is to still install the 2.6 version and use the vsvim command margin.

Any plan to release v2.7 in the VS market? I don't think I need the nightly build from the gallery, but the version in the market is too behind.

[2019-04-24 17:42] jaredpar commented on #2500
C++ is the other case here. Thanks that narrows down the bug for me that I need to fix.

2.7 will be released soon-ish ;)

[2019-04-24 17:44] xarthurx commented on #2500
No problem.
Thank you for making this great plugin~

[2019-04-24 22:13] jazzdelightsme opened #2501 "CTRL+A in blockwise-visual mode increments numbers not in selection"
Suppose you have text like the following:

[code]

1. Enter blockwise-visual mode (<kbd>ctrl+v</kbd>) and select only the numbers on the left ("1", "2", and "3"), leaving the rest of the text unselected.
2. Now use <kbd>ctrl+a</kbd> to increment the numbers (so now the items in the list should be numbered "2", "3", "4").

**Expected result:**
*Only* the numbers on the left should be incremented.

[2019-04-24 22:59] TKumadaki commented on #2500
@jaredpar
If you are busy with other issues,I can tackle this problem.
I think I can probably work on the weekend.
In that case, I remove C# dll from reference.
and I change it to run with reflection.
You may have other good solutions.

[2019-04-24 23:04] jaredpar commented on #2500
@TKumadaki

I'd like to avoid the reflection if possible. Direct use of the APIs is much easier to maintain. I think this is actually fairly easy to fix. I just need to verify the fix works.

[2019-04-24 23:12] TKumadaki commented on #2500
@jaredpar
you had a better solution than me.
I want to wait for it.
If you use reflection to make corrections,
If you go to me, I will work on it.
:-)

[2019-04-24 23:22] jaredpar commented on #2500
@TKumadaki have a PR out that I think will fix this: #2502

[2019-04-24 23:28] jaredpar commented on #2500
@TKumadaki

I just have a lot of experience watching MEF composition fail. Almost a decade of it now. Figured out a lot of tricks to deal with it 😄

[2019-04-25 00:07] TKumadaki commented on #2500
This is amazing!

[2019-04-25 16:01] #2500 closed

[2019-04-25 23:55] ricksladkey commented on #2501
In my testing with the head of master, only the second number is incremented. But that is definitely a difference from vim. I'll take a look at fixing this.

[2019-04-26 02:35] ricksladkey commented on #2492
I can reproduce this bug with VS2019 and the head of master.

[2019-04-26 05:31] ricksladkey commented on #2492
I did some debugging and the problem here is that the command margin associated with a peek window does not receive the backspace key through the normal WPF keyboard dispatching method. Instead VsVim receives it via an OLE command target, which routes it through the corresponding vim buffer, which then forwards it to command mode, which then forwards it to the history session, where it does in fac

[2019-04-26 19:16] CrispyDrone opened #2504 "verbatim strings break block commands di) da)"
This issue is similar to this one: https://github.com/jaredpar/VsVim/issues/2159

In this case however it happens when a verbatim string is used. For example, attempting to use `di)` or `di(` or any similar command will not work with VsVim, but it does inside vim.

[code]

[2019-04-26 20:13] ricksladkey commented on #2492
This seems to me to be Visual Studio bug, and my work around is not pretty, but it is very specific and only fixes a problem that should not be occurring. The set of keys that misbehave can easily be added to if more cases are found.

[2019-04-26 20:23] ricksladkey commented on #2504
The current situation with VsVim is that although it doesn't handle verbatim strings that end with `\", it does handle all other strings (that possibly contain mismatched) parentheses better than vim does (see issue #2159).

Since verbatim strings are a C# specific feature and since VsVim current string handling is based on the "universal" programming string (single or double quotes using backslas

[2019-04-27 00:44] TKumadaki opened #2506 "Visual Studio 2019 always Display "Welcome to Vim""
My Visual Studio 2019 always shows "Welcome to Vim" when opened with the editor.
On the other hand, Visual Studio 2017 has not seen this message.

I dug into this difference a bit.
The order of initialization processing is different between Vs2017 and Vs2019.

Vs 2019
1. Vim.SetupInitialMode()
2. Vim.SetupInitialMode.runInit()
3. CommandMarginController.Connect()

Vs 2017
1. Vim.SetupInitialMode()

[2019-04-27 02:58] ricksladkey commented on #2456
I can reproduce this with VS2019 at the head of master.

[2019-04-27 05:20] #2446 closed

[2019-04-27 05:25] #2413 closed

[2019-04-27 05:51] ricksladkey commented on #2506
I noticed this too, although I have seen "Welcome to Vim" in the past. However, I believe the intention is to tell the user "Welcome to Vim" just once, but now with VS2019 when you load a solution with many open documents, or when you open any new document, or open a new peek window, all the windows always say "Welcome to Vim", whereas vim itself is silent when opening a new file.

[2019-04-27 05:59] ricksladkey commented on #2478
A similar delay (when it occurs) can be induced by resetting the keyboard configuration, which doesn't involve VsVim at all, and so I don't think the delay is VsVim's fault per se, but Visual Studio's. Oddly Visual Studio sometimes seems to be able to reset the keyboard configuration quickly and other times it takes many seconds (the freeze), and I don't know what causes the variability.

[2019-04-27 06:06] ricksladkey commented on #2482
The only explanation I can think of that accounts for the described symptoms is that that version of VsVim was in fact already installed on VS2017. Perhaps it was just further down in the list of extensions and disabled?

[2019-04-27 10:52] TKumadaki commented on #2506
I agree with your opinion.
I wondered if I should do the same as Vim.
For now, I changed it to display the message only once.

[2019-04-27 11:02] CrispyDrone commented on #2504
I see. Thanks for your reply. I also wanted to quickly say that I really love this extension and immensely appreciate the work that goes into it!

[2019-04-27 15:06] #2506 closed

[2019-04-27 15:42] #2493 closed

[2019-04-27 20:50] jaredpar commented on #2482
I think Atmel may have to weigh in here. The approach of listing the integrated shell as a target has worked ever since I started supporting Atmel. If that's not working anymore perhaps Atmel has a better suggestion on what to do.

[2019-04-27 21:14] #2456 closed

[2019-04-27 21:19] ricksladkey commented on #2482
To clarify, @jaredpar and @madskristensen, the reported issue has nothing to do per se with Atmel or the integrated shell. The OP reported that Atmel was in fact **working correctly**. The non-working reported problem is with Visual Studio 2017.

[2019-04-27 21:26] ricksladkey commented on #2482
In other words, our task (should we choose to accept it) is to explain why Visual Studio 2017 does **not** appear in the screenshot even though VS2017 is in fact installed on the system. My theory is that the Vsix installer correctly determined that VsVim was **already installed** on VS2017 and therefore does not offer it as an installation target.

[2019-04-27 23:55] jaredpar commented on #2482
Oh I see. That indeed makes no sense here.

@4a-42 curious: if you open VS2017, look at the installed extensions, is VsVim listed? I would expect even if it's listed that it should still show up in the installer. At this point though want to rule everything out.

[2019-04-28 00:12] #2501 closed

[2019-04-28 01:57] TKumadaki commented on #2482
I tested the following.

**CASE: 1**

-  Vs 2017
-  Atmel 7.0
-  VsVim 2.7 (from open gallary)

I double-click on VsVim.vsix.
VsVim was installed on both Vs2017 and Atmel 7.0.
However, VsVim does not run in Atmel.
There are the following messages in "ActivityLog.xml".

"Could not load file or assembly 'Microsoft.VisualStudio.Shell.10. 0, Version = 11.0.0.0, Culture = neutral, PublicKeyToken = b03f

[2019-04-28 05:23] TKumadaki commented on #2482
I was finally able to reproduce the situation.

1. Install Atmel Studio 7.0.
2. Install VsVim 2.5.
3. Install Visual Studio 2017.
4. Double click on VsVim 2.5 and the following message will be displayed.
"This extenstion is already installed to all applicable products."

I was able to install VsVim on Visual Studio 2017 using one of the following methods:

- Install from Visual Studio "Tools"-> "E

[2019-04-28 06:22] ricksladkey commented on #2482
Thanks, @TKumadaki for doing all this work!

When you double-click a Vsix file, only one program can be registered to handle that file type. You can use task manager (or process explorer, etc.) to get the full pathname of the VsixInstaller.exe that runs when you double-click a vsix file. And from your description, that sounds like it is some other version than the one that is co-installed with VS2

[2019-04-28 08:36] TKumadaki commented on #2482
"This extenstion is already installed to all applicable products."
The full path of the Vsix installer for which the above message is displayed is as follows.

`C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\VSIXInstaller.exe`

Interestingly, right-click VsVim.vsix ,point to Open with,and click VSIXInstaller.exe for Vs2017,
but it was not possible to install.

It can not be instal

[2019-04-28 10:45] TKumadaki commented on #2482
I'm sorry. The following message is incorrect.
"Could not load file or assembly 'Microsoft.VisualStudio.Shell.10. 0, Version = 11.0.0.0, Culture = neutral, PublicKeyToken = b03f5f7f11d50a3a' or one of its dependencies."

It is correctly as follows.
"Could not load file or assembly 'Microsoft.VisualStudio.Shell.11.0, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its

[2019-04-28 12:41] TKumadaki commented on #2442
I have confirmed that VsVim 2.7 can be installed on Atmel by the following method.

1. Obtain "Microsoft.VisualStudio.Shell.11.0" from the PC on which Atmle is installed.
This was obtained from the following path
C:\Windows\Microsoft.NET\assembly\GAC_MSIL\Microsoft.VisualStudio.Shell.11.0\v4.0_14.0.0.0__b03f5f7f11d50a3a
2. Replace the acquired dll in VsVim's "References\Common".
3. Change the dll

[2019-04-28 13:55] jaredpar commented on #2485
@ricksladkey reading through the docs the one potential disruption the transfer could have is clearing issue assignments. When transferring between a user and an organization issue assignments are cleared unless the assignee is a member of the organization.

Sent you an invitation ~1 week ago. It's possible it ended up in your spam account though (most invites do for me). Believe you can accept by

[2019-04-28 16:04] ricksladkey commented on #2485
Ha, ha, I totally want to be in the organization! Just accepted. So now I am.

As for why I didn't see the invitation. the most likely explanation would generally be that I just overlooked it. But it turns out it's my own fault for another reason: years ago I created a VsVim sub-folder in my mail and auto-filed VsVim-related GitHub email in it. I no longer use sub-folders this way.

Anyway, it's a

[2019-04-28 17:19] ricksladkey commented on #2442
@TKumadaki, I will let @jaredpar try to make sense out of how that situation came to be and why it works. For completeness, you could zip up and try to attach the file you obtained to this issue.

[2019-04-28 21:46] CrispyDrone commented on #1621
When I use Ctrl-[ to go to a definition and it is in another file, Ctrl-O does not work.
In fact, Ctrl-O and Ctrl-I for me only work inside a single file.

Something telling is that when I have a jump list within a single file, and then use Ctrl-[ to navigate to a definition, Ctrl-O will work but it will jump back to the last entry of the jump list of that file. So it means it did not append the g

[2019-04-28 22:56] jaredpar commented on #2485
@ricksladkey no problem. I figured it was something along those lines.

[2019-04-28 22:58] jaredpar commented on #2485
It is done 😄

[2019-04-28 22:58] #2485 closed

[2019-04-28 23:10] jaredpar commented on #2442
@TKumadaki I have a suspicion on what is going on here. I'm not sure what the exe name is for Atmel Studio but can you grab the exe.config file for the exe? Essentially the equivalent of devenv.exe.config.

My suspicion is that because they're based on a specific version of the VS shell they lack binding redirects for earlier versions. That is why the change in version number fixes the problem.

[2019-04-28 23:29] TKumadaki commented on #2442
[atmel.zip](https://github.com/VsVim/VsVim/files/3125612/atmel.zip)

I uploaded the dll and config.
The product name of this dll is Visual Studio 2015.
Meanwhile, the product name of VsVim 2.7 dll is Visual Studio 2012.
config does not have Microsoft.VisualStudio.Shell.11.0.dll.

By the way, congratulations on the transition to the organization!

[2019-04-29 00:42] #2492 closed

[2019-04-29 01:41] ricksladkey commented on #1798
For the record @rcorre, there is a way, I use it all the time! Here is a stackoverflow question on the topic:

https://stackoverflow.com/questions/34437340/how-to-disable-peek-on-go-to-definition

[2019-04-29 01:50] ricksladkey commented on #1621
@CrispyDrone, I am going to close this issue because jump lists are fully implemented and because they are fully compatible with vim. I tested your specific case and go to definition jump definitely adds a jump to the jump list which is exactly what the code says to do:

[code]

Feel free to open a new issue for this if you believe something is not working.

[2019-04-29 01:50] #1621 closed

[2019-04-29 03:43] ricksladkey opened #2510 "Appveyor no longer building head of master or pull requests"
Probably because of the VsVim org change, appveyor no longer appears to be automatically building the head of master or any pull requests.

[2019-04-29 04:03] TKumadaki commented on #2510
Is this the cause of my PR check not ending?
For now, I would like to wait for response from @jaredpar.

[2019-04-29 05:17] ricksladkey commented on #2510
I believe so. I don't have access to the section of the project that configures CI checks, but it makes sense. My own fetch from the upstream works correctly without reconfiguration so I believe there are redirects, but I'm sure @jaredpar will know what to do.

[2019-04-29 06:35] TKumadaki commented on #2442
@jaredpar I read your reply and came up with the following fix.

Add the following to AtmelStudio.exe.config.

[code]

I have confirmed that it works without modifying VsVim by this method.
Of course I think this is not a recommended method.

[2019-04-29 15:47] jaredpar commented on #2510
This should be fixed now. I just had to change the repository link to include the organization.

[2019-04-29 17:28] jaredpar commented on #2510
Hmm, doesn't appear to be actually fixed. The builds are running but status isn't being shown.

[2019-04-30 01:06] jaredpar commented on #2510
Fixed now and validated with #2511

[2019-04-30 01:06] #2510 closed

[2019-04-30 16:10] jaredpar commented on #2442
@TKumadaki

Thanks for confirming. This just looks like an omission on their part. Consider they have the following entries:

[code]

Essentially a redirect for 9, 10 and 12 but not 11. Not sure how they generate this file, or why they just didn't take the VS version, but probably need to push on them to fix this.

[2019-04-30 21:59] TKumadaki commented on #2442
@jaredpar
I wanted to send this to Atmel Studio as an issue.
However, Atmel Studio does not seem to be developed on Github.

[2019-04-30 22:53] TKumadaki commented on #2442
I do not use Atmel Studio.
If they can, I want that users using VsVim at Atmel Studio send this issue.

[2019-05-01 00:34] ricksladkey commented on #2442
@TKumadaki I think you have root caused the issue, confirmed that VsVim is unable to fix it, and even provided a workaround. If an Atmel Studio user like @DepthDeluxe would like to report the issue to Atmel Studio, they can link to the research that has been done here.

[2019-05-01 00:34] #2442 closed

[2019-05-01 01:30] ricksladkey commented on #2482
To summarize this issue, there are multiple VsixInstaller.exe files associated with various versions and flavors of Visual Studio that are installed on any given machine. To reliably install an extension, such as VsVim, using the install program (vs. extension management with Visual Studio), you must:

- open two explorer windows
- one window containing the VsixInstaller.exe file associated with t

[2019-05-01 01:30] #2482 closed

[2019-05-01 01:48] ricksladkey commented on #2489
VsVim is currently available for download in the extension gallery for VS2019 and so many, many users besides the developers are using it successfully. It is definitely possible that VsVim is only causing slowdowns leading to a hang on some machines. But without more information or being able to reproduce the problem, we cannot really make any headway on this issue.

@howardlo, if you get a chance

[2019-05-01 01:48] #2489 closed

[2019-05-01 02:07] ricksladkey commented on #2459
VS2019 is now past the preview phase. Although the current version of VsVim in the extension gallery does support VS2019, that support will improve with the next version 2.7.0.

If you continue to experience any slowdowns and hangs with the current version of VS2019 and VsVim, and can collect a perf trace or a dump file, please add them to this issue and I'll re-open it.

[2019-05-01 02:07] #2459 closed

[2019-05-01 02:12] ricksladkey commented on #2466
This works correctly again in the released version of VS2019 with no changes to VsVim. As a result, I've changed this from a bug to a feature request.

[2019-05-01 02:21] ricksladkey commented on #2400
Closing this issue as the symptoms were not related to the new functionality at the time.

If you experience an error similar to what is reported above, and it cannot be fixed by uninstalling and reinstalling VsVim, please open a new issue.

[2019-05-01 02:21] #2400 closed

[2019-05-01 03:04] ricksladkey commented on #1897
As convenient as this might be, if it can be done at all, it would likely be very VS version specific and completely unrelated to the reset of VsVim. In other words, it could easily be a separate extension. I think it would be overreach for VsVim to try to take on this task.

For example, in Visual Studio you can choose Tools -> Options using the menu and then type `<Esc>` to dismiss the options w

[2019-05-01 03:04] #1897 closed

[2019-05-01 03:35] ricksladkey commented on #2460
The code in question does in fact try five times with a delay of 100ms between tries. Only then does it display a dialog box. The only possible changes we could make are to:

- ignore the error
- try more times
- wait longer between times

Since we don't plan to ignore the error and since it is already doing a fair number of retries and standard delays, I am going to close this as won't fix.

[2019-05-01 03:35] #2460 closed

[2019-05-01 05:30] fen commented on #2466
I still see this exception in `16.0.3` (community).

[2019-05-01 06:30] ricksladkey commented on #2466
@fen, I tested basic `<C-n>`/`<C-p>` completion and it worked fine, but with more testing I was also able to repro the exception. This is odd because the gist of the error message is that non-async completion is absolutely forbidden with VS2019, but the reality is that it is sometimes allowed.

The simple case I first tested was File -> New -> Text File and type some words:

[code]

and then enter

[2019-05-01 08:27] fen commented on #2466
Interesting can confirm that I see the same behavior `.txt` file completion working same for markdown.

[2019-05-01 09:53] conormcg13 opened #2514 "No Ctrl-I or Ctrl-O option in VsVim keyboard options (VS 2019)"

[2019-05-01 15:10] jaredpar commented on #2466
@ricksladkey i believe the completion kind, sync vs async, is dependent on the content type of the active buffer. For C# it's always async but for other kinds it can still be the sync provider.

Good news is I mostly have the async support working now. It's unfortunately less featurefull than sync completion (no wrap around support) but the overall workflow is working. This weekend I'll be working

[2019-05-01 18:15] ricksladkey opened #2515 "Ctrl+Click does not follow link in spite of tooltip"
With the improved fidelity of the mouse support, the native Visual Studio `Ctrl+Click` to follow links no longer works. From one point of view, that is expected because gvim does not support that method to follow links. But from another point of view, Visual Studio is displaying a tooltip that says it will work and one could argue that VsVim should support that in the Visual Studio ecosystem.

In

[2019-05-01 18:27] ricksladkey commented on #2514
In my case, VsVim (head of master) with VS2019 does show them:

![image](https://user-images.githubusercontent.com/2680524/57034198-eba73a00-6c1c-11e9-9c47-6e8937647527.png)

![image](https://user-images.githubusercontent.com/2680524/57034235-037ebe00-6c1d-11e9-81f9-3a2f96645256.png)

Since VsVim does show them in some circumstances, we have to figure out why it isn't showing them in your circumst

[2019-05-01 18:32] ricksladkey commented on #2067
Maybe we should increase the number of retries from 5 to 10 and / or increase the delay from 100ms to 200ms?

The only other option is to close this issue as "by design", and I'm certain @arteny would not be happy with that outcome.

[2019-05-02 03:29] ricksladkey commented on #2461
Sorry if this is work you think you've already done, but I'm pretty sure (as you are) that the keyboard reset did not "work as we had hoped".

Can you do the following:

- Reset all VsVim keyboard settings to "Handled by Visual Studio"
- Reset the keyboard settings in Visual Studio (Tools -> Options -> Keyboard -> Reset)
- Check something that you are sure about like `F11` is properly reset (resta

[2019-05-02 12:01] conormcg13 commented on #2514
Just checked, they aren't binded to anything. They appeared for me before but that was VS 2017 and I also vaguely remember them not appearing on VS 2017 so I'm not sure what is triggering it.

[2019-05-02 16:29] ricksladkey commented on #2514
The purpose of the VsVim keyboard configuration is to let you override Visual Studio key bindings that conflict with vim keys. Whether there is a Visual Studio key binding for a particular key depends on many factors. But if there is no Visual Studio binding, there is no conflict. As a result, that key should work correctly in VsVim without any intervention.

However, the most likely reason that y

[2019-05-02 17:30] conormcg13 commented on #2514
Both keys do nothing in VsVim unfortunately.

[2019-05-02 19:02] risa2000 commented on #2461
I followed your points, but for some reason the `F11` key remains to be mapped to `Debug.StepInto`. I tried switching to different mapping schemes (e.g. Default, Visual Studio Code, or Visual C++ 6) and pressing `Reset`  in between, with (or without) restarting VS, but `F11` would not budge.

So either when I originally mapped it, I actually just put in the "default" mapping, or the resetting does

[2019-05-02 19:33] ricksladkey commented on #2514
The keys `<C-o>` and `<C-i>` are definitely implemented in VsVim and should work if they are not bound to any other commands in Visual Studio.

My test sequence is to type `G1G` in any VsVim buffer to populate the jump table. Then typing `<C-o>` jumps to the end of the buffer and further typing `<C-i>` jumps back to the beginning.

At this point I am out of ideas.

[2019-05-02 21:39] ricksladkey commented on #2461
Thanks, @risa2000. I came up with a fix for your other problem. I will look at this one soon.

[2019-05-03 07:05] conormcg13 commented on #2514
I opened up VS2019 today and tested the keys and it's working as intended (I'm guessing they aren't showing the keys in VsVim because they aren't binded in VS possibly). Scratching my head at this but thank you for taking the time, will close issue.

[2019-05-03 07:05] #2514 closed

[2019-05-03 16:10] jaredpar commented on #2067
I don't think increasing the count / delay will help much here. It seems based on the user reports that the cilpboard can get into a really bad state at times. To the point that operations don't even fail fast, they take considerable amount of time to fail. Increasing the count / delay will exacerbate that situation.

The idea I'd been thinking of is the following: when we detect the clipboard is

[2019-05-03 16:44] ricksladkey commented on #2067
@jaredpar but your description doesn't jibe with the symptoms reported in this issue:

So more than half of the yanks succeed. That means the clipboard only in a bad state intermittently, not permanently.

[2019-05-03 17:02] jaredpar commented on #2067
@ricksladkey

Sure but other issues, like #1663, have reported hangs. It's not entirely clear if it's a hang from our back off logic or a hang in the clipboard itself. I have a suspicion that it's the latter though.

There have been other reports where it's always broken, or broken just once. I really wish I could find a way to make sense of all of it. Taken as a whole it seems to get into lots of

[2019-05-03 18:00] ricksladkey commented on #2067
Well, now I know more about the clipboard than I ever wanted to know.

First, using IlSpy I discovered that `System.Windows.Clipboard` will retry automatically ten times with 100ms delays, so our retries are on top of that underlying retry mechanism. So the total timeout the way we are doing it could be as high as 5.5 seconds if the clipboard is totally wedged.

Second, all the issues reporting th

[2019-05-03 22:35] TKumadaki commented on #2415
Hi @wavebit
Perhaps @dhmgit may be waiting for your response.
By the way,Same as you,I wanted to display command characters in an easy-to-see place.
So I created the following script.

https://github.com/TKumadaki/VsVimScripts/blob/master/Documentation/ShowCommandText.md

This will display Command Characters below the caret.
It will be as follows.

![Command characters](https://user-images.githubu

[2019-05-03 23:56] ricksladkey opened #2517 "Reduce the volume of output in the trace window"
Some of the output in the trace window is only suitable for a developer and not really useful for general consumption. For example, there is a lot of output associated with the glyph margin, but any problem with the glyph margin is usually possible to describe with a repro, which the a develop and exercise in their own debug build.

It would be good if the output could be pared down to content mor

[2019-05-04 15:03] jaredpar commented on #2067
The retry only exists for certain versions of .NET Framework. Believe that for 4.6 and before, maybe it was 4.5, there is no underlying retry which is why I added the logic. But yeah with more recent .NET Framework installations there is a retry so our layer is redundant.

At this point I think we can safely assume we run on a .NET Framework that has the retry code and delete our layer. The number

[2019-05-04 20:16] #2517 closed

[2019-05-04 20:39] #2462 closed

[2019-05-04 21:11] #2515 closed

[2019-05-04 21:35] #1984 closed

[2019-05-04 22:28] ricksladkey commented on #2461
OK, so for the key binding dump you reported, `Ctrl+[` is not mapped by Visual Studio, which is a good thing because on the Czech keyboard layout, `[` is an `AltGr` key, and so it is not possible to add the `Ctrl` modifier to the `[` key, because it already has the `Ctrl+Alt` modifiers. The `Ctrl+[` keystroke combination does not show up in the VsVim keyboard configuration because it does not conf

[2019-05-04 22:28] #2461 closed

[2019-05-05 16:01] ricksladkey opened #2523 "Status messages do not appear in the trace log"
In some cases, status messages occur in quick succession and so the fact that earlier messages occurred is not immediately apparent.

In general, it would be helpful if status messages appeared in the trace log and in particular, it would be very helpful when status messages occur back-to-back.

[2019-05-05 17:58] ricksladkey commented on #2474
I added your suggested text to the FAQ. Thank you very much for contributing to the wiki.

[2019-05-05 17:58] #2474 closed

[2019-05-05 18:08] ricksladkey commented on #2467
To summarize this issue, it is almost never a good idea to place literal ASCII control characters in a text file if you do not have to, and you never have to in a vim rc file, because you can always use notation to refer to ASCII control characters (or other key combinations for that matter).

However, in some rare cases you really need to insert literal ASCII control characters in a text file. In

[2019-05-05 19:58] risa2000 commented on #2461
Rick, thanks for indeed a lengthy explanation. I am not going to question the feasibility of the "fix" in the VsVim that I leave up to you, but I would like to throw in a different opinion on how the keys actually behave and why I believe the VsVim does not behave correctly.

The "bracket" key (`[`) on US/English layout and `ú` key on Czech layout are physically the same key. I.e. the 12th key in

[2019-05-05 21:08] ricksladkey commented on #2461
@risa2000, you have summarized the situation nicely and pointed out that Visual Studio stores its keybindings as "scan codes" (or more accurately as WPF keys) and that it converts those scan codes into key names when displaying them to the user. So:

- When Visual Studio says `Ctrl+ú` with the Czech keyboard layout, it means "hold control down while pressing the key to the right of the `P` key"
-

[2019-05-05 21:21] ricksladkey commented on #2461
At the risk of beating a dead horse, I would like to reiterate that Visual Studio (unlike vim and VsVim) pays no attention to ASCII control characters. For example on the US English keyboard, you cannot use the <kbd>Ctrl</kbd>+<kbd>[</kbd> key to dismiss modal windows, even though that key combination will generate ASCII `0x27 / ESC`. Likewise, on the Czech keyboard, you cannot dismiss modal windo

[2019-05-05 22:00] risa2000 commented on #2461
@ricksladkey I have read your comment on https://github.com/VsVim/VsVim/pull/2516#issue-275528735 and it does much more sense to me now. Thanks for that. I have also not realized before that `vim` actually uses "the literal translation" for the `Ctrl` keys, and you are right, `Ctrl-Z` moves around the layout with the symbol `Z`.

The only mystery is, how does the regular `vim` recognize `Ctrl-ú` c

[2019-05-05 22:14] risa2000 commented on #2461
One more thing. You mentioned two different approaches above. I am not sure if it contains what I did originally to fix this issue on my setup:

I switched the keyboard layout to the US layout, run VS and VsVim config for mapping, where all the conflicting combinations suddenly appeared (i.e. `Ctrl-[`, `Ctrl-]`, etc.). I assigned them to VsVim, then switched back the keyboard to the Czech layout a

[2019-05-05 22:22] ricksladkey commented on #2461
Ha, ha, it is no mystery: on the Czech keyboard, layout `Ctrl-ú` generates `0x27 / ESC` and both vim and VsVim recognize `0x27 / ESC` as `<Escape>`! But VsVim won't ever see that keystroke if it has a binding in Visual Studio.

Let me try to describe it another way: conceptually vim does nothing more than call `getchar()` on standard input and, voila, it receives a character `0x27 / ESC`. How and

[2019-05-06 03:58] ricksladkey commented on #2427
@msloan Thanks for the workaround, but it only works when you haven't starting typing the new name. Hitting escape reverts any changes, but hitting return applies them.

[2019-05-06 08:08] shuhkla opened #2526 "CTRL+WW (Switch Between Panes) broken on Visual Studio 2019"
Ctrl+WW used to work on VS2017, but now it does not work after upgrading to Visual Studio 2019 (16.0.3). Tried with both the stable (2.6.0.0) and the latest build (2.7.99.99 Debug).

[2019-05-06 09:37] risa2000 commented on #2461
Ha, since the `vim` help refers to them as `<ESC>` or `Ctrl-[` I did not realize that the code it receives when pressing the `Ctrl-[` (on Windows) is actually really `<ESC>` and not `Ctrl-[`. Thanks again for another insight.

[2019-05-06 12:42] TKumadaki commented on #2381
I write what I found out about this problem.
I confirmed in the following environment.

- Visual Studio 2017
- SQL Server Management Studio v18.0 RC1

First of all, there is no dll below in Ssms.exe.config.

- Microsoft.VisualStudio.Shell.11.0
- Microsoft.VisualStudio.ComponentModelHost
- Microsoft.VisualStudio.Language.NavigateTo.Interfaces
- Microsoft.VisualStudio.Shell.Immutable.10.0

Unfortuna

[2019-05-06 15:53] ricksladkey commented on #1882
@ZzAntares This issue was related to keyboard conflict between Parallels and the guest machine. If you are having a different conflict, feel free to open a new issue.

[2019-05-06 15:53] #1882 closed

[2019-05-06 15:57] ricksladkey opened #2527 "Keyboard configuration sometimes fails to remove conflicting bindings"
This a new specific issue for the general problems often reported with conflicting keyboard bindings that cannot be resolved using the VsVim keyboard configuration of "handled by VsVim".

#### Related Issues

- Issue #1082

[2019-05-06 15:58] #1082 closed

[2019-05-06 16:07] ricksladkey commented on #2526
The <kbd>Ctrl</kbd>+<kbd>W</kbd> family of commands and in particular <kbd>Ctrl</kbd>+<kbd>W</kbd>,<kbd>W</kbd> definitely can work in VS2019; I just retested it with the latest build. The likely problem is that there is still a keyboard conflict with Visual Studio.

I've created a new specific issue for this general problem #2527 and referred to this issue there. Please try the workaround suggest

[2019-05-06 16:07] #2526 closed

[2019-05-06 16:09] #1973 closed

[2019-05-06 16:26] ricksladkey commented on #2381
I like this quote from the CodeProject article that @TKumadaki linked:

which summarizes the whole messy business of extension development.

[2019-05-06 16:33] ricksladkey commented on #2421
@BigDub, there was a known problem (and several issues that reported it). See PR #2201. And others have reported that it is fixed. Which version of VsVim are you using? You can use `:version` to check.

[2019-05-07 08:50] furgerf opened #2528 "Map for :q closes two windows"
Hi there, first off big thanks for this awesome extension! 👏

I use the following map: `nnoremap <silent> <BS> :q<CR>` to close the current window. Previously, I had been using this in VS 2017 without any issues but in VS 2019 (16.0.3), two windows are closed whenever I use the map. Executing `:q<CR>` directly only closes one window, as expected.

I'm running VsVim version 2.6.0.0

[2019-05-07 14:31] jmegner opened #2529 "Number increment (Ctrl+A) jumps over decimal numbers to next hex number"
If you have a line with decimal and hex numbers....
`1  2  0x3  4  5  0x6  7  8`

Using Ctrl+A to increment numbers will move the cursor to the current/next hex number on the line and increment that hex number.  So, if your cursor is anywhere before the `0x3`, Ctrl+A will increment the 0x3 even if your cursor is at the 1 or 2.  It is impossible to use Ctrl+A to increment the 1, 2, 4, or 5 in the l

[2019-05-07 15:09] ricksladkey commented on #2529
Ha, ha, I was just in this code the other day and didn't notice that problem. I'll take a look at it right way.

[2019-05-07 20:41] BigDub commented on #2421
I'm using version 2.6.0.0.
Is this fixed in a later version I'm not using?

On Mon, May 6, 2019 at 9:33 AM Rick Sladkey <notifications@github.com>
wrote:

[2019-05-07 20:45] BigDub commented on #2421
Ah... It seems Visual Studio automatically updated the plugin for me at
some point and I can no longer reproduce the issue.

On Tue, May 7, 2019 at 1:41 PM William Wyatt Earnshaw <wearnshaw@gmail.com>
wrote:

[2019-05-07 20:45] #2421 closed

[2019-05-08 02:22] ricksladkey commented on #2528
@furgerf You are quite welcome!

I tried your mapping in both VS2017 and VS2019 with the head of master and, in my testing, both the mapping and the command both do the same thing, namely closing only one window. So either there is something different about my setup, or perhaps VsVim at the head of master no longer has that problem.

Presumably one of the two windows is the window you intended to

[2019-05-08 07:28] furgerf commented on #2528
Hm, interesting. Yes, the second window that's closed is the previously-active one (maybe what would be the alternate buffer in vim). The problem also occurs for me with the master version so it's likely something to do with my environment.

Speaking of that, I _occasionally_ get a popup about an error, with this entry in the ActivityLog:
[code]
I hadn't made the connection before, but it seems to

[2019-05-08 10:24] EdwinVanRooij opened #2532 "VsVim remap ctrl-i (`<c-i>`) is ignored"
I want to see quick info on keypress control+i in normal mode. In order to accomplish this, I'd assume I'd have to use the following mapping:
`nnoremap <c-i> :vsc Edit.QuickInfo<cr>`

This mapping seems ignored however. To verify the mapping syntax is correct, I've used this mapping to verify:
`nnoremap <c-h> :vsc Edit.QuickInfo<cr>`

Using that mapping, ctrl+h in normal mode (as opposed to ctrl+i

[2019-05-08 10:29] EdwinVanRooij opened #2533 "Runtime exception on file close"
![image](https://user-images.githubusercontent.com/16732313/57368909-9a52f980-718c-11e9-9b37-5710e38834fa.png)

[ActivityLog.xml.txt](https://github.com/VsVim/VsVim/files/3156858/ActivityLog.xml.txt)

When I exit a file using my custom keybinding (which works correctly) `nnoremap <leader>q :q!<CR>`, an exception popup is opened right after the editor window of the file closes: see image.

The refe

[2019-05-08 14:21] jnothstine commented on #2533
I see this happen quite frequently.  I see it most frequently when I open a file and just look at it and then close the file.

Sent from Mail for Windows 10

From: Edwin
Sent: Wednesday, May 8, 2019 4:29 AM
To: VsVim/VsVim
Cc: Subscribed
Subject: [VsVim/VsVim] Runtime exception on file close (#2533)

ActivityLog.xml.txt
When I exit a file using my custom keybinding (which works correctly) nnoremap

[2019-05-08 14:24] jmegner commented on #2529
Thank you so much for work on this wonderful tool and your prompt response.  I'm glad I could give a clear bug report.

[2019-05-08 14:27] EdwinVanRooij commented on #2532
Ahhh yeah that explains it. I never would've thought that (presumably) the OS (windows) actually makes a difference between different letter-combinations with the control button.

As this is out of the extension's reach, I'll close this issue.

For those who may stumble upon a similar problem, this is the workaround that I'll use:

--> Install autohotkey (I already have a script on system boot run

[2019-05-08 14:27] #2532 closed

[2019-05-08 18:25] ricksladkey commented on #2532
@TKumadaki VsVim can readily tell the difference between <kbd>Tab</tab> and <kbd>Ctrl</kbd>+<kbd>I</kbd>, but vim is defined to behave so that they are interchangeable. As a result, you can cannot map them independently in VsVim because you cannot map them independently in vim.

In this particular case, @EdwinVanRooij already had a mapping for tab in his VsVim rc file:

[code]

and so that mapping

[2019-05-08 18:31] ricksladkey commented on #2528
By a coincidence, the exception problem was just reported separately in issue #2528.

[2019-05-08 18:36] ricksladkey commented on #2533
Also reported in issue #2528.

Yes, I have seen this problem as well, but the stack trace indicates that it is a Visual Studio bug related to the recent support in Visual Studio for multiple carets / selections. Unfortunately since it certainly **looks** like VsVim caused the exception, it may be hard to convince Visual Studio that the problem is not VsVim.

I believe the only ways of avoiding it

[2019-05-08 18:46] jaredpar commented on #2533
The stack trace is so thin here, just a single method. It's hard to tell what we're even doing here that could be causing this.

[2019-05-08 19:54] ricksladkey commented on #2533
@jaredpar I see now that the stack trace reported here is different (and even thinner) than the one I captured when I also experienced the same exception:

[code]

I will try to reproduce this under the debugger, since I believe I can make it happen.

[2019-05-08 20:09] ricksladkey commented on #2533
Well, this is fascinating. The invalid operation exception after `:q` **is** coming from VsVim:

[code]
but, incredibly, it is being reported by Visual Studio even though VsVim is catching that exception!

[code]

The implication is that the `ITextView` class is re-throwing or otherwise re-processing that exception through another channel. Perhaps by hanging onto the exception and the fact that an

[2019-05-08 20:11] #2067 closed

[2019-05-08 21:43] TimPatrick commented on #2528
@furgerf, I do still experience the problem, although I needed to postpone my upgrade to VS2019, so I can't speak to that version. The ":q" action to close the window is a regular trigger. As you said, it's typically "the first time" doing so when the error shows up. Also, some simple edits (like "cw" or "A" with new text then <ESC>) will bring up a similar error which I have been too lazy to docu

[2019-05-08 21:57] ricksladkey commented on #2528
@TimPatrick, @furgerf  Thanks for the insight on the exception, but that is unrelated to this issue which is "Map for :q closes two windows." The other issue is already fixed in PR #2534.

[2019-05-08 22:10] TimPatrick commented on #2528
Oops, sorry about that. Trying to reply to too many emails today!

[2019-05-08 22:20] TKumadaki commented on #2532
@ricksladkey
Thank you for correcting my mistake.
I have a lot to learn in VsVim and Vim.

[2019-05-08 22:24] ricksladkey commented on #2336
I cannot reproduce this with VS2019 and the head of master for VsVim. In my testing, even VsVim commands work in the that window:

![image](https://user-images.githubusercontent.com/2680524/57412346-67c1f480-71be-11e9-9148-02939530c36c.png)

[2019-05-08 22:39] ricksladkey commented on #2532
@TKumadaki Sorry, I was not trying to point out any mistake, but rather to clarify that the reason for the inability to distinguish between the keys is a **choice** that VsVim makes because it the project goal is, in as much as it is possible, to be compatible with vim.

As far as why vim behaves this way, the reason is that vim is designed to behave the same way over telnet / ssh (or even a seria

[2019-05-08 23:32] maximebl opened #2535 "In C++, CTRL-] opens the Find Symbol Results panel instead of going to the definition directly."
When I use CTRL-] in C++, visual studio 2017 opens a Find Symbols Results window instead of directly jumping to the definition. However if I use visual studio's F12 (Edit.GoToDefinition), it is able to jump directly to the definition.

Is there a workout to have CTRL-] have the some behavior as F12?

[2019-05-09 00:56] ricksladkey commented on #2535
@maximebl Ha, ha, that is a workaround from ages ago which no longer seems necessary. For example, see this old issue #1403 or this forum article from, wait for it, [2008](https://social.msdn.microsoft.com/Forums/vstudio/en-US/780862d6-aeb0-4822-b5e5-16e5342f2f4c/editgotodefinition-and-c-projects?forum=vcgeneral)!

Apparently, someone finally figured out C++ did it differently than everybody else

[2019-05-09 03:41] ricksladkey commented on #2535
Ha, ha, the joke's on me because this is way more complicated than I thought and the same problem which led to the original workaround is still in effect in every version of Visual Studio include VS2019.

I should just delete my previous comment because practically everything I said is wrong! But a little humble pie is good so I will let it stand with this correction.

I will keep looking at this

[2019-05-09 05:21] ricksladkey commented on #2535
OK, I found the magic incantation that makes C++ 'go to definition' work like it does when you press `F12`, thanks to this StackOverflow question and answer:

- [How do I use DTE.ExecuteCommand(“Edit.GoToDefinition”) in a VS2010 C++ macro?
](https://stackoverflow.com/questions/20168945/how-do-i-use-dte-executecommandedit-gotodefinition-in-a-vs2010-c-macro)

I am working up a PR and will submit it

[2019-05-10 05:26] ricksladkey commented on #2285
I added "normal" `<C-q>` in insert mode in a PR, but didn't realize this feature is related to that one. I'll push some more commits to PR #2531 to add this support. For reference: this is described in vim with `:help i_CTRL-V_digit`:

[code]

[2019-05-10 05:38] ricksladkey commented on #2535
I hope I have redeemed myself with PR #2525. I'm using it in my test build and it is **awesome**. Furthermore, the `:vsc` command I suggested would now actually work instead of giving the dreaded "command expects one argument". This has been an ugly problem for VsVim for a **long** time and so I'm very happy to finally make some headway against it.

[2019-05-10 06:57] jaredpar commented on #2533
That seems quite bizarre to do.

I _think_ what they're doing here is triggering a non-fatal Watson report. It's a way for the editor team to get data on the places where this type of programming error occurs. But I would also expect they wouldn't trigger a user facing exception when that happens, just silently report. Looks like my expectations are off here.

Either way, your fix should take care

[2019-05-10 14:30] jnothstine opened #2536 "Search behavior has changed"
I used to be able to search for an item with / ? * or # and it works as expected.  Then, if I wanted to change search direction, I would press ? (in the case of a previous search with / ) and the search would go the opposite direction with the value of the previous search.  Now, when I press that ?, the contents of the search is blank and I have to hit up arrow also.  Same goes with any search and

[2019-05-10 15:06] #2470 closed

[2019-05-10 15:06] #2535 closed

[2019-05-10 15:35] #2427 closed

[2019-05-10 15:42] #2533 closed

[2019-05-10 15:51] #2529 closed

[2019-05-10 16:05] ricksladkey commented on #2536
I can reproduce this bug at the head of master. As I do a lot of searching in my daily use of VsVim, you might have expected that I would also run into it. But I guess that in the same situation I usually use 'N' to search in the opposite direction. Who knows what my fingers do!

In any case, I know this used to work and so the task is to figure out which recent change caused the problem. In fact,

[2019-05-10 16:15] ricksladkey commented on #2536
@jnothstine I would like to ask what you mean by:

Because the bug that I reproduced is just the normal `/[pattern]<CR>` followed by a bare reverse search `?<CR>` which reports:

[code]

but `?*` looks like it might be some special sequence that I don't know the meaning of.

[2019-05-10 16:30] jnothstine commented on #2536
I didn’t do a good job of explaining, sorry about that.

If I press * to search down for the word under the cursor and then press ? to go up, the bug shows itself.  I use this instead of N sometimes because I want to keep going the opposite direction of the search for a couple of times.

Sent from Mail for Windows 10

From: Rick Sladkey
Sent: Friday, May 10, 2019 10:15 AM
To: VsVim/VsVim
Cc: jnoth

[2019-05-10 18:12] ricksladkey commented on #2536
@jnothstine Thanks, that's fine. Using `*` or `#` (or `g*` or `g#` for that matter) are things that should also work, but the basic `/` and `?` are broken as well. In my fix, I will test all of `/`, `?`, `*`, and `#`.

[2019-05-10 19:05] jnothstine commented on #2536
That sounds excellent, thank you!

Sent from Mail for Windows 10

From: Rick Sladkey
Sent: Friday, May 10, 2019 12:12 PM
To: VsVim/VsVim
Cc: jnothstine; Mention
Subject: Re: [VsVim/VsVim] Search behavior has changed (#2536)

@jnothstine Thanks, that's fine. Using * or # (or g* or g# for that matter) are things that should also work, but the basic / and ? are broken as well. In my fix, I will test

[2019-05-10 21:50] #2523 closed

[2019-05-11 02:56] #2020 closed

[2019-05-11 02:56] #2285 closed

[2019-05-11 02:56] #2467 closed

[2019-05-11 04:17] ricksladkey commented on #2536
This appears to be some fallout from the recent PR #2472 to make search asynchronous. I've located the problem and I'll submit a fix.

[2019-05-11 06:04] ricksladkey commented on #2177
Closing stalled investigation.

[2019-05-11 06:04] #2177 closed

[2019-05-11 06:06] ricksladkey commented on #2170
Fixed in PR #2531.

[2019-05-11 06:06] #2170 closed

[2019-05-11 06:20] ricksladkey commented on #2072
Closing stale investigation.

[2019-05-11 06:20] #2072 closed

[2019-05-11 06:24] ricksladkey commented on #1988
Closing as duplicate of external issue https://github.com/jaredpar/EasyMotion/issues/21.

[2019-05-11 06:24] #1988 closed

[2019-05-11 06:25] ricksladkey commented on #2043
Closing as duplicate of external issue https://github.com/jaredpar/EasyMotion/issues/21.

[2019-05-11 06:25] #2043 closed

[2019-05-11 06:31] ricksladkey commented on #1957
Closing as won't fix because changing keyboard bindings is a somewhat risky and fairly resource-intensive operation that we wish to avoid if at all possible.

Any specific key that is handled by VsVim but doesn't behave as though the key were handled by Visual Studio when VsVim is disabled should be reported as a separate issue.

[2019-05-11 06:31] #1957 closed

[2019-05-11 13:42] TKumadaki opened #2538 "System.ArgumentException in VB.Net"
I confirmed that it occurs in the following environment.
Visual Studio 2017, 2019
VsVim 2.7.1422

Create a console application project in VB.Net.

[code]

Move to "Sub Main()" of the above code.
Type `o`
Type "Dim str as string"
Type `Esc`
Type `j`
An exception occurs.

This is ActivityLog.xml.

[ActivityLog.xml.txt](https://github.com/VsVim/VsVim/files/3169087/ActivityLog.xml.txt)

[2019-05-11 15:52] ricksladkey commented on #2538
Ha, ha it is super helpful when the exception text is localized into Japanese, except when the investigator doesn't speak Japanese!

First, there is no stack trace. This is a clear sign that "protected operations" is somehow involved.

Second, the exception text is HTML entity encoded which makes it completely unreadable and I can find no application to easily display entity-encoded structured XML

[2019-05-11 16:28] TKumadaki commented on #2538
@ricksladkey
I'm sorry.
I was not aware that ActivityLog.xml is in Japanese.
I upload ActivityLog.xml when I localized Visual Studio to English.
It seems that the same message is output as you analyzed.
I examined this problem but could not identify where the error occurred.

[ActivityLog.xml.txt](https://github.com/VsVim/VsVim/files/3169256/ActivityLog.xml.txt)

[2019-05-11 16:36] TKumadaki commented on #2538
I do not know if this is useful information,
The following is the output information when an error occurs.

[code]

[2019-05-11 17:07] ricksladkey commented on #2538
Yes, that is interest because this pair of log messages:

[code]

Implies that the `j` key, when processed by the current mode (which is presumably normal), produced an operation that somehow caused the text buffer to be modified. Obviously, `j` is not supposed to modify the buffer.

It seems unlikely, but you wouldn't happen to have the `j` key mapped would you?

In any case, I haven't been able

[2019-05-11 17:20] ricksladkey commented on #2538
Reviewing the other issues, this problem is usually caused when some other component of Visual Studio (such as the editor, a language service, or another extension besides VsVim) modifies the text buffer during some intermediate step which does not normally modify the text buffer. In such a situation, VsVim takes a snapshot point from the buffer that is recorded in a local variable, and uses it as

[2019-05-11 17:50] ricksladkey commented on #2538
Another test you can do in this situation is to save the buffer with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>S</kbd> before you press `j`, and then after you press `j` and after you dismiss the exception, I would expect that Visual Studio thinks the buffer is modified, i.e. shows, say, "Module1.vb*" in the tab header. At that point, you can use the dropdown of the `Undo` button on the toolbar to fin

[2019-05-11 18:21] ricksladkey commented on #2538
OK, using the insight provided in issue #119 (from 2010!), I was able to come up with a repro for this.

The VisualBasic "PrettyLister" is apparently something that can reformat a line of VB code when you **navigate away** from the line. So the trick to causing the repro is to introduce some issue when you are typing the line in the first place that will cause it to be reformatted when you navigat

[2019-05-11 18:32] ricksladkey commented on #2538
Also, as predicted, we indeed catch this exception, so just like the situation in issue #2533, an exception that we have caught and handled bubbles up to the user and is very unhelpfully reported with no stack trace. This new ultra-strict behavior of Visual Studio means that there are some exceptions that we cannot handle by catching; we must instead prevent them from happening in the first place.

[2019-05-11 20:03] ricksladkey commented on #2538
For reference, here is what the undo history looks like when reproducing the bug:

![image](https://user-images.githubusercontent.com/2680524/57574391-44898600-7406-11e9-87ea-fbe602e68df4.png)

[2019-05-11 23:45] TKumadaki commented on #2538
@ricksladkey
Thanks to your detailed explanation I understood what is happening here.
I have confirmed that your branch not occur an error.
(Visual Studio 2017, 2019)

I did not know that there was such a way.
I think next time I can find out more.

[2019-05-12 00:14] ricksladkey commented on #2249
Closing due to stalled investigation.

[2019-05-12 00:14] #2249 closed

[2019-05-12 01:21] ricksladkey commented on #1885
Although this issue is older, I'm closing it as a duplicate of #1921.

[2019-05-12 01:21] #1885 closed

[2019-05-12 01:24] ricksladkey commented on #1839
Closing as duplicate of external issue https://github.com/jaredpar/EasyMotion/issues/3

[2019-05-12 01:24] #1839 closed

[2019-05-12 01:32] ricksladkey commented on #1819
Closing stalled investigation for Visual Studio version no longer supported.

[2019-05-12 01:32] #1819 closed

[2019-05-12 01:39] ricksladkey commented on #1781
Closing because there is a suitable workaround.

[2019-05-12 01:39] #1781 closed

[2019-05-12 01:50] ricksladkey commented on #1761
This is not workable because at the time the vim rc file is loaded, other extensions might not have loaded, so we cannot validate Visual Studio commands until we execute them.

[2019-05-12 01:50] #1761 closed

[2019-05-12 01:54] ricksladkey commented on #1643
The `gd` command could only cause a parse error if it was a mapping.

[2019-05-12 01:54] #1643 closed

[2019-05-12 01:57] ricksladkey commented on #1620
Closing this because the Visual Studio interface for "Find in Files" is much more feature rich than anything we could hope to duplicate and can be operated entirely with the keyboard.

[2019-05-12 01:57] #1620 closed

[2019-05-12 02:07] ricksladkey commented on #963
PR #2179 makes this unnecessary.

[2019-05-12 02:07] #963 closed

[2019-05-12 02:12] ricksladkey commented on #2528
@furgerf As a test, could you disable your vim rc files in Tools -> Options -> VsVim, restart Visual Studio and try to type the command mapping in directly and report back whether it still closes two windows? If that still causes the problem, I am at a loss on how to proceed without being able to reproduce it.

[2019-05-12 06:06] ricksladkey commented on #2420
This turns out to be not as hard as I had anticipated, and is in fact the best solution. We simply repeat the insertion and the insertion command infrastructure handles any embedded tabs just like it did during the first insertion. In other words, the text that gets inserted into the second and subsequent lines isn't deduced and then inserted, it is simply repeated.

I spent way too much time fret

[2019-05-12 07:31] furgerf commented on #2528
Unfortunately, the manually-created map still closes two windows at once. Is there some other command I could try mapping to achieve the desired effect of closing the current "window"? I'm not sure how buffers work in VsVim, maybe there's something else I could try which could give a hint to the source of the problem.

I've tried `:bd` before and now also `:tabclose`, which don't seem to be suppor

[2019-05-12 16:19] ricksladkey commented on #2528
Sure, there are two other readily available alternatives:

[code]

or

[code]

If either of both of these do not cause the same symptom, then you have a workaround. However, we still won't know why the mapping for `:q` closes two windows in your environment.

[2019-05-12 16:30] ricksladkey opened #2541 "List of supported features is out-of-date"
The list of support features that is included in the repository, https://github.com/VsVim/VsVim/blob/master/Documentation/Supported%20Features.md, is out-of-date.

If it were up-to-date, when PRs were proposed that implemented new features, a review could request that it be documented in the list of supported features.

[2019-05-12 21:29] ricksladkey opened #2542 "Improve help"
The `:help` command in VsVim displays a link when it could easily navigate to it. In addition, in spite of broad compatibility with many aspects of vim, there is no way to get help on how vim would behave even if the emulation were perfect.

For example, the `:sort` command is completely implemented, but the details of how it works are so obscure that no user could be expected to remember the synt

[2019-05-13 08:01] furgerf commented on #2528
Hm, that doesn't work for me either. `<C-w><C-c>` opens the class view - I guess that could be overwritten from ReSharper.

`:vsc Window.CloseDocumentWindow<CR>` also closes two windows when called from the map - is this what's being called by `:q`?

I tried some more things, with the following results:
- When I omit the `<CR>` (`:nnoremap <BS> :vsc Window.CloseDocumentWindow`), I see `:vsc Window

[2019-05-13 13:13] TKumadaki commented on #2528
I think this is due to Resharper.
I installed the trial version of Resharper and confirmed that this problem was reproduced.
This problem does not occur if you disable Resharper.

@furgerf
Can you disable Resharper and see if this happens?

[2019-05-13 20:03] #2542 closed

[2019-05-13 23:19] #2536 closed

[2019-05-13 23:20] jaredpar commented on #2538
Indeed that is a behavior of the pretty lister

In general if we are holding onto a `SnapshotPoint` or really any snapshot value and do an operation that can edit the buffer then we need to re-map it to a new snapshot value. This will be a no-op when the `ITextBuffer` doesn't change but result in an actual `IBufferGraph` call when it does. This seems like another case where we may need to do that.

[2019-05-13 23:41] ricksladkey commented on #2538
Sorry, I mixed two problems in the same comment. The problem described in this issue is fixed by the PR that I submitted. But a separate and much more troublesome general problem is this:

Solving this particular issue was made much harder by Visual Studio for two big reasons:

1) It unilaterally decides to report exceptions that we have caught for the express reason that they not be reported
2) T

[2019-05-14 05:19] ricksladkey commented on #2378
Wiki updated with the requested information. Updating the out-of-date supported features created as a separate issue #2541.

[2019-05-14 05:19] #2378 closed

[2019-05-14 06:12] ricksladkey commented on #540
This was fixed in PR #2163.

[2019-05-14 06:12] #540 closed

[2019-05-14 07:36] ricksladkey commented on #760
Won't fix because we shouldn't switch to a tab that we cannot switch out of. If you want the old behavior, set the keys to "Handled by Visual Studio".

[2019-05-14 07:36] #760 closed

[2019-05-14 07:41] ricksladkey commented on #983
Fixed by the "Clean Macro Recording" setting.

[2019-05-14 07:41] #983 closed

[2019-05-14 07:46] ricksladkey commented on #1038
This feature was implemented in PR #2229.

[2019-05-14 07:46] #1038 closed

[2019-05-14 07:47] furgerf commented on #2528
I was wondering earlier if I should mention my other extensions - but shouldn't they be independent? In this case, sorry for neglecting that. Beside ReSharper Ultimate, I use DevExpress, Git Diff Margin, and the Productivity Power Tools.

I [suspended](https://resharper-support.jetbrains.com/hc/en-us/articles/206546999-How-can-I-temporary-disable-turn-off-ReSharper-) Resharper but the problem stil

[2019-05-14 12:35] TKumadaki commented on #2528
As you say, it did not solve in the way you linked.

Here's how I disabled:
Extensions->Manage Extensions->JetBrains Resharper->Disable

![resharper](https://user-images.githubusercontent.com/38175836/57698207-0d2e0a00-7690-11e9-9718-b187ce55f0ab.png)

Unfortunately when installing Resharper
VsVim may not work as we expected.
So it is necessary that we find out if this problem is caused by Resharp

[2019-05-14 15:14] ricksladkey commented on #2538
@jaredpar I filed an issue for the general problem here:

* [Exceptions caught and handled by extensions are still reported by Visual Studio](https://developercommunity.visualstudio.com/content/problem/566964/exceptions-caught-and-handled-by-extensions-are-st.html)

[2019-05-14 17:35] jaredpar commented on #2538
@madskristensen for the usability issue here with extension authors. This does appear problematic here. It's unclear why VS has changed here.

[2019-05-14 18:49] #2538 closed

[2019-05-14 21:26] ricksladkey commented on #1210
This was implemented in PR #1695. If a specific recorded macro does not work correctly when executed as a normal command on a line range, please open a new issue.

[2019-05-14 21:26] #1210 closed

[2019-05-15 06:56] furgerf commented on #2528
Ah yes, my map works as expected too with ReSharper disabled.

Please let me know if I can help in some way.

[2019-05-15 16:12] jayhill commented on #1150
It looks like this has only been partially implemented -- only for replace scenarios, not pattern searches.
For example, searching `/foo\zs` should place the caret _after_ the sequence `foo`, but the caret is instead placed at the `f`.
I'll try to take a stab at this in the week or two, but if anyone with more familiarity wants to jump on it, that would be great too.

[2019-05-15 17:03] CaseyChesshir commented on #2170
@ricksladkey thank you!

[2019-05-15 17:13] ricksladkey commented on #1150
@jayhill Thanks for offering to contribute! Please open a new issue covering the specific use case you described, i.e. the caret position during incremental search and at search completion for patterns containing `\zs` or `\ze`.

[2019-05-15 17:52] ricksladkey opened #2546 "Loading a file doesn't scroll the new window correctly unless 'scrolloff' is set"
If `:set scrolloff=0` is in effect (the default), when navigating to an unloaded mark, or going to a tag (e.g using `:vimhelp`), the caret is properly positioned in the new window, but the window does not scroll to the ensure that the caret is visible.

[2019-05-15 21:09] ricksladkey commented on #2528
Looks like @TKumadaki found the area of code that is involved. I don't have R# and I'm not really motivated to attempt to install it. I believe @dhmgit uses both VsVim and R# and occasionally submits PRs so maybe he would do us a solid and debug / fix this! We can always hope.

But, if I were to speculate, my guess would be that the special duplicate key processing handling that VsVim does for R#

[2019-05-15 22:57] ricksladkey commented on #2528
Looks like the issue is loosely related to PR #2334, which dealt with double-escape in R#.

[2019-05-16 03:57] ricksladkey opened #2548 "Vim help files use the user's tab settings rather than those specified in the files"
Inline vim help are classified as Visual Studio text files and currently display using the user's tab settings, which are often some other value than eight. The help files use tabs extensively and expect the setting `:set tabstop=8` to be in effect. This is accomplished via the modeline mechanism, such as this line near the bottom of help.txt:

[code]

Although full modeline support is desirable,

[2019-05-16 07:51] furgerf commented on #2528
I'm not sure this is necessarily a double-processing issue, since it seems to depend on what key the action is mapped to.

I've quickly double-checked to verify that the double-closing occurs when mapping to `<BS>` but not when mapping to `<leader><leader>`, `==`, or `=`. Maybe this has something to do with how backspace is handled.

[2019-05-16 17:48] ricksladkey commented on #2528
@furgerf Your experiments confirm that it is in fact a double-processing issue that is specific to the backspace key, as I suggested. The double-processing symptom is only relevant to certain keys like escape, backspace and return.

But, yes, if you can retrain your fingers, you have a workaround for the problem: use almost any other key than backspace.

[2019-05-17 13:03] TKumadaki commented on #2528
This is an extract from VsVim's Output that is likely to be relevant.

**Visual Studio 2017 + Resharper**
[code]
**Visual Studio 2019 + Resharper**
[code]

The `> VsVim VimKeyProcessor :: KeyDown Back None None` in Vs2019 seems to be another buffer.
In order to solve this problem, I think that it is necessary to define a class like `VimBufferCoordinatorHost` and monitor the status of all `VimBuffe

[2019-05-17 13:32] TKumadaki opened #2550 "Suggest using template"
For example, VsCodeVim has the following template.

**Bug report**
[code]
The following template is minimal. Still, I think this will help solve the problem.

[code]

[2019-05-17 13:51] EdwinVanRooij opened #2551 "Ctrl+d remap in .vimrc is undetected"
Similar to my recent issue #2532. The issue there was that ctrl+i cannot be remapped in both Vim and VsVim, by design.

The issue here is that I can remap ctrl+d in Vim, but not in VsVim.

The mapping `nnoremap <C-d>{d}` will delete the entire paragraph where the cursor is currently in (--> "delete around paragraph" in vim terms).

In Vim this works, in VsVim the cursor still uses the default beha

[2019-05-19 03:16] ricksladkey commented on #2551
I'm not sure if there is a typo in your bug report, but the correct syntax for a mapping includes a space:

[code]

The fact that `<C-d>` scrolls by half a screen when you type it means that `<C-d>` is correctly set to "Handled by VsVim". So if you correct the mapping, I'm pretty sure that it will work.

[2019-05-19 04:17] ricksladkey opened #2553 "Display the '^' character when entering literal characters"
Unlike vim, the recently supported ability to enter literal characters in insert mode (e.g. `<C-q>[digits]` ) does not display the `^` character to remind you that you are in the literal entry sub-mode.

[2019-05-19 21:20] #2420 closed

[2019-05-19 21:20] #2553 closed

[2019-05-20 04:20] #886 closed

[2019-05-20 04:20] #2548 closed

[2019-05-20 07:22] 7c78 opened #2555 "navigation through Intelisense with tab key"
Is it possible?

This question is unanswered for 3 years
https://stackoverflow.com/questions/35127328/cycle-visual-studio-intellisense-context-menu-using-tab

[2019-05-20 07:52] MartinL0815 commented on #2420
Thanks @ricksladkey!
Thanks for all the investigations and the work you have done to solve this issue!

[2019-05-20 09:01] EdwinVanRooij commented on #2551
Okay so I just did this:

Added `nnoremap <C-d> {d}` to my .vimrc and now it works in VsVim. I think I may know why this didn't work previously and it's pretty embarrassing. This is my current setup.

- I work on Windows, but I use Vim in the Ubuntu Linux subsystem as well. This means I have two different .vimrc files. One on the linux subsystem, and one on 'local' windows OS.
- I changed the .vim

[2019-05-20 09:01] #2551 closed

[2019-05-20 15:56] olegtk commented on #2533
No, the editor is not reporting exceptions handled by extensions.  The call stack above should not cause the exception dialog and ActivityLog entry if Vim.UI.Wpf.Implementation.BlockCaret.BlockCaret.IsRealCaretVisible handles the exception.
It's probably a red herring, there is a known editor bug related to SelectionUIProperties.get_ContainingTextViewLine and VsVim perhaps just happen to trigger i

[2019-05-20 16:07] olegtk commented on #2538
We haven't changed editor extension exception handling (except that in 16.1 it's now reported as an infobar instead of a dialog), we should still be only showing the dialog for the unhandled exceptions. Are there simple repro steps I can try to investigate this?

[2019-05-20 18:47] jaredpar commented on #2550
I agree we should add this and link to it from our CONTRIBUTING.md file. Thinking a short bit I think I'd go with the following template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**
A clear and concise description of wh

[2019-05-20 20:35] ricksladkey commented on #2533
@olegtk

I admit that it hard to believe, but I did not expect that you would reject the outcome of my detailed investigation so definitively! I guess I will have write a trivial sample extension that repros the symptom.

I will respond with my test extension over at the Visual Studio defect I reported here:

* https://developercommunity.visualstudio.com/content/problem/566964/exceptions-caught-an

[2019-05-20 20:39] #2161 closed

[2019-05-20 20:57] olegtk commented on #2533
Well, editor extensions and components throw so many exceptions we would see this dialog all the time so I'm confident this is not the case. Having said that, handling exceptions in an extensible system as you pointed out is a tricky business, that's why the message is intentionally vague: "This **may** be caused by an extension" and <source>Editor **or** Editor Extension</source>. This is likely

[2019-05-20 21:44] ricksladkey commented on #2533
@olegtk I disassembled the relevant Visual Studio code and it seems that that specific function (as opposed to any function throwing any exception), throws its own exception, catches it itself, reports it, and then I'm not sure, but maybe returns null? The try / filter / catch is not being properly disassembled into C# by my tool.

The C# might look something like this:

[code]

which is pretty pr

[2019-05-20 21:47] ricksladkey commented on #2533
@olegtk In any case, I'm certain that this exception is the only exception thrown between the closing of the document window and the reporting of the dialog, because I was in the debugger and the debugger logs all thrown exceptions to the output window. Furthermore, my exception settings were to break on that specific exception.

[2019-05-20 21:48] #1153 closed

[2019-05-20 22:01] ricksladkey commented on #2538
@olegtk

Disassembling the IL for the method that threw the exception is this issue produces this:

[code]

so it is clear now that no caller can prevent this exception from being reported to the user by using a try / catch block.

[2019-05-20 22:02] ricksladkey commented on #2533
@olegtk I analyzed the "other" issue, which is a different function, but exhibits the same symptoms of "an uncatchable exception" here:

* https://github.com/VsVim/VsVim/issues/2538#issuecomment-494166578

[2019-05-20 22:12] olegtk commented on #2533
Oh, you are right, including your original claim :), we do show this error dialog on handled exceptions.
I'm also right because this is not intentional. Looking at the code history it seems the intent of using  GuardedOperations.HandleException in these places was to log fault telemetry so we could investigate later, but not to show the error dialog.
We are going to fix it as https://developercomm

[2019-05-20 22:17] ricksladkey commented on #2533
@olegtk Woohoo! Teamwork! Thanks for looking into this for us.

[2019-05-20 22:47] TKumadaki commented on #2550
Checkboxes are useful if available.
:-)

[2019-05-20 23:50] ricksladkey commented on #2550
@jaredpar I think @TKumadaki means an issue template that is enforced in the same way as other GitHub projects, e.g.

- https://github.com/VSCodeVim/Vim/issues/new/choose

I don't have permission to adjust the VsVim repository settings and so I don't think I could take care of this by myself.

[2019-05-21 13:45] TKumadaki commented on #2550
I did not explain in detail.
What I would like to suggest is what @ricksladkey  is saying.

[2019-05-21 15:55] sqlkoala commented on #2541
Hi @ricksladkey
I think I can do this (on weekends). Also, I thought about writing an Intro/Setup document ( getting vsvim to run productive after install. Topics: vimrc, keybindings vs visual studio)

[2019-05-21 17:34] #2466 closed

[2019-05-21 17:42] jaredpar opened #2557 "Experimenting with Azure DevOps"
Part of completing #2549 meant that there is now an observable difference between our behaviors between VS2019 and VS2017 (and earlier). This means in order to full validate our build we essentially need to run tests twice.

This makes sense conceptually. VsVim needs to run on different platforms with different behaviors. It makes sense to validate the implementation on each of those platforms. Up

[2019-05-21 19:17] ricksladkey commented on #2541
Wow, @sqlkoala, that would be fantastic.  Thanks for offering to help.

[2019-05-21 19:26] ricksladkey commented on #2557
This does not specifically relate to which back end CI is done on, but as far as testing, I have been running into very long test times compared to previous versions of VsVim and I was waiting for the release of 2.7.0 before I look any further into it.

Two testing issues I was hoping to address:

1. I think the tests mostly finish in a couple of minutes but actually take anywhere from 5 to 15 min

[2019-05-21 20:06] jaredpar commented on #2557
@ricksladkey

Agree. I've seen that happen a couple times but hadn't dug into it yet. Now that you mention it though I've seen it more recently on my laptop where I use Test Explorer exclusively. Wonder if that is the key ... Then again I use Test Explorer while working on Roslyn and VsVim shares the same WPF emulation layer and I don't see the issue there. Definitely should dig into this though a

[2019-05-22 04:23] ricksladkey commented on #2557
Not to hijack this thread, but to at least finish the thought, I did get as far as watching the tests when run from the command line.  In that case, XUnit test runner actually prints out that it is completed, the number of tests, time to "completion" and then just sits there for a few more minutes using no CPU before exiting. I attached with the debugger and it is just waiting in the dispatcher. I

[2019-05-22 04:48] ricksladkey commented on #2550
I've never had to set up any issue templates, but apparently it isn't ultimately configured through the project settings, but through the presence of certain files within the repository itself as described [here](https://help.github.com/en/articles/creating-issue-templates-for-your-repository). That article describes a "wizard" like process, but all it does it create a PR with the files.

So the t

[2019-05-22 05:34] ricksladkey commented on #1277
Closing because this now works correctly at the head of VsVim master.

[2019-05-22 05:34] #1277 closed

[2019-05-22 05:37] ricksladkey commented on #1129
Closing stalled investigation.

[2019-05-22 05:37] #1129 closed

[2019-05-22 05:41] ricksladkey commented on #1103
This still does not work correctly. Executing the mapping causes two garbage characters to be appended rather than moving the caret. I'm guessing that characters are ASCII NUL.

[2019-05-22 05:47] ricksladkey commented on #1599
Closing because `:set backspace=indent,eol,start` is now the default for anyone without an rcfile and `set backspace=` for anyone with an rcfile, exactly like gvim 8.1.

[2019-05-22 05:47] #1599 closed

[2019-05-22 15:22] jnothstine opened #2558 "Map with leader and s does not work"
I have a map like this:

map <SPACE> <leader>
nnoremap <leader>s :vsc SolutionExplorer.SyncWithActiveDocument<CR>

When I use it, vsvim just goes into substitute as if I presses s.  If I map x instead of s, it works fine.  I have several other maps like this and the only one that doesn't want to cooperate is the s.  This used to work and has only recently been broken.  Unfortunately, I can't ident

[2019-05-22 15:24] jnothstine commented on #2558
Never mind.  Don't know what I did but I just tried it again and it worked.  Sorry about that.

[2019-05-22 15:24] #2558 closed

[2019-05-22 22:46] jaredpar commented on #2557
@ricksladkey coincidentally ran into this today and it's puzzling. xunit is currently in the middle of unloading the `AppDomain` that is used to run the tests. The STA thread is inside `Dispatcher.Run` and the implementation is inside native code, specifically `GetMessageW`.

That is blocking the `AppDomain` unload as it can't finish until all threads in the `AppDomain` complete and unload can't i

[2019-05-22 22:47] TKumadaki commented on #2550
I understood that thanks to @ricksladkey, I can create a PR for this.
I would like to work on the weekend.

[2019-05-23 11:03] mikehadlow opened #2560 ""+y Causes exception."
Microsoft Visual Studio 2019 version: 16.0.28916.169
VsVim 2.6.0.0
[ActivityLog.log](https://github.com/VsVim/VsVim/files/3211772/ActivityLog.log)

Copy to system clipboard ( "+y ) causes an exception in VS2019. It only happens the first time, after dismissing the warning, all subsequent tries pass.
![image](https://user-images.githubusercontent.com/223097/58247724-3e729e00-7d52-11e9-9543-91592f45

[2019-05-23 15:02] Loffe opened #2561 "Format paragraph does not respect unix line endings"
Using `gq` to format a block of text inserts windows line endings (CRLF), even though the file is in unix encoding (LF).

Expected behavior is to use the current line ending character.

Related issues: #621 #333

[2019-05-23 15:21] ricksladkey commented on #2460
Correction, we **do** plan to ignore clipboard exceptions (by default) and that was implemented in PR #2521. Closing this instead as a duplicate of the older issue #2067.

[2019-05-23 15:25] ricksladkey commented on #2560
Thank you very much for taking the time to file an issue. This bug is a duplicate of the older issue #2067, which was closed by PR #2521.

VsVim at the head of master now ignores all clipboard exceptions by default. This feature will become available in VsVim 2.7.0, which we are tentatively planning to release soon.